.lk-history {
    width: 100%;
    flex: 1 1 auto;
    &-list {
        &.hide {
            display: none;
        }
        &-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 29px 42px 23px 24px;
            background-color: white;
            transition: all 0.2s ease;
            @media screen and (max-width: 980px){
                flex-wrap: wrap;
                justify-content: flex-end;
            }
            @media screen and (max-width: 640px){
                padding: 1rem;
            }
            cursor: pointer;
            &:hover {
                background-color: #f3f3f3;
                .lk-history-list-item__label:not(.mod-repeat):not(.mod-delete) {
                    opacity: 1;
                    @media screen and (max-width: 640px){
                        opacity: 0;
                    }
                }
                .lk-history-list-item-repeat {
                    svg{
                        fill: #a4a4a4;

                    }
                    &:hover {
                        svg {
                            fill: #232833;
                        }
                    }
                }
                .lk-history-list-item-close {
                    svg{
                        fill: #a4a4a4;

                    }
                    &:hover {
                        svg {
                            fill: #232833;
                        }
                    }
                }
            }
            &:not(:last-child){
                border-bottom: 1px solid #f3f3f3;
            }
            &.mod-active {
                background-color: #fff;
                margin-bottom: 20px;
                box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
                @media screen and (max-width: 640px){
                    margin-bottom: 0;
                }
                .lk-history-list-item__label:not(.mod-repeat):not(.mod-delete) {
                    opacity: 1;
                    @media screen and (max-width: 640px){
                        top: -12px;
                    }
                }
                .lk-history-list-item-status{
                    margin-right: 60px;
                    @media screen and (max-width: 1170px){
                        margin-right: 20px;
                    }
                    @media screen and (max-width: 640px){
                        margin-right: auto;
                    }
                    .lk-history-list-item__label{
                        @media screen and (max-width: 640px){
                            display: none;
                        }

                    }
                }
                .lk-history-list-item-number{
                    @media screen and (max-width: 980px){
                        width: 50%;
                        margin: 0 0 20px 0;
                    }
                    @media screen and (max-width: 640px){
                        width: 100%;
                    }
                }
                .lk-history-list-item-date{
                    @media screen and (max-width: 640px){
                        width: 50%;
                    }
                }
                .lk-history-list-item-time{
                    @media screen and (max-width: 640px){
                        width: 50%;
                    }
                }
                .lk-history-list-item-pay{
                    @media screen and (max-width: 640px){
                        width: 45%;
                    }
                    & + .lk-history-list-item-status{
                        @media screen and (max-width: 640px){
                            width: 100%;
                        }
                    }
                }
                .lk-history-list-item-status{
                    @media screen and (max-width: 640px){
                        width: 45%;
                    }
                }
                .lk-history-list-item-repeat{
                    @media screen and (max-width: 1170px){
                        margin-right: 20px;
                    }
                }
                .lk-history-list-item-close svg {
                    fill: #a4a4a4;
                }
            }
            &-date {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 28px;
                position: relative;
                font-size: 14px;
                line-height: 16px;
                color: #989898;
                font-weight: 300;
                margin-right: 10px;
                width: 9.85%;
                @media screen and (max-width: 980px){
                    width: calc(25% - 10px);
                    margin: 0 10px 20px 0;
                }
                @media screen and (max-width: 640px){
                    width: 100%;
                    height: 22px;
                    margin: 0;
                    order: 3;
                }
            }
            &-time {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 28px;
                position: relative;
                font-size: 14px;
                line-height: 16px;
                color: #989898;
                font-weight: 300;
                margin-right: 30px;
                width: 11.52%;
                @media screen and (max-width: 980px){
                    width: calc(25% - 10px);
                    margin: 0 10px 20px 0;
                }
                @media screen and (max-width: 640px){
                    width: 100%;
                    height: 22px;
                    margin: 0 auto 0 0;
                    order: 4;
                }
            }
            &-number {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 28px;
                position: relative;
                font-size: 16px;
                line-height: 18px;
                color: #232833;
                font-weight: 300;
                margin-right: 10px;
                width: 15.24%;
                @media screen and (max-width: 980px){
                    width: calc(25% - 10px);
                    margin: 0 10px 20px 0;
                }
                @media screen and (max-width: 640px){
                    width: 50%;
                    margin: 0;
                    order: 1;
                }
            }
            &-price {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 28px;
                position: relative;
                font-size: 16px;
                line-height: 18px;
                color: #232833;
                font-weight: 500;
                margin-right: 10px;
                width: 18.96%;
                @media screen and (max-width: 980px){
                    width: 25%;
                    margin: 0 0 20px 0;
                    justify-content: flex-end;
                    text-align: right;
                }
                @media screen and (max-width: 640px){
                    width: 50%;
                    margin: 0;
                    order: 2;
                }
            }
            &-pay {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 28px;
                position: relative;
                margin-right: 10px;
                @media screen and (max-width: 1170px){
                    margin-right: 20px;
                }
                @media screen and (max-width: 980px){
                    margin-left: auto;
                    margin-right: 0;
                }
                @media screen and (max-width: 640px){
                    width: 60%;
                    margin: 10px auto 0 0;
                    order: 6;
                }

            }
            &-status {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 28px;
                position: relative;
                margin-right: 80px;
                margin-left: auto;
                @media screen and (max-width: 1170px){
                    margin-right: 20px;
                }
                @media screen and (max-width: 980px){
                    margin-left: 20px;
                    justify-self: flex-end;
                }
                @media screen and (max-width: 640px){
                    order: 5;
                    width: 60%;
                    margin: 10px auto 0 0;
                }
            }
            &-repeat {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 28px;
                position: relative;
                margin-right: 42px;
                @media screen and (max-width: 1170px){
                    margin-right: 20px;
                }
                @media screen and (max-width: 640px){
                    order: 7;
                    margin-top: 10px;
                }
                svg {
                    width: 19px;
                    height: 20px;
                    transition: all 0.2s ease;
                    fill: #c5c6c8;
                }
                &:hover {
                    svg {
                        fill: #232833;
                    }
                    .mod-repeat{
                        opacity: 1;
                        @media screen and (max-width: 640px){
                            opacity: 0;
                        }
                    }
                }

            }
            &-close {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 18px;
                height: 28px;
                @media screen and (max-width: 640px){
                    order: 8;
                    margin-top: 10px;
                }
                svg {
                    width: 18px;
                    height: 21px;
                    transition: all 0.2s ease;
                    fill: #c5c6c8;
                }
                &:hover {
                    svg {
                        fill: #232833;
                    }
                    .mod-delete{
                        opacity: 1;
                        @media screen and (max-width: 640px){
                            opacity: 0;
                        }
                    }
                }
            }
            &__label {
                position: absolute;
                display: block;
                opacity: 0;
                left: 0;
                right: 0;
                top: -19px;
                font-size: 12px;
                line-height: 14px;
                color: #232833;
                font-style: normal;
                font-weight: 300;
                transition: all 0.2s ease;
            }
        }
        &-more {
            display: none;
            &.show {
                display: block;
            }
            &-item {
                &__title {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-family: "Gilroy";
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 38px;
                    padding-bottom: 21px;
                    padding-right: 55px;
                    color: #383838;
                    text-transform: uppercase;
                    @media screen and (max-width: 768px){
                        font-size: 32px;
                        line-height: 36px;
                        padding-top: 20px;
                        padding-bottom: 21px;
                    }
                    @media (max-width: 550px){
                        font-size: 20px;
                        line-height: 20px;
                        padding-top: 24px;
                    }
                }
                &__back {
                    display: flex;
                    align-items: center;
                    margin-right: 18px;
                    cursor: pointer;
                    svg {
                        width: 30px;
                        height: 25px;
                    }
                }
            }
            &-row {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 14px 0;
                border-bottom: 1px solid #f3f3f3;
            }
            &-right {
                flex: 0 0 auto;
                margin-left: auto;
            }
            &__name{
                font-size: 16px;
                color: #444;
                font-weight: 300;
                margin-bottom: 0;

            }
            &__amount {
                font-size: 16px;
                line-height: 1;
                color: #232833;
                padding-top: 35px;
                font-weight: 300;
                @media screen and (max-width: 640px){
                    padding-top: 28px;
                }
            }
            &__allprice {
                font-size: 25px;
                line-height: 1;
                color: #232833;
                font-weight: bold;
                text-align: right;
                margin-bottom: 10px;
                @media screen and (max-width: 640px){
                    font-size: 18px;
                }

            }
            &__profit {
                font-size: 16px;
                line-height: 1;
                color: #232833;
                text-align: right;
                font-weight: 300;
            }
            &__category {
                font-size: 15px;
                line-height: 18px;
                color: #5ab55e;
                font-weight: bold;
                margin-top: 20px;
            }
            &__img {
                width: 58px;
                height: 58px;
                background: none 50% 50% no-repeat;
                background-color: white;
                background-size: contain;
                margin-right: 16px;
                @media screen and (max-width: 640px){
                    margin-right: 10px;
                }
            }
            &__description {
                margin-right: 12px;
            }
            &__price {
                font-size: 15px;
                line-height: 17px;
                color: #232833;
                font-weight: 300;
                text-align: right;
                .mod-amount{
                    display: inline-block;
                    min-width: 52px;
                    text-align: left;
                    @media screen and (max-width: 640px){
                        min-width: auto;
                    }
                }
                .mod-price{
                    display: inline-block;
                    font-weight: 500;
                    min-width: 58px;
                    @media screen and (max-width: 640px){
                        min-width: auto;
                    }
                }
            }
            &__bottom {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 16px;
                line-height: 18px;
                font-weight: 300;
                color: #232833;
                margin-top: 40px;
                margin-bottom: 32px;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .mod-complete {
        display: block;
        box-sizing: border-box;
        font-size: 13px;
        color: white;
        line-height: 21px;
        background-color: #00a1b4;
        padding: 3px 10px 4px;
        border-radius: 14px;
        text-align: center;
        font-weight: 300;
        width: 111px;
    }

    .mod-progress {
        display: block;
        box-sizing: border-box;
        font-size: 13px;
        color: #232833;
        line-height: 21px;
        background-color: #f0dd78;
        padding: 3px 10px 4px;
        border-radius: 14px;
        text-align: center;
        font-weight: 300;
        width: 111px;
    }

    .mod-canceled {
        display: block;
        box-sizing: border-box;
        font-size: 13px;
        color: #232833;
        line-height: 21px;
        background-color: #e4ecf2;
        padding: 3px 10px 4px;
        border-radius: 14px;
        text-align: center;
        font-weight: 300;
        width: 111px;
    }
    .mod-pay {
        display: block;
        box-sizing: border-box;
        font-size: 13px;
        color: white;
        line-height: 21px;
        background-color: #e6007d;
        padding: 3px 10px 4px;
        border-radius: 14px;
        text-align: center;
        font-weight: 300;
        width: 111px;
        transition: all .2s ease;
        &:hover{
            background-color: #cb0a73;
        }
    }

    .mod-repeat {
        opacity: 0;
        left: -20px;
        transition: all .2s ease;
    }

    .mod-center {
        text-align: center;
    }
    .mod-delete {
        opacity: 0;
        left: -12px;
        transition: all .2s ease;
    }

    .mod-repeat-btn {
        display: block;
        box-sizing: border-box;
        font-size: 13px;
        color: white;
        line-height: 21px;
        background-color: #5f6269;
        padding: 3px 10px 4px;
        border-radius: 14px;
        text-align: center;
        font-weight: 300;
        width: 94px;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        &:hover{
            background-color: #6a6f7b;
        }
    }

}
