<div class="vita-block">
	<section class="lk-history">
        <div class="lk-history-list js-history">
            <!--title_content-->
            <h1 id="pagetitle">История заказов</h1>
            <!--end-title_content-->
            <div class="lk-history-list-item js-history-item" data-id="122">
                <div class="lk-history-list-item-date">
                    <span class="lk-history-list-item__label">Дата</span>
                    <span>12.03.19г</span>
                </div>
                <div class="lk-history-list-item-time">
                    <span class="lk-history-list-item__label">Время</span>
                    <span>15:30 - 18:30</span>
                </div>
                <div class="lk-history-list-item-number">
                    <span class="lk-history-list-item__label">Номер заказа</span>
                    <span>#5556894221</span>
                </div>
                <div class="lk-history-list-item-price">
                    <span class="lk-history-list-item__label">Сумма заказа</span>
                    <span>1 705, 00 руб</span>
                </div>
                <div class="lk-history-list-item-pay js-history-pay">
                    <a href="#" class="mod-pay">оплатить</a>
                </div>
                <div class="lk-history-list-item-status">
                    <span class="lk-history-list-item__label mod-center">Статус</span>
                    <span class="mod-progress">в процессе</span>
                </div>
                <div class="lk-history-list-item-repeat js-history-repeat">
                    <span class="lk-history-list-item__label mod-repeat">Повторить</span>
                    <svg viewBox="0 0 19 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.05955 0C7.83599 0 6.6645 0.240807 5.54507 0.722421C4.42564 1.20404 3.46241 1.84836 2.65539 2.65539C1.84836 3.46241 1.20404 4.42564 0.722421 5.54507C0.240807 6.6645 0 7.83599 0 9.05955C0 10.5955 0.364465 12.0306 1.09339 13.3648C1.82232 14.699 2.81809 15.7859 4.0807 16.6254C5.34331 17.465 6.7426 17.9499 8.27855 18.0801L6.48226 18.9977C6.36512 19.0498 6.28376 19.1344 6.2382 19.2515C6.19265 19.3687 6.20241 19.4858 6.26749 19.603L6.32607 19.7592C6.39115 19.8763 6.48552 19.9512 6.60918 19.9837C6.73283 20.0163 6.85324 20 6.97039 19.9349L9.9577 18.412V18.3924H9.97722L10.1725 18.2948C10.2115 18.2688 10.2441 18.2428 10.2701 18.2167C10.2961 18.1907 10.3189 18.1614 10.3384 18.1289C10.358 18.0963 10.3742 18.0605 10.3872 18.0215C10.4133 17.9043 10.3938 17.7872 10.3287 17.67L10.2115 17.4748L8.35665 14.5851C8.29157 14.481 8.1972 14.4094 8.07354 14.3703C7.94989 14.3313 7.82948 14.3443 7.71233 14.4094L7.57566 14.507C7.47153 14.5721 7.4097 14.6697 7.39017 14.7999C7.37065 14.93 7.39993 15.0472 7.47803 15.1513L8.5519 16.85C7.21119 16.7589 5.98113 16.3554 4.8617 15.6394C3.74227 14.9235 2.8604 13.9831 2.21608 12.8181C1.57175 11.6531 1.24959 10.4003 1.24959 9.05955C1.24959 8.00521 1.45786 6.99642 1.87439 6.03319C2.29092 5.06996 2.84738 4.2369 3.54377 3.53401C4.24016 2.83111 5.06996 2.27465 6.03319 1.86463C6.99642 1.4546 8.00521 1.24959 9.05955 1.24959C10.4784 1.24959 11.7898 1.59779 12.9938 2.29417C14.1979 2.99056 15.1481 3.94077 15.8445 5.14481C16.5408 6.34884 16.889 7.65376 16.889 9.05955C16.889 10.2961 16.6157 11.4611 16.069 12.5545C15.5223 13.6479 14.7543 14.5656 13.765 15.3075C13.6739 15.3726 13.6089 15.4572 13.5698 15.5613C13.5308 15.6655 13.5177 15.7729 13.5308 15.8835C13.5438 15.9941 13.5828 16.095 13.6479 16.1861C13.752 16.3163 13.8887 16.3944 14.0579 16.4204C14.2271 16.4465 14.3833 16.4074 14.5265 16.3033C15.672 15.4442 16.5604 14.3801 17.1917 13.111C17.823 11.8418 18.1386 10.4914 18.1386 9.05955C18.1386 6.78165 17.3837 4.79011 15.8737 3.08493C14.4289 1.44484 12.6326 0.455581 10.4849 0.117149C10.0033 0.0390498 9.52815 0 9.05955 0Z"/>
                    </svg>
                </div>
                <div class="lk-history-list-item-close js-history-delete">
                    <span class="lk-history-list-item__label mod-delete">Удалить</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.3 211.64">
                        <path d="M15,38.65c-2.46,0-4.6.09-6.72,0-5.14-.26-8.4-3.5-8.24-8.1.14-4.38,3.3-7.36,8.36-7.4C22.2,23,36,23.06,49.87,23.06q61,0,122,0c8.5,0,12.17,2.15,12.42,7.45.26,5.49-3.35,7.91-12.2,8.16-.8,0-1.61.14-3,.26v138c0,21.74-13.07,34.71-34.95,34.72q-42.5,0-85,0c-20.71,0-34-13.43-34-34.19q0-66.75,0-133.49C15.2,42.32,15.07,40.7,15,38.65Zm16,.24c-.11,2-.26,3.48-.26,5q0,67.44,0,134.88c0,11,6.42,17.23,17.55,17.26q43.71.09,87.42,0c11.66,0,17.9-6.24,17.9-17.89q0-66.94,0-133.88c0-1.75-.16-3.5-.24-5.35Z"></path><path d="M92.14,15.6c-9.64,0-19.29,0-28.93,0-6,0-9.48-3-9.4-7.89C53.89,3,57.24.06,63,0Q92.15,0,121.32.05c5.68,0,9.09,3,9.17,7.63.08,4.83-3.45,7.87-9.42,7.9C111.43,15.64,101.78,15.6,92.14,15.6Z"></path><path d="M126.87,119.56c0,12.14,0,24.29,0,36.43,0,4-1.13,7.25-5.06,8.89-5.38,2.24-10.5-1.92-10.53-8.7-.07-16.13,0-32.27,0-48.4,0-8.16,0-16.31,0-24.46,0-6.49,2.83-10.12,7.69-10.21s7.84,3.6,7.86,10c0,12.14,0,24.28,0,36.43Z"></path><path d="M57.48,119.07c0-12,0-23.94,0-35.91,0-6.38,3-10.1,7.84-10S73.06,77,73.06,83.29q0,36.17,0,72.32c0,5.87-2.58,9.34-7.08,9.76-4.76.46-8.38-3.2-8.43-8.89C57.42,144,57.49,131.54,57.48,119.07Z"></path>
                    </svg>
                </div>
            </div>
            <div class="lk-history-list-item js-history-item" data-id="123">
                <div class="lk-history-list-item-date">
                    <span class="lk-history-list-item__label">Дата</span>
                    <span>12.03.19г</span>
                </div>
                <div class="lk-history-list-item-time">
                    <span class="lk-history-list-item__label">Время</span>
                    <span>15:30 - 18:30</span>
                </div>
                <div class="lk-history-list-item-number">
                    <span class="lk-history-list-item__label">Номер заказа</span>
                    <span>#5556894222</span>
                </div>
                <div class="lk-history-list-item-price">
                    <span class="lk-history-list-item__label">Сумма заказа</span>
                    <span>1 705, 00 руб</span>
                </div>
                <div class="lk-history-list-item-status">
                    <span class="lk-history-list-item__label mod-center">Статус</span>
                    <span class="mod-complete">выполнен</span>
                </div>
                <div class="lk-history-list-item-repeat js-history-repeat">
                    <span class="lk-history-list-item__label mod-repeat">Повторить</span>
                    <svg viewBox="0 0 19 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.05955 0C7.83599 0 6.6645 0.240807 5.54507 0.722421C4.42564 1.20404 3.46241 1.84836 2.65539 2.65539C1.84836 3.46241 1.20404 4.42564 0.722421 5.54507C0.240807 6.6645 0 7.83599 0 9.05955C0 10.5955 0.364465 12.0306 1.09339 13.3648C1.82232 14.699 2.81809 15.7859 4.0807 16.6254C5.34331 17.465 6.7426 17.9499 8.27855 18.0801L6.48226 18.9977C6.36512 19.0498 6.28376 19.1344 6.2382 19.2515C6.19265 19.3687 6.20241 19.4858 6.26749 19.603L6.32607 19.7592C6.39115 19.8763 6.48552 19.9512 6.60918 19.9837C6.73283 20.0163 6.85324 20 6.97039 19.9349L9.9577 18.412V18.3924H9.97722L10.1725 18.2948C10.2115 18.2688 10.2441 18.2428 10.2701 18.2167C10.2961 18.1907 10.3189 18.1614 10.3384 18.1289C10.358 18.0963 10.3742 18.0605 10.3872 18.0215C10.4133 17.9043 10.3938 17.7872 10.3287 17.67L10.2115 17.4748L8.35665 14.5851C8.29157 14.481 8.1972 14.4094 8.07354 14.3703C7.94989 14.3313 7.82948 14.3443 7.71233 14.4094L7.57566 14.507C7.47153 14.5721 7.4097 14.6697 7.39017 14.7999C7.37065 14.93 7.39993 15.0472 7.47803 15.1513L8.5519 16.85C7.21119 16.7589 5.98113 16.3554 4.8617 15.6394C3.74227 14.9235 2.8604 13.9831 2.21608 12.8181C1.57175 11.6531 1.24959 10.4003 1.24959 9.05955C1.24959 8.00521 1.45786 6.99642 1.87439 6.03319C2.29092 5.06996 2.84738 4.2369 3.54377 3.53401C4.24016 2.83111 5.06996 2.27465 6.03319 1.86463C6.99642 1.4546 8.00521 1.24959 9.05955 1.24959C10.4784 1.24959 11.7898 1.59779 12.9938 2.29417C14.1979 2.99056 15.1481 3.94077 15.8445 5.14481C16.5408 6.34884 16.889 7.65376 16.889 9.05955C16.889 10.2961 16.6157 11.4611 16.069 12.5545C15.5223 13.6479 14.7543 14.5656 13.765 15.3075C13.6739 15.3726 13.6089 15.4572 13.5698 15.5613C13.5308 15.6655 13.5177 15.7729 13.5308 15.8835C13.5438 15.9941 13.5828 16.095 13.6479 16.1861C13.752 16.3163 13.8887 16.3944 14.0579 16.4204C14.2271 16.4465 14.3833 16.4074 14.5265 16.3033C15.672 15.4442 16.5604 14.3801 17.1917 13.111C17.823 11.8418 18.1386 10.4914 18.1386 9.05955C18.1386 6.78165 17.3837 4.79011 15.8737 3.08493C14.4289 1.44484 12.6326 0.455581 10.4849 0.117149C10.0033 0.0390498 9.52815 0 9.05955 0Z"/>
                    </svg>
                </div>
                <div class="lk-history-list-item-close js-history-delete">
                    <span class="lk-history-list-item__label mod-delete">Удалить</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.3 211.64">
                        <path d="M15,38.65c-2.46,0-4.6.09-6.72,0-5.14-.26-8.4-3.5-8.24-8.1.14-4.38,3.3-7.36,8.36-7.4C22.2,23,36,23.06,49.87,23.06q61,0,122,0c8.5,0,12.17,2.15,12.42,7.45.26,5.49-3.35,7.91-12.2,8.16-.8,0-1.61.14-3,.26v138c0,21.74-13.07,34.71-34.95,34.72q-42.5,0-85,0c-20.71,0-34-13.43-34-34.19q0-66.75,0-133.49C15.2,42.32,15.07,40.7,15,38.65Zm16,.24c-.11,2-.26,3.48-.26,5q0,67.44,0,134.88c0,11,6.42,17.23,17.55,17.26q43.71.09,87.42,0c11.66,0,17.9-6.24,17.9-17.89q0-66.94,0-133.88c0-1.75-.16-3.5-.24-5.35Z"></path><path d="M92.14,15.6c-9.64,0-19.29,0-28.93,0-6,0-9.48-3-9.4-7.89C53.89,3,57.24.06,63,0Q92.15,0,121.32.05c5.68,0,9.09,3,9.17,7.63.08,4.83-3.45,7.87-9.42,7.9C111.43,15.64,101.78,15.6,92.14,15.6Z"></path><path d="M126.87,119.56c0,12.14,0,24.29,0,36.43,0,4-1.13,7.25-5.06,8.89-5.38,2.24-10.5-1.92-10.53-8.7-.07-16.13,0-32.27,0-48.4,0-8.16,0-16.31,0-24.46,0-6.49,2.83-10.12,7.69-10.21s7.84,3.6,7.86,10c0,12.14,0,24.28,0,36.43Z"></path><path d="M57.48,119.07c0-12,0-23.94,0-35.91,0-6.38,3-10.1,7.84-10S73.06,77,73.06,83.29q0,36.17,0,72.32c0,5.87-2.58,9.34-7.08,9.76-4.76.46-8.38-3.2-8.43-8.89C57.42,144,57.49,131.54,57.48,119.07Z"></path>
                    </svg>
                </div>
            </div>
            <div class="lk-history-list-item">
                <a href="/" class="lk-history-link js-history-item" data-id="124"></a>
                <div class="lk-history-list-item-date">
                    <span class="lk-history-list-item__label">Дата</span>
                    <span>12.03.19г</span>
                </div>
                <div class="lk-history-list-item-time">
                    <span class="lk-history-list-item__label">Время</span>
                    <span>15:30 - 18:30</span>
                </div>
                <div class="lk-history-list-item-number">
                    <span class="lk-history-list-item__label">Номер заказа</span>
                    <span>#5556894223</span>
                </div>
                <div class="lk-history-list-item-price">
                    <span class="lk-history-list-item__label">Сумма заказа</span>
                    <span>1 705, 00 руб</span>
                </div>
                <div class="lk-history-list-item-pay js-history-pay">
                    <a href="#" class="mod-pay">оплатить</a>
                </div>
                <div class="lk-history-list-item-status">
                    <span class="lk-history-list-item__label mod-center">Статус</span>
                    <span class="mod-canceled">отменен</span>
                </div>
                <div class="lk-history-list-item-repeat js-history-repeat">
                    <span class="lk-history-list-item__label mod-repeat">Повторить</span>
                    <svg viewBox="0 0 19 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.05955 0C7.83599 0 6.6645 0.240807 5.54507 0.722421C4.42564 1.20404 3.46241 1.84836 2.65539 2.65539C1.84836 3.46241 1.20404 4.42564 0.722421 5.54507C0.240807 6.6645 0 7.83599 0 9.05955C0 10.5955 0.364465 12.0306 1.09339 13.3648C1.82232 14.699 2.81809 15.7859 4.0807 16.6254C5.34331 17.465 6.7426 17.9499 8.27855 18.0801L6.48226 18.9977C6.36512 19.0498 6.28376 19.1344 6.2382 19.2515C6.19265 19.3687 6.20241 19.4858 6.26749 19.603L6.32607 19.7592C6.39115 19.8763 6.48552 19.9512 6.60918 19.9837C6.73283 20.0163 6.85324 20 6.97039 19.9349L9.9577 18.412V18.3924H9.97722L10.1725 18.2948C10.2115 18.2688 10.2441 18.2428 10.2701 18.2167C10.2961 18.1907 10.3189 18.1614 10.3384 18.1289C10.358 18.0963 10.3742 18.0605 10.3872 18.0215C10.4133 17.9043 10.3938 17.7872 10.3287 17.67L10.2115 17.4748L8.35665 14.5851C8.29157 14.481 8.1972 14.4094 8.07354 14.3703C7.94989 14.3313 7.82948 14.3443 7.71233 14.4094L7.57566 14.507C7.47153 14.5721 7.4097 14.6697 7.39017 14.7999C7.37065 14.93 7.39993 15.0472 7.47803 15.1513L8.5519 16.85C7.21119 16.7589 5.98113 16.3554 4.8617 15.6394C3.74227 14.9235 2.8604 13.9831 2.21608 12.8181C1.57175 11.6531 1.24959 10.4003 1.24959 9.05955C1.24959 8.00521 1.45786 6.99642 1.87439 6.03319C2.29092 5.06996 2.84738 4.2369 3.54377 3.53401C4.24016 2.83111 5.06996 2.27465 6.03319 1.86463C6.99642 1.4546 8.00521 1.24959 9.05955 1.24959C10.4784 1.24959 11.7898 1.59779 12.9938 2.29417C14.1979 2.99056 15.1481 3.94077 15.8445 5.14481C16.5408 6.34884 16.889 7.65376 16.889 9.05955C16.889 10.2961 16.6157 11.4611 16.069 12.5545C15.5223 13.6479 14.7543 14.5656 13.765 15.3075C13.6739 15.3726 13.6089 15.4572 13.5698 15.5613C13.5308 15.6655 13.5177 15.7729 13.5308 15.8835C13.5438 15.9941 13.5828 16.095 13.6479 16.1861C13.752 16.3163 13.8887 16.3944 14.0579 16.4204C14.2271 16.4465 14.3833 16.4074 14.5265 16.3033C15.672 15.4442 16.5604 14.3801 17.1917 13.111C17.823 11.8418 18.1386 10.4914 18.1386 9.05955C18.1386 6.78165 17.3837 4.79011 15.8737 3.08493C14.4289 1.44484 12.6326 0.455581 10.4849 0.117149C10.0033 0.0390498 9.52815 0 9.05955 0Z"/>
                    </svg>
                </div>
                <div class="lk-history-list-item-close js-history-delete">
                    <span class="lk-history-list-item__label mod-delete">Удалить</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.3 211.64">
                        <path d="M15,38.65c-2.46,0-4.6.09-6.72,0-5.14-.26-8.4-3.5-8.24-8.1.14-4.38,3.3-7.36,8.36-7.4C22.2,23,36,23.06,49.87,23.06q61,0,122,0c8.5,0,12.17,2.15,12.42,7.45.26,5.49-3.35,7.91-12.2,8.16-.8,0-1.61.14-3,.26v138c0,21.74-13.07,34.71-34.95,34.72q-42.5,0-85,0c-20.71,0-34-13.43-34-34.19q0-66.75,0-133.49C15.2,42.32,15.07,40.7,15,38.65Zm16,.24c-.11,2-.26,3.48-.26,5q0,67.44,0,134.88c0,11,6.42,17.23,17.55,17.26q43.71.09,87.42,0c11.66,0,17.9-6.24,17.9-17.89q0-66.94,0-133.88c0-1.75-.16-3.5-.24-5.35Z"></path><path d="M92.14,15.6c-9.64,0-19.29,0-28.93,0-6,0-9.48-3-9.4-7.89C53.89,3,57.24.06,63,0Q92.15,0,121.32.05c5.68,0,9.09,3,9.17,7.63.08,4.83-3.45,7.87-9.42,7.9C111.43,15.64,101.78,15.6,92.14,15.6Z"></path><path d="M126.87,119.56c0,12.14,0,24.29,0,36.43,0,4-1.13,7.25-5.06,8.89-5.38,2.24-10.5-1.92-10.53-8.7-.07-16.13,0-32.27,0-48.4,0-8.16,0-16.31,0-24.46,0-6.49,2.83-10.12,7.69-10.21s7.84,3.6,7.86,10c0,12.14,0,24.28,0,36.43Z"></path><path d="M57.48,119.07c0-12,0-23.94,0-35.91,0-6.38,3-10.1,7.84-10S73.06,77,73.06,83.29q0,36.17,0,72.32c0,5.87-2.58,9.34-7.08,9.76-4.76.46-8.38-3.2-8.43-8.89C57.42,144,57.49,131.54,57.48,119.07Z"></path>
                    </svg>
                </div>
            </div>
            <div class="lk-history-list-item">
                <a href="/" class="lk-history-link js-history-item" data-id="125"></a>
                <div class="lk-history-list-item-date">
                    <span class="lk-history-list-item__label">Дата</span>
                    <span>12.03.19г</span>
                </div>
                <div class="lk-history-list-item-time">
                    <span class="lk-history-list-item__label">Время</span>
                    <span>15:30 - 18:30</span>
                </div>
                <div class="lk-history-list-item-number">
                    <span class="lk-history-list-item__label">Номер заказа</span>
                    <span>#5556894224</span>
                </div>
                <div class="lk-history-list-item-price">
                    <span class="lk-history-list-item__label">Сумма заказа</span>
                    <span>1 705, 00 руб</span>
                </div>
                <div class="lk-history-list-item-status">
                    <span class="lk-history-list-item__label mod-center">Статус</span>
                    <span class="mod-complete">выполнен</span>
                </div>
                <div class="lk-history-list-item-repeat js-history-repeat">
                    <span class="lk-history-list-item__label mod-repeat">Повторить</span>
                    <svg viewBox="0 0 19 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.05955 0C7.83599 0 6.6645 0.240807 5.54507 0.722421C4.42564 1.20404 3.46241 1.84836 2.65539 2.65539C1.84836 3.46241 1.20404 4.42564 0.722421 5.54507C0.240807 6.6645 0 7.83599 0 9.05955C0 10.5955 0.364465 12.0306 1.09339 13.3648C1.82232 14.699 2.81809 15.7859 4.0807 16.6254C5.34331 17.465 6.7426 17.9499 8.27855 18.0801L6.48226 18.9977C6.36512 19.0498 6.28376 19.1344 6.2382 19.2515C6.19265 19.3687 6.20241 19.4858 6.26749 19.603L6.32607 19.7592C6.39115 19.8763 6.48552 19.9512 6.60918 19.9837C6.73283 20.0163 6.85324 20 6.97039 19.9349L9.9577 18.412V18.3924H9.97722L10.1725 18.2948C10.2115 18.2688 10.2441 18.2428 10.2701 18.2167C10.2961 18.1907 10.3189 18.1614 10.3384 18.1289C10.358 18.0963 10.3742 18.0605 10.3872 18.0215C10.4133 17.9043 10.3938 17.7872 10.3287 17.67L10.2115 17.4748L8.35665 14.5851C8.29157 14.481 8.1972 14.4094 8.07354 14.3703C7.94989 14.3313 7.82948 14.3443 7.71233 14.4094L7.57566 14.507C7.47153 14.5721 7.4097 14.6697 7.39017 14.7999C7.37065 14.93 7.39993 15.0472 7.47803 15.1513L8.5519 16.85C7.21119 16.7589 5.98113 16.3554 4.8617 15.6394C3.74227 14.9235 2.8604 13.9831 2.21608 12.8181C1.57175 11.6531 1.24959 10.4003 1.24959 9.05955C1.24959 8.00521 1.45786 6.99642 1.87439 6.03319C2.29092 5.06996 2.84738 4.2369 3.54377 3.53401C4.24016 2.83111 5.06996 2.27465 6.03319 1.86463C6.99642 1.4546 8.00521 1.24959 9.05955 1.24959C10.4784 1.24959 11.7898 1.59779 12.9938 2.29417C14.1979 2.99056 15.1481 3.94077 15.8445 5.14481C16.5408 6.34884 16.889 7.65376 16.889 9.05955C16.889 10.2961 16.6157 11.4611 16.069 12.5545C15.5223 13.6479 14.7543 14.5656 13.765 15.3075C13.6739 15.3726 13.6089 15.4572 13.5698 15.5613C13.5308 15.6655 13.5177 15.7729 13.5308 15.8835C13.5438 15.9941 13.5828 16.095 13.6479 16.1861C13.752 16.3163 13.8887 16.3944 14.0579 16.4204C14.2271 16.4465 14.3833 16.4074 14.5265 16.3033C15.672 15.4442 16.5604 14.3801 17.1917 13.111C17.823 11.8418 18.1386 10.4914 18.1386 9.05955C18.1386 6.78165 17.3837 4.79011 15.8737 3.08493C14.4289 1.44484 12.6326 0.455581 10.4849 0.117149C10.0033 0.0390498 9.52815 0 9.05955 0Z"/>
                    </svg>
                </div>
                <div class="lk-history-list-item-close js-history-delete">
                    <span class="lk-history-list-item__label mod-delete">Удалить</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.3 211.64">
                        <path d="M15,38.65c-2.46,0-4.6.09-6.72,0-5.14-.26-8.4-3.5-8.24-8.1.14-4.38,3.3-7.36,8.36-7.4C22.2,23,36,23.06,49.87,23.06q61,0,122,0c8.5,0,12.17,2.15,12.42,7.45.26,5.49-3.35,7.91-12.2,8.16-.8,0-1.61.14-3,.26v138c0,21.74-13.07,34.71-34.95,34.72q-42.5,0-85,0c-20.71,0-34-13.43-34-34.19q0-66.75,0-133.49C15.2,42.32,15.07,40.7,15,38.65Zm16,.24c-.11,2-.26,3.48-.26,5q0,67.44,0,134.88c0,11,6.42,17.23,17.55,17.26q43.71.09,87.42,0c11.66,0,17.9-6.24,17.9-17.89q0-66.94,0-133.88c0-1.75-.16-3.5-.24-5.35Z"></path><path d="M92.14,15.6c-9.64,0-19.29,0-28.93,0-6,0-9.48-3-9.4-7.89C53.89,3,57.24.06,63,0Q92.15,0,121.32.05c5.68,0,9.09,3,9.17,7.63.08,4.83-3.45,7.87-9.42,7.9C111.43,15.64,101.78,15.6,92.14,15.6Z"></path><path d="M126.87,119.56c0,12.14,0,24.29,0,36.43,0,4-1.13,7.25-5.06,8.89-5.38,2.24-10.5-1.92-10.53-8.7-.07-16.13,0-32.27,0-48.4,0-8.16,0-16.31,0-24.46,0-6.49,2.83-10.12,7.69-10.21s7.84,3.6,7.86,10c0,12.14,0,24.28,0,36.43Z"></path><path d="M57.48,119.07c0-12,0-23.94,0-35.91,0-6.38,3-10.1,7.84-10S73.06,77,73.06,83.29q0,36.17,0,72.32c0,5.87-2.58,9.34-7.08,9.76-4.76.46-8.38-3.2-8.43-8.89C57.42,144,57.49,131.54,57.48,119.07Z"></path>
                    </svg>
                </div>
            </div>
            <a href="#" class="lk-history-list-item js-history-item" data-id="126">
                <div class="lk-history-list-item-date">
                    <span class="lk-history-list-item__label">Дата</span>
                    <span>12.03.19г</span>
                </div>
                <div class="lk-history-list-item-time">
                    <span class="lk-history-list-item__label">Время</span>
                    <span>15:30 - 18:30</span>
                </div>
                <div class="lk-history-list-item-number">
                    <span class="lk-history-list-item__label">Номер заказа</span>
                    <span>#5556894224</span>
                </div>
                <div class="lk-history-list-item-price">
                    <span class="lk-history-list-item__label">Сумма заказа</span>
                    <span>1 705, 00 руб</span>
                </div>
                <div class="lk-history-list-item-pay js-history-pay">
                    <span class="mod-pay">оплатить</span>
                </div>
                <div class="lk-history-list-item-status">
                    <span class="lk-history-list-item__label mod-center">Заказ оплачен, формируется к отправке клиенту</span>
                    <span class="mod-complete">Оплачен, формируется к отправке</span>
                </div>
                <div class="lk-history-list-item-repeat js-history-repeat">
                    <span class="lk-history-list-item__label mod-repeat">Повторить</span>
                    <svg viewBox="0 0 19 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.05955 0C7.83599 0 6.6645 0.240807 5.54507 0.722421C4.42564 1.20404 3.46241 1.84836 2.65539 2.65539C1.84836 3.46241 1.20404 4.42564 0.722421 5.54507C0.240807 6.6645 0 7.83599 0 9.05955C0 10.5955 0.364465 12.0306 1.09339 13.3648C1.82232 14.699 2.81809 15.7859 4.0807 16.6254C5.34331 17.465 6.7426 17.9499 8.27855 18.0801L6.48226 18.9977C6.36512 19.0498 6.28376 19.1344 6.2382 19.2515C6.19265 19.3687 6.20241 19.4858 6.26749 19.603L6.32607 19.7592C6.39115 19.8763 6.48552 19.9512 6.60918 19.9837C6.73283 20.0163 6.85324 20 6.97039 19.9349L9.9577 18.412V18.3924H9.97722L10.1725 18.2948C10.2115 18.2688 10.2441 18.2428 10.2701 18.2167C10.2961 18.1907 10.3189 18.1614 10.3384 18.1289C10.358 18.0963 10.3742 18.0605 10.3872 18.0215C10.4133 17.9043 10.3938 17.7872 10.3287 17.67L10.2115 17.4748L8.35665 14.5851C8.29157 14.481 8.1972 14.4094 8.07354 14.3703C7.94989 14.3313 7.82948 14.3443 7.71233 14.4094L7.57566 14.507C7.47153 14.5721 7.4097 14.6697 7.39017 14.7999C7.37065 14.93 7.39993 15.0472 7.47803 15.1513L8.5519 16.85C7.21119 16.7589 5.98113 16.3554 4.8617 15.6394C3.74227 14.9235 2.8604 13.9831 2.21608 12.8181C1.57175 11.6531 1.24959 10.4003 1.24959 9.05955C1.24959 8.00521 1.45786 6.99642 1.87439 6.03319C2.29092 5.06996 2.84738 4.2369 3.54377 3.53401C4.24016 2.83111 5.06996 2.27465 6.03319 1.86463C6.99642 1.4546 8.00521 1.24959 9.05955 1.24959C10.4784 1.24959 11.7898 1.59779 12.9938 2.29417C14.1979 2.99056 15.1481 3.94077 15.8445 5.14481C16.5408 6.34884 16.889 7.65376 16.889 9.05955C16.889 10.2961 16.6157 11.4611 16.069 12.5545C15.5223 13.6479 14.7543 14.5656 13.765 15.3075C13.6739 15.3726 13.6089 15.4572 13.5698 15.5613C13.5308 15.6655 13.5177 15.7729 13.5308 15.8835C13.5438 15.9941 13.5828 16.095 13.6479 16.1861C13.752 16.3163 13.8887 16.3944 14.0579 16.4204C14.2271 16.4465 14.3833 16.4074 14.5265 16.3033C15.672 15.4442 16.5604 14.3801 17.1917 13.111C17.823 11.8418 18.1386 10.4914 18.1386 9.05955C18.1386 6.78165 17.3837 4.79011 15.8737 3.08493C14.4289 1.44484 12.6326 0.455581 10.4849 0.117149C10.0033 0.0390498 9.52815 0 9.05955 0Z"/>
                    </svg>
                </div>
                <div class="lk-history-list-item-close js-history-delete">
                    <span class="lk-history-list-item__label mod-delete">Удалить</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.3 211.64">
                        <path d="M15,38.65c-2.46,0-4.6.09-6.72,0-5.14-.26-8.4-3.5-8.24-8.1.14-4.38,3.3-7.36,8.36-7.4C22.2,23,36,23.06,49.87,23.06q61,0,122,0c8.5,0,12.17,2.15,12.42,7.45.26,5.49-3.35,7.91-12.2,8.16-.8,0-1.61.14-3,.26v138c0,21.74-13.07,34.71-34.95,34.72q-42.5,0-85,0c-20.71,0-34-13.43-34-34.19q0-66.75,0-133.49C15.2,42.32,15.07,40.7,15,38.65Zm16,.24c-.11,2-.26,3.48-.26,5q0,67.44,0,134.88c0,11,6.42,17.23,17.55,17.26q43.71.09,87.42,0c11.66,0,17.9-6.24,17.9-17.89q0-66.94,0-133.88c0-1.75-.16-3.5-.24-5.35Z"></path><path d="M92.14,15.6c-9.64,0-19.29,0-28.93,0-6,0-9.48-3-9.4-7.89C53.89,3,57.24.06,63,0Q92.15,0,121.32.05c5.68,0,9.09,3,9.17,7.63.08,4.83-3.45,7.87-9.42,7.9C111.43,15.64,101.78,15.6,92.14,15.6Z"></path><path d="M126.87,119.56c0,12.14,0,24.29,0,36.43,0,4-1.13,7.25-5.06,8.89-5.38,2.24-10.5-1.92-10.53-8.7-.07-16.13,0-32.27,0-48.4,0-8.16,0-16.31,0-24.46,0-6.49,2.83-10.12,7.69-10.21s7.84,3.6,7.86,10c0,12.14,0,24.28,0,36.43Z"></path><path d="M57.48,119.07c0-12,0-23.94,0-35.91,0-6.38,3-10.1,7.84-10S73.06,77,73.06,83.29q0,36.17,0,72.32c0,5.87-2.58,9.34-7.08,9.76-4.76.46-8.38-3.2-8.43-8.89C57.42,144,57.49,131.54,57.48,119.07Z"></path>
                    </svg>
                </div>
            </a>
        </div>
        <div id="122" class="lk-history-list-more js-history-more">
            <div class="lk-history-list-more-item">
                <div class="lk-history-list-more-item__title">
                    <div class="lk-history-list-more-item__back js-history-back">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M361.5,140.148H50.689l43.529-43.71c5.846-5.87,5.826-15.368-0.044-21.214c-5.871-5.847-15.368-5.826-21.213,0.044
                                    L4.372,144.143c-2.969,2.982-4.417,6.899-4.361,10.8C0.009,155.012,0,155.079,0,155.148c0,5.201,2.649,9.781,6.669,12.472
                                    l66.292,66.568c5.847,5.87,15.343,5.889,21.213,0.044c5.87-5.846,5.89-15.344,0.044-21.214l-42.692-42.87H361.5
                                    c66.444,0,120.5,54.056,120.5,120.5s-54.056,120.5-120.5,120.5H15c-8.284,0-15,6.716-15,15s6.716,15,15,15h346.5
                                    c82.986,0,150.5-67.514,150.5-150.5S444.486,140.148,361.5,140.148z"/>
                            </g>
                        </g>
                        </svg>
                    </div>
                    <span>#5556894221</span>
                </div>
            </div>
            <div class="lk-history-list-item mod-active">
                <div class="lk-history-list-item-date">
                    <span class="lk-history-list-item__label">Дата</span>
                    <span>12.03.19г</span>
                </div>
                <div class="lk-history-list-item-time">
                    <span class="lk-history-list-item__label">Время</span>
                    <span>15:30 - 18:30</span>
                </div>
                <div class="lk-history-list-item-number">
                    <span class="lk-history-list-item__label">Номер заказа</span>
                    <span>#5556894221</span>
                </div>
                <div class="lk-history-list-item-pay">
                    <a href="#" class="mod-pay">оплатить</a>
                </div>
                <div class="lk-history-list-item-status">
                    <span class="lk-history-list-item__label mod-center">Статус</span>
                    <span class="mod-progress">в процессе</span>
                </div>
                <div class="lk-history-list-item-repeat js-history-repeat">
                    <span class="lk-history-list-item__label mod-repeat">Повторить</span>
                    <svg viewBox="0 0 19 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.05955 0C7.83599 0 6.6645 0.240807 5.54507 0.722421C4.42564 1.20404 3.46241 1.84836 2.65539 2.65539C1.84836 3.46241 1.20404 4.42564 0.722421 5.54507C0.240807 6.6645 0 7.83599 0 9.05955C0 10.5955 0.364465 12.0306 1.09339 13.3648C1.82232 14.699 2.81809 15.7859 4.0807 16.6254C5.34331 17.465 6.7426 17.9499 8.27855 18.0801L6.48226 18.9977C6.36512 19.0498 6.28376 19.1344 6.2382 19.2515C6.19265 19.3687 6.20241 19.4858 6.26749 19.603L6.32607 19.7592C6.39115 19.8763 6.48552 19.9512 6.60918 19.9837C6.73283 20.0163 6.85324 20 6.97039 19.9349L9.9577 18.412V18.3924H9.97722L10.1725 18.2948C10.2115 18.2688 10.2441 18.2428 10.2701 18.2167C10.2961 18.1907 10.3189 18.1614 10.3384 18.1289C10.358 18.0963 10.3742 18.0605 10.3872 18.0215C10.4133 17.9043 10.3938 17.7872 10.3287 17.67L10.2115 17.4748L8.35665 14.5851C8.29157 14.481 8.1972 14.4094 8.07354 14.3703C7.94989 14.3313 7.82948 14.3443 7.71233 14.4094L7.57566 14.507C7.47153 14.5721 7.4097 14.6697 7.39017 14.7999C7.37065 14.93 7.39993 15.0472 7.47803 15.1513L8.5519 16.85C7.21119 16.7589 5.98113 16.3554 4.8617 15.6394C3.74227 14.9235 2.8604 13.9831 2.21608 12.8181C1.57175 11.6531 1.24959 10.4003 1.24959 9.05955C1.24959 8.00521 1.45786 6.99642 1.87439 6.03319C2.29092 5.06996 2.84738 4.2369 3.54377 3.53401C4.24016 2.83111 5.06996 2.27465 6.03319 1.86463C6.99642 1.4546 8.00521 1.24959 9.05955 1.24959C10.4784 1.24959 11.7898 1.59779 12.9938 2.29417C14.1979 2.99056 15.1481 3.94077 15.8445 5.14481C16.5408 6.34884 16.889 7.65376 16.889 9.05955C16.889 10.2961 16.6157 11.4611 16.069 12.5545C15.5223 13.6479 14.7543 14.5656 13.765 15.3075C13.6739 15.3726 13.6089 15.4572 13.5698 15.5613C13.5308 15.6655 13.5177 15.7729 13.5308 15.8835C13.5438 15.9941 13.5828 16.095 13.6479 16.1861C13.752 16.3163 13.8887 16.3944 14.0579 16.4204C14.2271 16.4465 14.3833 16.4074 14.5265 16.3033C15.672 15.4442 16.5604 14.3801 17.1917 13.111C17.823 11.8418 18.1386 10.4914 18.1386 9.05955C18.1386 6.78165 17.3837 4.79011 15.8737 3.08493C14.4289 1.44484 12.6326 0.455581 10.4849 0.117149C10.0033 0.0390498 9.52815 0 9.05955 0Z"/>
                    </svg>
                </div>
                <div class="lk-history-list-item-close js-history-delete">
                    <span class="lk-history-list-item__label mod-delete">Удалить</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.3 211.64">
                        <path d="M15,38.65c-2.46,0-4.6.09-6.72,0-5.14-.26-8.4-3.5-8.24-8.1.14-4.38,3.3-7.36,8.36-7.4C22.2,23,36,23.06,49.87,23.06q61,0,122,0c8.5,0,12.17,2.15,12.42,7.45.26,5.49-3.35,7.91-12.2,8.16-.8,0-1.61.14-3,.26v138c0,21.74-13.07,34.71-34.95,34.72q-42.5,0-85,0c-20.71,0-34-13.43-34-34.19q0-66.75,0-133.49C15.2,42.32,15.07,40.7,15,38.65Zm16,.24c-.11,2-.26,3.48-.26,5q0,67.44,0,134.88c0,11,6.42,17.23,17.55,17.26q43.71.09,87.42,0c11.66,0,17.9-6.24,17.9-17.89q0-66.94,0-133.88c0-1.75-.16-3.5-.24-5.35Z"></path><path d="M92.14,15.6c-9.64,0-19.29,0-28.93,0-6,0-9.48-3-9.4-7.89C53.89,3,57.24.06,63,0Q92.15,0,121.32.05c5.68,0,9.09,3,9.17,7.63.08,4.83-3.45,7.87-9.42,7.9C111.43,15.64,101.78,15.6,92.14,15.6Z"></path><path d="M126.87,119.56c0,12.14,0,24.29,0,36.43,0,4-1.13,7.25-5.06,8.89-5.38,2.24-10.5-1.92-10.53-8.7-.07-16.13,0-32.27,0-48.4,0-8.16,0-16.31,0-24.46,0-6.49,2.83-10.12,7.69-10.21s7.84,3.6,7.86,10c0,12.14,0,24.28,0,36.43Z"></path><path d="M57.48,119.07c0-12,0-23.94,0-35.91,0-6.38,3-10.1,7.84-10S73.06,77,73.06,83.29q0,36.17,0,72.32c0,5.87-2.58,9.34-7.08,9.76-4.76.46-8.38-3.2-8.43-8.89C57.42,144,57.49,131.54,57.48,119.07Z"></path>
                    </svg>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__amount">12 товаров</div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__allprice">Стоимость: 1500 руб</div>
                    <div class="lk-history-list-more__profit">Выгода заказа: 758 руб</div>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__img" style="background-image: url(assets/img/history-mini-1.png);">
                    
                    </div>
                </div>
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__description">
                        <p class="lk-history-list-more__name">Компливит таб.п/о №60</p>
                    </div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__price"><span class="mod-amount">3 шт</span> ; <span class="mod-price">500 р</span></div>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__img" style="background-image: url(assets/img/history-mini-2.png);">
                    
                    </div>
                </div>
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__description">
                        <p class="lk-history-list-more__name">Мен-с формула больше,чем поливит.капс.№60 БАД</p>
                    </div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__price"><span class="mod-amount">3 шт</span> ; <span class="mod-price">500 р</span></div>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__img" style="background-image: url(assets/img/history-mini-1.png);">
                    
                    </div>
                </div>
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__description">
                        <p class="lk-history-list-more__name">Компливит таб.п/о №60</p>
                    </div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__price"><span class="mod-amount">3 шт</span> ; <span class="mod-price">500 р</span></div>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__img" style="background-image: url(assets/img/history-mini-2.png);">
                    
                    </div>
                </div>
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__description">
                        <p class="lk-history-list-more__name">Мен-с формула больше,чем поливит.капс.№60 БАД</p>
                    </div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__price"><span class="mod-amount">3 шт</span> ; <span class="mod-price">500 р</span></div>
                </div>
            </div>
            <div class="lk-history-list-more__bottom js-history-back">
                <div class="lk-history-list-more-item__back">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M361.5,140.148H50.689l43.529-43.71c5.846-5.87,5.826-15.368-0.044-21.214c-5.871-5.847-15.368-5.826-21.213,0.044
                                L4.372,144.143c-2.969,2.982-4.417,6.899-4.361,10.8C0.009,155.012,0,155.079,0,155.148c0,5.201,2.649,9.781,6.669,12.472
                                l66.292,66.568c5.847,5.87,15.343,5.889,21.213,0.044c5.87-5.846,5.89-15.344,0.044-21.214l-42.692-42.87H361.5
                                c66.444,0,120.5,54.056,120.5,120.5s-54.056,120.5-120.5,120.5H15c-8.284,0-15,6.716-15,15s6.716,15,15,15h346.5
                                c82.986,0,150.5-67.514,150.5-150.5S444.486,140.148,361.5,140.148z"></path>
                        </g>
                    </g>
                    </svg>
                </div>
                Вернуться назад
            </div>
        </div>
        <div id="123" class="lk-history-list-more js-history-more">
            <div class="lk-history-list-more-item">
                <div class="lk-history-list-more-item__title">
                    <div class="lk-history-list-more-item__back js-history-back">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M361.5,140.148H50.689l43.529-43.71c5.846-5.87,5.826-15.368-0.044-21.214c-5.871-5.847-15.368-5.826-21.213,0.044
                                    L4.372,144.143c-2.969,2.982-4.417,6.899-4.361,10.8C0.009,155.012,0,155.079,0,155.148c0,5.201,2.649,9.781,6.669,12.472
                                    l66.292,66.568c5.847,5.87,15.343,5.889,21.213,0.044c5.87-5.846,5.89-15.344,0.044-21.214l-42.692-42.87H361.5
                                    c66.444,0,120.5,54.056,120.5,120.5s-54.056,120.5-120.5,120.5H15c-8.284,0-15,6.716-15,15s6.716,15,15,15h346.5
                                    c82.986,0,150.5-67.514,150.5-150.5S444.486,140.148,361.5,140.148z"/>
                            </g>
                        </g>
                        </svg>
                    </div>
                    <span>#5556894222</span>
                </div>
            </div>
            <div class="lk-history-list-item mod-active">
                <div class="lk-history-list-item-date">
                    <span class="lk-history-list-item__label">Дата</span>
                    <span>12.03.19г</span>
                </div>
                <div class="lk-history-list-item-time">
                    <span class="lk-history-list-item__label">Время</span>
                    <span>15:30 - 18:30</span>
                </div>
                <div class="lk-history-list-item-number">
                    <span class="lk-history-list-item__label">Номер заказа</span>
                    <span>#5556894222</span>
                </div>
                <div class="lk-history-list-item-status">
                    <span class="lk-history-list-item__label mod-center">Статус</span>
                    <span class="mod-complete">выполнен</span>
                </div>
                <div class="lk-history-list-item-repeat js-history-repeat">
                    <span class="lk-history-list-item__label mod-repeat">Повторить</span>
                    <svg viewBox="0 0 19 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.05955 0C7.83599 0 6.6645 0.240807 5.54507 0.722421C4.42564 1.20404 3.46241 1.84836 2.65539 2.65539C1.84836 3.46241 1.20404 4.42564 0.722421 5.54507C0.240807 6.6645 0 7.83599 0 9.05955C0 10.5955 0.364465 12.0306 1.09339 13.3648C1.82232 14.699 2.81809 15.7859 4.0807 16.6254C5.34331 17.465 6.7426 17.9499 8.27855 18.0801L6.48226 18.9977C6.36512 19.0498 6.28376 19.1344 6.2382 19.2515C6.19265 19.3687 6.20241 19.4858 6.26749 19.603L6.32607 19.7592C6.39115 19.8763 6.48552 19.9512 6.60918 19.9837C6.73283 20.0163 6.85324 20 6.97039 19.9349L9.9577 18.412V18.3924H9.97722L10.1725 18.2948C10.2115 18.2688 10.2441 18.2428 10.2701 18.2167C10.2961 18.1907 10.3189 18.1614 10.3384 18.1289C10.358 18.0963 10.3742 18.0605 10.3872 18.0215C10.4133 17.9043 10.3938 17.7872 10.3287 17.67L10.2115 17.4748L8.35665 14.5851C8.29157 14.481 8.1972 14.4094 8.07354 14.3703C7.94989 14.3313 7.82948 14.3443 7.71233 14.4094L7.57566 14.507C7.47153 14.5721 7.4097 14.6697 7.39017 14.7999C7.37065 14.93 7.39993 15.0472 7.47803 15.1513L8.5519 16.85C7.21119 16.7589 5.98113 16.3554 4.8617 15.6394C3.74227 14.9235 2.8604 13.9831 2.21608 12.8181C1.57175 11.6531 1.24959 10.4003 1.24959 9.05955C1.24959 8.00521 1.45786 6.99642 1.87439 6.03319C2.29092 5.06996 2.84738 4.2369 3.54377 3.53401C4.24016 2.83111 5.06996 2.27465 6.03319 1.86463C6.99642 1.4546 8.00521 1.24959 9.05955 1.24959C10.4784 1.24959 11.7898 1.59779 12.9938 2.29417C14.1979 2.99056 15.1481 3.94077 15.8445 5.14481C16.5408 6.34884 16.889 7.65376 16.889 9.05955C16.889 10.2961 16.6157 11.4611 16.069 12.5545C15.5223 13.6479 14.7543 14.5656 13.765 15.3075C13.6739 15.3726 13.6089 15.4572 13.5698 15.5613C13.5308 15.6655 13.5177 15.7729 13.5308 15.8835C13.5438 15.9941 13.5828 16.095 13.6479 16.1861C13.752 16.3163 13.8887 16.3944 14.0579 16.4204C14.2271 16.4465 14.3833 16.4074 14.5265 16.3033C15.672 15.4442 16.5604 14.3801 17.1917 13.111C17.823 11.8418 18.1386 10.4914 18.1386 9.05955C18.1386 6.78165 17.3837 4.79011 15.8737 3.08493C14.4289 1.44484 12.6326 0.455581 10.4849 0.117149C10.0033 0.0390498 9.52815 0 9.05955 0Z"/>
                    </svg>
                </div>
                <div class="lk-history-list-item-close js-history-delete">
                    <span class="lk-history-list-item__label mod-delete">Удалить</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.3 211.64">
                        <path d="M15,38.65c-2.46,0-4.6.09-6.72,0-5.14-.26-8.4-3.5-8.24-8.1.14-4.38,3.3-7.36,8.36-7.4C22.2,23,36,23.06,49.87,23.06q61,0,122,0c8.5,0,12.17,2.15,12.42,7.45.26,5.49-3.35,7.91-12.2,8.16-.8,0-1.61.14-3,.26v138c0,21.74-13.07,34.71-34.95,34.72q-42.5,0-85,0c-20.71,0-34-13.43-34-34.19q0-66.75,0-133.49C15.2,42.32,15.07,40.7,15,38.65Zm16,.24c-.11,2-.26,3.48-.26,5q0,67.44,0,134.88c0,11,6.42,17.23,17.55,17.26q43.71.09,87.42,0c11.66,0,17.9-6.24,17.9-17.89q0-66.94,0-133.88c0-1.75-.16-3.5-.24-5.35Z"></path><path d="M92.14,15.6c-9.64,0-19.29,0-28.93,0-6,0-9.48-3-9.4-7.89C53.89,3,57.24.06,63,0Q92.15,0,121.32.05c5.68,0,9.09,3,9.17,7.63.08,4.83-3.45,7.87-9.42,7.9C111.43,15.64,101.78,15.6,92.14,15.6Z"></path><path d="M126.87,119.56c0,12.14,0,24.29,0,36.43,0,4-1.13,7.25-5.06,8.89-5.38,2.24-10.5-1.92-10.53-8.7-.07-16.13,0-32.27,0-48.4,0-8.16,0-16.31,0-24.46,0-6.49,2.83-10.12,7.69-10.21s7.84,3.6,7.86,10c0,12.14,0,24.28,0,36.43Z"></path><path d="M57.48,119.07c0-12,0-23.94,0-35.91,0-6.38,3-10.1,7.84-10S73.06,77,73.06,83.29q0,36.17,0,72.32c0,5.87-2.58,9.34-7.08,9.76-4.76.46-8.38-3.2-8.43-8.89C57.42,144,57.49,131.54,57.48,119.07Z"></path>
                    </svg>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__amount">12 товаров</div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__allprice">Стоимость: 1500 руб</div>
                    <div class="lk-history-list-more__profit">Выгода заказа: 758 руб</div>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__img" style="background-image: url(assets/img/history-mini-1.png);">
                    
                    </div>
                </div>
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__description">
                        <p class="lk-history-list-more__name">Компливит таб.п/о №60</p>
                    </div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__price"><span class="mod-amount">3 шт</span> ; <span class="mod-price">500 р</span></div>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__img" style="background-image: url(assets/img/history-mini-2.png);">
                    
                    </div>
                </div>
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__description">
                        <p class="lk-history-list-more__name">Мен-с формула больше,чем поливит.капс.№60 БАД</p>
                    </div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__price"><span class="mod-amount">3 шт</span> ; <span class="mod-price">500 р</span></div>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__img" style="background-image: url(assets/img/history-mini-1.png);">
                    
                    </div>
                </div>
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__description">
                        <p class="lk-history-list-more__name">Компливит таб.п/о №60</p>
                    </div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__price"><span class="mod-amount">3 шт</span> ; <span class="mod-price">500 р</span></div>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__img" style="background-image: url(assets/img/history-mini-2.png);">
                    
                    </div>
                </div>
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__description">
                        <p class="lk-history-list-more__name">Мен-с формула больше,чем поливит.капс.№60 БАД</p>
                    </div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__price"><span class="mod-amount">3 шт</span> ; <span class="mod-price">500 р</span></div>
                </div>
            </div>
            <div class="lk-history-list-more__bottom js-history-back">
                <div class="lk-history-list-more-item__back">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M361.5,140.148H50.689l43.529-43.71c5.846-5.87,5.826-15.368-0.044-21.214c-5.871-5.847-15.368-5.826-21.213,0.044
                                L4.372,144.143c-2.969,2.982-4.417,6.899-4.361,10.8C0.009,155.012,0,155.079,0,155.148c0,5.201,2.649,9.781,6.669,12.472
                                l66.292,66.568c5.847,5.87,15.343,5.889,21.213,0.044c5.87-5.846,5.89-15.344,0.044-21.214l-42.692-42.87H361.5
                                c66.444,0,120.5,54.056,120.5,120.5s-54.056,120.5-120.5,120.5H15c-8.284,0-15,6.716-15,15s6.716,15,15,15h346.5
                                c82.986,0,150.5-67.514,150.5-150.5S444.486,140.148,361.5,140.148z"></path>
                        </g>
                    </g>
                    </svg>
                </div>
                Вернуться назад
            </div>
        </div>
        <div id="124" class="lk-history-list-more js-history-more">
            <div class="lk-history-list-more-item">
                <div class="lk-history-list-more-item__title">
                    <div class="lk-history-list-more-item__back js-history-back">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M361.5,140.148H50.689l43.529-43.71c5.846-5.87,5.826-15.368-0.044-21.214c-5.871-5.847-15.368-5.826-21.213,0.044
                                    L4.372,144.143c-2.969,2.982-4.417,6.899-4.361,10.8C0.009,155.012,0,155.079,0,155.148c0,5.201,2.649,9.781,6.669,12.472
                                    l66.292,66.568c5.847,5.87,15.343,5.889,21.213,0.044c5.87-5.846,5.89-15.344,0.044-21.214l-42.692-42.87H361.5
                                    c66.444,0,120.5,54.056,120.5,120.5s-54.056,120.5-120.5,120.5H15c-8.284,0-15,6.716-15,15s6.716,15,15,15h346.5
                                    c82.986,0,150.5-67.514,150.5-150.5S444.486,140.148,361.5,140.148z"/>
                            </g>
                        </g>
                        </svg>
                    </div>
                    <span>#5556894223</span>
                </div>
            </div>
            <div class="lk-history-list-item mod-active">
                <div class="lk-history-list-item-date">
                    <span class="lk-history-list-item__label">Дата</span>
                    <span>12.03.19г</span>
                </div>
                <div class="lk-history-list-item-time">
                    <span class="lk-history-list-item__label">Время</span>
                    <span>15:30 - 18:30</span>
                </div>
                <div class="lk-history-list-item-number">
                    <span class="lk-history-list-item__label">Номер заказа</span>
                    <span>#5556894223</span>
                </div>
                <div class="lk-history-list-item-pay">
                    <a href="#" class="mod-pay">оплатить</a>
                </div>
                <div class="lk-history-list-item-status">
                    <span class="lk-history-list-item__label mod-center">Статус</span>
                    <span class="mod-canceled">отменен</span>
                </div>
                <div class="lk-history-list-item-repeat js-history-repeat">
                    <span class="lk-history-list-item__label mod-repeat">Повторить</span>
                    <svg viewBox="0 0 19 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.05955 0C7.83599 0 6.6645 0.240807 5.54507 0.722421C4.42564 1.20404 3.46241 1.84836 2.65539 2.65539C1.84836 3.46241 1.20404 4.42564 0.722421 5.54507C0.240807 6.6645 0 7.83599 0 9.05955C0 10.5955 0.364465 12.0306 1.09339 13.3648C1.82232 14.699 2.81809 15.7859 4.0807 16.6254C5.34331 17.465 6.7426 17.9499 8.27855 18.0801L6.48226 18.9977C6.36512 19.0498 6.28376 19.1344 6.2382 19.2515C6.19265 19.3687 6.20241 19.4858 6.26749 19.603L6.32607 19.7592C6.39115 19.8763 6.48552 19.9512 6.60918 19.9837C6.73283 20.0163 6.85324 20 6.97039 19.9349L9.9577 18.412V18.3924H9.97722L10.1725 18.2948C10.2115 18.2688 10.2441 18.2428 10.2701 18.2167C10.2961 18.1907 10.3189 18.1614 10.3384 18.1289C10.358 18.0963 10.3742 18.0605 10.3872 18.0215C10.4133 17.9043 10.3938 17.7872 10.3287 17.67L10.2115 17.4748L8.35665 14.5851C8.29157 14.481 8.1972 14.4094 8.07354 14.3703C7.94989 14.3313 7.82948 14.3443 7.71233 14.4094L7.57566 14.507C7.47153 14.5721 7.4097 14.6697 7.39017 14.7999C7.37065 14.93 7.39993 15.0472 7.47803 15.1513L8.5519 16.85C7.21119 16.7589 5.98113 16.3554 4.8617 15.6394C3.74227 14.9235 2.8604 13.9831 2.21608 12.8181C1.57175 11.6531 1.24959 10.4003 1.24959 9.05955C1.24959 8.00521 1.45786 6.99642 1.87439 6.03319C2.29092 5.06996 2.84738 4.2369 3.54377 3.53401C4.24016 2.83111 5.06996 2.27465 6.03319 1.86463C6.99642 1.4546 8.00521 1.24959 9.05955 1.24959C10.4784 1.24959 11.7898 1.59779 12.9938 2.29417C14.1979 2.99056 15.1481 3.94077 15.8445 5.14481C16.5408 6.34884 16.889 7.65376 16.889 9.05955C16.889 10.2961 16.6157 11.4611 16.069 12.5545C15.5223 13.6479 14.7543 14.5656 13.765 15.3075C13.6739 15.3726 13.6089 15.4572 13.5698 15.5613C13.5308 15.6655 13.5177 15.7729 13.5308 15.8835C13.5438 15.9941 13.5828 16.095 13.6479 16.1861C13.752 16.3163 13.8887 16.3944 14.0579 16.4204C14.2271 16.4465 14.3833 16.4074 14.5265 16.3033C15.672 15.4442 16.5604 14.3801 17.1917 13.111C17.823 11.8418 18.1386 10.4914 18.1386 9.05955C18.1386 6.78165 17.3837 4.79011 15.8737 3.08493C14.4289 1.44484 12.6326 0.455581 10.4849 0.117149C10.0033 0.0390498 9.52815 0 9.05955 0Z"/>
                    </svg>
                </div>
                <div class="lk-history-list-item-close js-history-delete">
                    <span class="lk-history-list-item__label mod-delete">Удалить</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.3 211.64">
                        <path d="M15,38.65c-2.46,0-4.6.09-6.72,0-5.14-.26-8.4-3.5-8.24-8.1.14-4.38,3.3-7.36,8.36-7.4C22.2,23,36,23.06,49.87,23.06q61,0,122,0c8.5,0,12.17,2.15,12.42,7.45.26,5.49-3.35,7.91-12.2,8.16-.8,0-1.61.14-3,.26v138c0,21.74-13.07,34.71-34.95,34.72q-42.5,0-85,0c-20.71,0-34-13.43-34-34.19q0-66.75,0-133.49C15.2,42.32,15.07,40.7,15,38.65Zm16,.24c-.11,2-.26,3.48-.26,5q0,67.44,0,134.88c0,11,6.42,17.23,17.55,17.26q43.71.09,87.42,0c11.66,0,17.9-6.24,17.9-17.89q0-66.94,0-133.88c0-1.75-.16-3.5-.24-5.35Z"></path><path d="M92.14,15.6c-9.64,0-19.29,0-28.93,0-6,0-9.48-3-9.4-7.89C53.89,3,57.24.06,63,0Q92.15,0,121.32.05c5.68,0,9.09,3,9.17,7.63.08,4.83-3.45,7.87-9.42,7.9C111.43,15.64,101.78,15.6,92.14,15.6Z"></path><path d="M126.87,119.56c0,12.14,0,24.29,0,36.43,0,4-1.13,7.25-5.06,8.89-5.38,2.24-10.5-1.92-10.53-8.7-.07-16.13,0-32.27,0-48.4,0-8.16,0-16.31,0-24.46,0-6.49,2.83-10.12,7.69-10.21s7.84,3.6,7.86,10c0,12.14,0,24.28,0,36.43Z"></path><path d="M57.48,119.07c0-12,0-23.94,0-35.91,0-6.38,3-10.1,7.84-10S73.06,77,73.06,83.29q0,36.17,0,72.32c0,5.87-2.58,9.34-7.08,9.76-4.76.46-8.38-3.2-8.43-8.89C57.42,144,57.49,131.54,57.48,119.07Z"></path>
                    </svg>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__amount">12 товаров</div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__allprice">Стоимость: 1500 руб</div>
                    <div class="lk-history-list-more__profit">Выгода заказа: 758 руб</div>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__img" style="background-image: url(assets/img/history-mini-1.png);">
                    
                    </div>
                </div>
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__description">
                        <p class="lk-history-list-more__name">Компливит таб.п/о №60</p>
                    </div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__price"><span class="mod-amount">3 шт</span> ; <span class="mod-price">500 р</span></div>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__img" style="background-image: url(assets/img/history-mini-2.png);">
                    
                    </div>
                </div>
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__description">
                        <p class="lk-history-list-more__name">Мен-с формула больше,чем поливит.капс.№60 БАД</p>
                    </div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__price"><span class="mod-amount">3 шт</span> ; <span class="mod-price">500 р</span></div>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__img" style="background-image: url(assets/img/history-mini-1.png);">
                    
                    </div>
                </div>
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__description">
                        <p class="lk-history-list-more__name">Компливит таб.п/о №60</p>
                    </div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__price"><span class="mod-amount">3 шт</span> ; <span class="mod-price">500 р</span></div>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__img" style="background-image: url(assets/img/history-mini-2.png);">
                    
                    </div>
                </div>
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__description">
                        <p class="lk-history-list-more__name">Мен-с формула больше,чем поливит.капс.№60 БАД</p>
                    </div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__price"><span class="mod-amount">3 шт</span> ; <span class="mod-price">500 р</span></div>
                </div>
            </div>
            <div class="lk-history-list-more__bottom js-history-back">
                <div class="lk-history-list-more-item__back">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M361.5,140.148H50.689l43.529-43.71c5.846-5.87,5.826-15.368-0.044-21.214c-5.871-5.847-15.368-5.826-21.213,0.044
                                L4.372,144.143c-2.969,2.982-4.417,6.899-4.361,10.8C0.009,155.012,0,155.079,0,155.148c0,5.201,2.649,9.781,6.669,12.472
                                l66.292,66.568c5.847,5.87,15.343,5.889,21.213,0.044c5.87-5.846,5.89-15.344,0.044-21.214l-42.692-42.87H361.5
                                c66.444,0,120.5,54.056,120.5,120.5s-54.056,120.5-120.5,120.5H15c-8.284,0-15,6.716-15,15s6.716,15,15,15h346.5
                                c82.986,0,150.5-67.514,150.5-150.5S444.486,140.148,361.5,140.148z"></path>
                        </g>
                    </g>
                    </svg>
                </div>
                Вернуться назад
            </div>
        </div>
        <div id="125" class="lk-history-list-more js-history-more">
            <div class="lk-history-list-more-item">
                <div class="lk-history-list-more-item__title">
                    <div class="lk-history-list-more-item__back js-history-back">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M361.5,140.148H50.689l43.529-43.71c5.846-5.87,5.826-15.368-0.044-21.214c-5.871-5.847-15.368-5.826-21.213,0.044
                                    L4.372,144.143c-2.969,2.982-4.417,6.899-4.361,10.8C0.009,155.012,0,155.079,0,155.148c0,5.201,2.649,9.781,6.669,12.472
                                    l66.292,66.568c5.847,5.87,15.343,5.889,21.213,0.044c5.87-5.846,5.89-15.344,0.044-21.214l-42.692-42.87H361.5
                                    c66.444,0,120.5,54.056,120.5,120.5s-54.056,120.5-120.5,120.5H15c-8.284,0-15,6.716-15,15s6.716,15,15,15h346.5
                                    c82.986,0,150.5-67.514,150.5-150.5S444.486,140.148,361.5,140.148z"/>
                            </g>
                        </g>
                        </svg>
                    </div>
                    <span>#5556894224</span>
                </div>
            </div>
            <div class="lk-history-list-item mod-active">
                <div class="lk-history-list-item-date">
                    <span class="lk-history-list-item__label">Дата</span>
                    <span>12.03.19г</span>
                </div>
                <div class="lk-history-list-item-time">
                    <span class="lk-history-list-item__label">Время</span>
                    <span>15:30 - 18:30</span>
                </div>
                <div class="lk-history-list-item-number">
                    <span class="lk-history-list-item__label">Номер заказа</span>
                    <span>#5556894224</span>
                </div>
                <div class="lk-history-list-item-status">
                    <span class="lk-history-list-item__label mod-center">Статус</span>
                    <span class="mod-complete">выполнен</span>
                </div>
                <div class="lk-history-list-item-repeat js-history-repeat">
                    <span class="lk-history-list-item__label mod-repeat">Повторить</span>
                    <svg viewBox="0 0 19 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.05955 0C7.83599 0 6.6645 0.240807 5.54507 0.722421C4.42564 1.20404 3.46241 1.84836 2.65539 2.65539C1.84836 3.46241 1.20404 4.42564 0.722421 5.54507C0.240807 6.6645 0 7.83599 0 9.05955C0 10.5955 0.364465 12.0306 1.09339 13.3648C1.82232 14.699 2.81809 15.7859 4.0807 16.6254C5.34331 17.465 6.7426 17.9499 8.27855 18.0801L6.48226 18.9977C6.36512 19.0498 6.28376 19.1344 6.2382 19.2515C6.19265 19.3687 6.20241 19.4858 6.26749 19.603L6.32607 19.7592C6.39115 19.8763 6.48552 19.9512 6.60918 19.9837C6.73283 20.0163 6.85324 20 6.97039 19.9349L9.9577 18.412V18.3924H9.97722L10.1725 18.2948C10.2115 18.2688 10.2441 18.2428 10.2701 18.2167C10.2961 18.1907 10.3189 18.1614 10.3384 18.1289C10.358 18.0963 10.3742 18.0605 10.3872 18.0215C10.4133 17.9043 10.3938 17.7872 10.3287 17.67L10.2115 17.4748L8.35665 14.5851C8.29157 14.481 8.1972 14.4094 8.07354 14.3703C7.94989 14.3313 7.82948 14.3443 7.71233 14.4094L7.57566 14.507C7.47153 14.5721 7.4097 14.6697 7.39017 14.7999C7.37065 14.93 7.39993 15.0472 7.47803 15.1513L8.5519 16.85C7.21119 16.7589 5.98113 16.3554 4.8617 15.6394C3.74227 14.9235 2.8604 13.9831 2.21608 12.8181C1.57175 11.6531 1.24959 10.4003 1.24959 9.05955C1.24959 8.00521 1.45786 6.99642 1.87439 6.03319C2.29092 5.06996 2.84738 4.2369 3.54377 3.53401C4.24016 2.83111 5.06996 2.27465 6.03319 1.86463C6.99642 1.4546 8.00521 1.24959 9.05955 1.24959C10.4784 1.24959 11.7898 1.59779 12.9938 2.29417C14.1979 2.99056 15.1481 3.94077 15.8445 5.14481C16.5408 6.34884 16.889 7.65376 16.889 9.05955C16.889 10.2961 16.6157 11.4611 16.069 12.5545C15.5223 13.6479 14.7543 14.5656 13.765 15.3075C13.6739 15.3726 13.6089 15.4572 13.5698 15.5613C13.5308 15.6655 13.5177 15.7729 13.5308 15.8835C13.5438 15.9941 13.5828 16.095 13.6479 16.1861C13.752 16.3163 13.8887 16.3944 14.0579 16.4204C14.2271 16.4465 14.3833 16.4074 14.5265 16.3033C15.672 15.4442 16.5604 14.3801 17.1917 13.111C17.823 11.8418 18.1386 10.4914 18.1386 9.05955C18.1386 6.78165 17.3837 4.79011 15.8737 3.08493C14.4289 1.44484 12.6326 0.455581 10.4849 0.117149C10.0033 0.0390498 9.52815 0 9.05955 0Z"/>
                    </svg>
                </div>
                <div class="lk-history-list-item-close js-history-delete">
                    <span class="lk-history-list-item__label mod-delete">Удалить</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.3 211.64">
                        <path d="M15,38.65c-2.46,0-4.6.09-6.72,0-5.14-.26-8.4-3.5-8.24-8.1.14-4.38,3.3-7.36,8.36-7.4C22.2,23,36,23.06,49.87,23.06q61,0,122,0c8.5,0,12.17,2.15,12.42,7.45.26,5.49-3.35,7.91-12.2,8.16-.8,0-1.61.14-3,.26v138c0,21.74-13.07,34.71-34.95,34.72q-42.5,0-85,0c-20.71,0-34-13.43-34-34.19q0-66.75,0-133.49C15.2,42.32,15.07,40.7,15,38.65Zm16,.24c-.11,2-.26,3.48-.26,5q0,67.44,0,134.88c0,11,6.42,17.23,17.55,17.26q43.71.09,87.42,0c11.66,0,17.9-6.24,17.9-17.89q0-66.94,0-133.88c0-1.75-.16-3.5-.24-5.35Z"></path><path d="M92.14,15.6c-9.64,0-19.29,0-28.93,0-6,0-9.48-3-9.4-7.89C53.89,3,57.24.06,63,0Q92.15,0,121.32.05c5.68,0,9.09,3,9.17,7.63.08,4.83-3.45,7.87-9.42,7.9C111.43,15.64,101.78,15.6,92.14,15.6Z"></path><path d="M126.87,119.56c0,12.14,0,24.29,0,36.43,0,4-1.13,7.25-5.06,8.89-5.38,2.24-10.5-1.92-10.53-8.7-.07-16.13,0-32.27,0-48.4,0-8.16,0-16.31,0-24.46,0-6.49,2.83-10.12,7.69-10.21s7.84,3.6,7.86,10c0,12.14,0,24.28,0,36.43Z"></path><path d="M57.48,119.07c0-12,0-23.94,0-35.91,0-6.38,3-10.1,7.84-10S73.06,77,73.06,83.29q0,36.17,0,72.32c0,5.87-2.58,9.34-7.08,9.76-4.76.46-8.38-3.2-8.43-8.89C57.42,144,57.49,131.54,57.48,119.07Z"></path>
                    </svg>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__amount">12 товаров</div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__allprice">Стоимость: 1500 руб</div>
                    <div class="lk-history-list-more__profit">Выгода заказа: 758 руб</div>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__img" style="background-image: url(assets/img/history-mini-1.png);">
                    
                    </div>
                </div>
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__description">
                        <p class="lk-history-list-more__name">Компливит таб.п/о №60</p>
                    </div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__price"><span class="mod-amount">3 шт</span> ; <span class="mod-price">500 р</span></div>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__img" style="background-image: url(assets/img/history-mini-2.png);">
                    
                    </div>
                </div>
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__description">
                        <p class="lk-history-list-more__name">Мен-с формула больше,чем поливит.капс.№60 БАД</p>
                    </div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__price"><span class="mod-amount">3 шт</span> ; <span class="mod-price">500 р</span></div>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__img" style="background-image: url(assets/img/history-mini-1.png);">
                    
                    </div>
                </div>
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__description">
                        <p class="lk-history-list-more__name">Компливит таб.п/о №60</p>
                    </div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__price"><span class="mod-amount">3 шт</span> ; <span class="mod-price">500 р</span></div>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__img" style="background-image: url(assets/img/history-mini-2.png);">
                    
                    </div>
                </div>
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__description">
                        <p class="lk-history-list-more__name">Мен-с формула больше,чем поливит.капс.№60 БАД</p>
                    </div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__price"><span class="mod-amount">3 шт</span> ; <span class="mod-price">500 р</span></div>
                </div>
            </div>
            <div class="lk-history-list-more__bottom js-history-back">
                <div class="lk-history-list-more-item__back">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M361.5,140.148H50.689l43.529-43.71c5.846-5.87,5.826-15.368-0.044-21.214c-5.871-5.847-15.368-5.826-21.213,0.044
                                L4.372,144.143c-2.969,2.982-4.417,6.899-4.361,10.8C0.009,155.012,0,155.079,0,155.148c0,5.201,2.649,9.781,6.669,12.472
                                l66.292,66.568c5.847,5.87,15.343,5.889,21.213,0.044c5.87-5.846,5.89-15.344,0.044-21.214l-42.692-42.87H361.5
                                c66.444,0,120.5,54.056,120.5,120.5s-54.056,120.5-120.5,120.5H15c-8.284,0-15,6.716-15,15s6.716,15,15,15h346.5
                                c82.986,0,150.5-67.514,150.5-150.5S444.486,140.148,361.5,140.148z"></path>
                        </g>
                    </g>
                    </svg>
                </div>
                Вернуться назад
            </div>
        </div>
        <div id="126" class="lk-history-list-more js-history-more">
            <div class="lk-history-list-more-item">
                <div class="lk-history-list-more-item__title">
                    <div class="lk-history-list-more-item__back js-history-back">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M361.5,140.148H50.689l43.529-43.71c5.846-5.87,5.826-15.368-0.044-21.214c-5.871-5.847-15.368-5.826-21.213,0.044
                                    L4.372,144.143c-2.969,2.982-4.417,6.899-4.361,10.8C0.009,155.012,0,155.079,0,155.148c0,5.201,2.649,9.781,6.669,12.472
                                    l66.292,66.568c5.847,5.87,15.343,5.889,21.213,0.044c5.87-5.846,5.89-15.344,0.044-21.214l-42.692-42.87H361.5
                                    c66.444,0,120.5,54.056,120.5,120.5s-54.056,120.5-120.5,120.5H15c-8.284,0-15,6.716-15,15s6.716,15,15,15h346.5
                                    c82.986,0,150.5-67.514,150.5-150.5S444.486,140.148,361.5,140.148z"/>
                            </g>
                        </g>
                        </svg>
                    </div>
                    <span>#5556894224</span>
                </div>
            </div>
            <div class="lk-history-list-item mod-active">
                <div class="lk-history-list-item-date">
                    <span class="lk-history-list-item__label">Дата</span>
                    <span>12.03.19г</span>
                </div>
                <div class="lk-history-list-item-time">
                    <span class="lk-history-list-item__label">Время</span>
                    <span>15:30 - 18:30</span>
                </div>
                <div class="lk-history-list-item-number">
                    <span class="lk-history-list-item__label">Номер заказа</span>
                    <span>#5556894224</span>
                </div>
                <div class="lk-history-list-item-status">
                    <span class="lk-history-list-item__label mod-center">Статус</span>
                    <span class="mod-complete">выполнен</span>
                </div>
                <div class="lk-history-list-item-repeat js-history-repeat">
                    <span class="lk-history-list-item__label mod-repeat">Повторить</span>
                    <svg viewBox="0 0 19 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.05955 0C7.83599 0 6.6645 0.240807 5.54507 0.722421C4.42564 1.20404 3.46241 1.84836 2.65539 2.65539C1.84836 3.46241 1.20404 4.42564 0.722421 5.54507C0.240807 6.6645 0 7.83599 0 9.05955C0 10.5955 0.364465 12.0306 1.09339 13.3648C1.82232 14.699 2.81809 15.7859 4.0807 16.6254C5.34331 17.465 6.7426 17.9499 8.27855 18.0801L6.48226 18.9977C6.36512 19.0498 6.28376 19.1344 6.2382 19.2515C6.19265 19.3687 6.20241 19.4858 6.26749 19.603L6.32607 19.7592C6.39115 19.8763 6.48552 19.9512 6.60918 19.9837C6.73283 20.0163 6.85324 20 6.97039 19.9349L9.9577 18.412V18.3924H9.97722L10.1725 18.2948C10.2115 18.2688 10.2441 18.2428 10.2701 18.2167C10.2961 18.1907 10.3189 18.1614 10.3384 18.1289C10.358 18.0963 10.3742 18.0605 10.3872 18.0215C10.4133 17.9043 10.3938 17.7872 10.3287 17.67L10.2115 17.4748L8.35665 14.5851C8.29157 14.481 8.1972 14.4094 8.07354 14.3703C7.94989 14.3313 7.82948 14.3443 7.71233 14.4094L7.57566 14.507C7.47153 14.5721 7.4097 14.6697 7.39017 14.7999C7.37065 14.93 7.39993 15.0472 7.47803 15.1513L8.5519 16.85C7.21119 16.7589 5.98113 16.3554 4.8617 15.6394C3.74227 14.9235 2.8604 13.9831 2.21608 12.8181C1.57175 11.6531 1.24959 10.4003 1.24959 9.05955C1.24959 8.00521 1.45786 6.99642 1.87439 6.03319C2.29092 5.06996 2.84738 4.2369 3.54377 3.53401C4.24016 2.83111 5.06996 2.27465 6.03319 1.86463C6.99642 1.4546 8.00521 1.24959 9.05955 1.24959C10.4784 1.24959 11.7898 1.59779 12.9938 2.29417C14.1979 2.99056 15.1481 3.94077 15.8445 5.14481C16.5408 6.34884 16.889 7.65376 16.889 9.05955C16.889 10.2961 16.6157 11.4611 16.069 12.5545C15.5223 13.6479 14.7543 14.5656 13.765 15.3075C13.6739 15.3726 13.6089 15.4572 13.5698 15.5613C13.5308 15.6655 13.5177 15.7729 13.5308 15.8835C13.5438 15.9941 13.5828 16.095 13.6479 16.1861C13.752 16.3163 13.8887 16.3944 14.0579 16.4204C14.2271 16.4465 14.3833 16.4074 14.5265 16.3033C15.672 15.4442 16.5604 14.3801 17.1917 13.111C17.823 11.8418 18.1386 10.4914 18.1386 9.05955C18.1386 6.78165 17.3837 4.79011 15.8737 3.08493C14.4289 1.44484 12.6326 0.455581 10.4849 0.117149C10.0033 0.0390498 9.52815 0 9.05955 0Z"/>
                    </svg>
                </div>
                <div class="lk-history-list-item-close js-history-delete">
                    <span class="lk-history-list-item__label mod-delete">Удалить</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.3 211.64">
                        <path d="M15,38.65c-2.46,0-4.6.09-6.72,0-5.14-.26-8.4-3.5-8.24-8.1.14-4.38,3.3-7.36,8.36-7.4C22.2,23,36,23.06,49.87,23.06q61,0,122,0c8.5,0,12.17,2.15,12.42,7.45.26,5.49-3.35,7.91-12.2,8.16-.8,0-1.61.14-3,.26v138c0,21.74-13.07,34.71-34.95,34.72q-42.5,0-85,0c-20.71,0-34-13.43-34-34.19q0-66.75,0-133.49C15.2,42.32,15.07,40.7,15,38.65Zm16,.24c-.11,2-.26,3.48-.26,5q0,67.44,0,134.88c0,11,6.42,17.23,17.55,17.26q43.71.09,87.42,0c11.66,0,17.9-6.24,17.9-17.89q0-66.94,0-133.88c0-1.75-.16-3.5-.24-5.35Z"></path><path d="M92.14,15.6c-9.64,0-19.29,0-28.93,0-6,0-9.48-3-9.4-7.89C53.89,3,57.24.06,63,0Q92.15,0,121.32.05c5.68,0,9.09,3,9.17,7.63.08,4.83-3.45,7.87-9.42,7.9C111.43,15.64,101.78,15.6,92.14,15.6Z"></path><path d="M126.87,119.56c0,12.14,0,24.29,0,36.43,0,4-1.13,7.25-5.06,8.89-5.38,2.24-10.5-1.92-10.53-8.7-.07-16.13,0-32.27,0-48.4,0-8.16,0-16.31,0-24.46,0-6.49,2.83-10.12,7.69-10.21s7.84,3.6,7.86,10c0,12.14,0,24.28,0,36.43Z"></path><path d="M57.48,119.07c0-12,0-23.94,0-35.91,0-6.38,3-10.1,7.84-10S73.06,77,73.06,83.29q0,36.17,0,72.32c0,5.87-2.58,9.34-7.08,9.76-4.76.46-8.38-3.2-8.43-8.89C57.42,144,57.49,131.54,57.48,119.07Z"></path>
                    </svg>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__amount">12 товаров</div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__allprice">Стоимость: 1500 руб</div>
                    <div class="lk-history-list-more__profit">Выгода заказа: 758 руб</div>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__img" style="background-image: url(assets/img/history-mini-1.png);">
                    
                    </div>
                </div>
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__description">
                        <p class="lk-history-list-more__name">Компливит таб.п/о №60</p>
                    </div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__price"><span class="mod-amount">3 шт</span> ; <span class="mod-price">500 р</span></div>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__img" style="background-image: url(assets/img/history-mini-2.png);">
                    
                    </div>
                </div>
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__description">
                        <p class="lk-history-list-more__name">Мен-с формула больше,чем поливит.капс.№60 БАД</p>
                    </div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__price"><span class="mod-amount">3 шт</span> ; <span class="mod-price">500 р</span></div>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__img" style="background-image: url(assets/img/history-mini-1.png);">
                    
                    </div>
                </div>
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__description">
                        <p class="lk-history-list-more__name">Компливит таб.п/о №60</p>
                    </div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__price"><span class="mod-amount">3 шт</span> ; <span class="mod-price">500 р</span></div>
                </div>
            </div>
            <div class="lk-history-list-more-row">
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__img" style="background-image: url(assets/img/history-mini-2.png);">
                    
                    </div>
                </div>
                <div class="lk-history-list-more-left">
                    <div class="lk-history-list-more__description">
                        <p class="lk-history-list-more__name">Мен-с формула больше,чем поливит.капс.№60 БАД</p>
                    </div>
                </div>
                <div class="lk-history-list-more-right">
                    <div class="lk-history-list-more__price"><span class="mod-amount">3 шт</span> ; <span class="mod-price">500 р</span></div>
                </div>
            </div>
            <div class="lk-history-list-more__bottom js-history-back">
                <div class="lk-history-list-more-item__back">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M361.5,140.148H50.689l43.529-43.71c5.846-5.87,5.826-15.368-0.044-21.214c-5.871-5.847-15.368-5.826-21.213,0.044
                                L4.372,144.143c-2.969,2.982-4.417,6.899-4.361,10.8C0.009,155.012,0,155.079,0,155.148c0,5.201,2.649,9.781,6.669,12.472
                                l66.292,66.568c5.847,5.87,15.343,5.889,21.213,0.044c5.87-5.846,5.89-15.344,0.044-21.214l-42.692-42.87H361.5
                                c66.444,0,120.5,54.056,120.5,120.5s-54.056,120.5-120.5,120.5H15c-8.284,0-15,6.716-15,15s6.716,15,15,15h346.5
                                c82.986,0,150.5-67.514,150.5-150.5S444.486,140.148,361.5,140.148z"></path>
                        </g>
                    </g>
                    </svg>
                </div>
                Вернуться назад
            </div>
        </div>
	</section>
</div>