<div class="vita-block">
	<form action="" method="POST" enctype="multipart/form-data">
        <section class="cart">
			<div class="cart-content js-content">
				<div class="checkout-categories">
					<div class="checkout-categories-item js-order-section">
						<div class="checkout-categories-item-head">
							<div class="checkout-categories-item-head-progress">
								<span class="checkout-categories-item-head__title">Карта Снегири:</span>
							</div>
							<div class="checkout-categories-item-head-complete">
								<div class="checkout-categories-item-head-row">
									<span class="checkout-categories-item-head__title mod-complete">Карта Снегири:</span>
									<span class="checkout-categories-item-head__title-text">5464869869</span>
									<svg class="icon-check"
										xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink"
										width="32px" height="23px">
										<path fill-rule="evenodd"  fill="rgb(0, 161, 180)"
										d="M0.652,10.660 L8.754,22.814 L31.036,0.532 L8.754,14.711 L0.652,10.660 Z"/>
									</svg>
								</div>
							</div>
						</div>
						<div class="checkout-categories-item-body">
							<div class="checkout-snegiri">
								<p class="checkout-snegiri__text">Введите номер карты Снегири для участия в акции «Цена по карте»</p>
								<div class="checkout-snegiri-row">
									<div class="checkout-snegiri-input">
										<input type="text" placeholder="Введите номер карты Снегири">
									</div>
									<div class="checkout-snegiri-buttons">
										<a href="/" class="checkout-btn js-order-next">Применить карту</a>
										<a href="/" class="checkout-btn mod-gray js-order-next">Продолжить без карты</a>
									
									</div>
								</div>
							</div>
						</div>
					</div>
                    <div id="basket-root" class="bx-basket bx-blue bx-step-opacity" style="opacity: 1;">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-warning alert-dismissable" id="basket-warning" style="">
                                    <span class="close" data-entity="basket-items-warning-notification-close">×</span>
                                    <div data-entity="basket-general-warnings" style="display: none;"></div>
                                    <div data-entity="basket-item-warnings">
                                        В вашей корзине
                                        <a href="javascript:void(0)" data-entity="basket-items-warning-count">1 товар</a>
                                        требует внимания.
                                    </div>

                                    <div id="not-avail-warnings">У вас отсутствуют все товары</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="basket-items-list-wrapper basket-items-list-wrapper-height-fixed" id="basket-items-list-wrapper">
                                    <div class="basket-items-list-header" data-entity="basket-items-list-header">
                                        <div class="basket-items-search-field" data-entity="basket-filter" style="display: none">
                                            <div class="form has-feedback">
                                                <input type="text" class="form-control" placeholder="Фильтр" data-entity="basket-filter-input">
                                                <span class="form-control-feedback basket-clear" data-entity="basket-filter-clear-btn"></span>
                                            </div>
                                        </div>
                                        <div class="basket-items-list-header-filter">
                                            <a href="javascript:void(0)" class="basket-items-list-header-filter-item" data-entity="basket-items-count" data-filter="all" style="">Товары (2)</a>
                                            <a href="javascript:void(0)" class="basket-items-list-header-filter-item" data-entity="basket-items-count" data-filter="similar" style="display: none;"></a>
                                            <a href="javascript:void(0)" class="basket-items-list-header-filter-item active" data-entity="basket-items-count" data-filter="warning" style="">2 c ошибками</a>
                                            <a href="javascript:void(0)" class="basket-items-list-header-filter-item" data-entity="basket-items-count" data-filter="delayed" style="display: none;"></a>
                                            <a href="javascript:void(0)" class="basket-items-list-header-filter-item" data-entity="basket-items-count" data-filter="not-available" style="display: none;"></a>
                                            <div class="top_control basket_sort">
                                                <span style="opacity:1;" class="delete_all button grey_br transparent remove_all_basket">Удалить все</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="basket-items-list-container" id="basket-items-list-container">
                                        <div class="basket-items-list-overlay" id="basket-items-list-overlay" style="display: none;"></div>
                                        <div class="basket-items-list" id="basket-item-list">
                                            <div class="basket-search-not-found" id="basket-item-list-empty-result" style="display: none;">
                                                <div class="basket-search-not-found-icon"></div>
                                                <div class="basket-search-not-found-text">
                                                    По данному запросу товаров не найдено
                                                </div>
                                            </div>
                                            <table class="basket-items-list-table" id="basket-item-table">
                                                <tbody></tbody>
                                                <tbody></tbody>
                                                <tbody></tbody>
                                                <tbody></tbody>
                                                <tbody></tbody>
                                                <tbody>
                                                    <tr class="basket-items-list-item-container mod-warning" id="basket-item-722" data-entity="basket-item" data-id="722">
                                                        <td class="basket-items-list-item-descriptions">
                                                            <div class="basket-items-list-item-descriptions-inner" id="basket-item-height-aligner-722">
                                                                <div class="basket-item-block-image">
                                                                    <a href="/catalog/vitaminy-mineraly-obshchetoniziruyushchie-preparaty/vitaminy/vitaminy-dlya-detey-i-podrostkov/51107/" class="basket-item-image-link">

                                                                        <img class="basket-item-image" alt="Веторон Иммуно д/дет.таб.жев.№30 /бета-каротин/ БАД" src="/bitrix/templates/aspro_optimus/components/bitrix/sale.basket.basket/basket/images/no_photo.png">


                                                                    </a>
                                                                </div>
                                                                <div class="basket-item-block-info">
                                                                    <h2 class="basket-item-info-name">
                                                                        <a href="/catalog/vitaminy-mineraly-obshchetoniziruyushchie-preparaty/vitaminy/vitaminy-dlya-detey-i-podrostkov/51107/" class="basket-item-info-name-link">

                                                                            <span data-entity="basket-item-name">Веторон Иммуно д/дет.таб.жев.№30 /бета-каротин/ БАД</span>

                                                                        </a>
                                                                    </h2>
                                                                    <div class="basket-items-list-item-warning-container">
                                                                        <div class="alert alert-warning alert-dismissable" data-entity="basket-item-warning-node">
                                                                            <span class="close" data-entity="basket-item-warning-close">×</span>
                                                                            <div data-entity="basket-item-warning-text">Извините, заказанное вами количество товара недоступно.
                                                                                <br>
                                                                                Установите доступное для заказа количество.</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="basket-item-block-properties">
                                                                        <div class="basket-item-property-custom basket-item-property-custom-text
                                                                                                                                                                                    " data-entity="basket-item-property">
                                                                            <div class="basket-item-property-custom-name">Доступное количество в выбранной аптеке:</div>
                                                                            <div class="basket-item-property-custom-value" data-column-property-code="STORE_AVAIL" data-entity="basket-item-property-column-value">
                                                                                0
                                                                            </div>
                                                                        </div>


                                                                    </div>
                                                                    
                                                                    <div class="basket-item-block-amount" data-entity="basket-item-quantity-block">
                                                                        <span class="basket-item-amount-btn-minus" data-entity="basket-item-quantity-minus"></span>
                                                                        <div class="basket-item-amount-filed-block">
                                                                            <input type="text" class="basket-item-amount-filed" value="59" data-value="59" data-entity="basket-item-quantity-field" id="basket-item-quantity-722">
                                                                        </div>
                                                                        <span class="basket-item-amount-btn-plus" data-entity="basket-item-quantity-plus"></span>
                                                                        <div class="basket-item-amount-field-description">
                                                                            шт
                                                                        </div>
                                                                    </div>

                                                                    
                                                                    <div class="basket-item-block-price">

                                                                        <div class="basket-item-price-current">
                                                                            <span class="basket-item-price-current-text" id="basket-item-price-722">
                                                                                985 руб./
                                                                            </span>
                                                                            <span class="basket-item-price-current-text" id="basket-item-sum-price-722">
                                                                                17&nbsp;640 руб.
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="basket-item-block-actions">
                                                                <span class="basket-item-actions-remove" data-entity="basket-item-delete"></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="basket-items-list-item-container" id="basket-item-726" data-entity="basket-item" data-id="726">
                                                        <td class="basket-items-list-item-descriptions">
                                                            <div class="basket-items-list-item-descriptions-inner" id="basket-item-height-aligner-726">
                                                                <div class="basket-item-block-image">
                                                                    <a href="/catalog/vitaminy-mineraly-obshchetoniziruyushchie-preparaty/vitaminy/vitaminy-dlya-detey-i-podrostkov/51107/" class="basket-item-image-link">

                                                                        <img class="basket-item-image" alt="Веторон Иммуно д/дет.таб.жев.№30 /бета-каротин/ БАД" src="/bitrix/templates/aspro_optimus/components/bitrix/sale.basket.basket/basket/images/no_photo.png">


                                                                    </a>
                                                                </div>
                                                                <div class="basket-item-block-info">
                                                                    <h2 class="basket-item-info-name">
                                                                        <a href="/catalog/vitaminy-mineraly-obshchetoniziruyushchie-preparaty/vitaminy/vitaminy-dlya-detey-i-podrostkov/51107/" class="basket-item-info-name-link">

                                                                            <span data-entity="basket-item-name">Веторон Иммуно д/дет.таб.жев.№30 /бета-каротин/ БАД</span>

                                                                        </a>
                                                                    </h2>
                                                                    <div class="basket-items-list-item-warning-container">
                                                                        <div class="alert alert-warning alert-dismissable" data-entity="basket-item-warning-node">
                                                                            <span class="close" data-entity="basket-item-warning-close">×</span>
                                                                            <div data-entity="basket-item-warning-text">Извините, заказанное вами количество товара недоступно.
                                                                                <br>
                                                                                Установите доступное для заказа количество.</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="basket-item-block-properties">
                                                                        <div class="basket-item-property-custom basket-item-property-custom-text
                                                                                                                                                                                    " data-entity="basket-item-property">
                                                                            <div class="basket-item-property-custom-name">Доступное количество в выбранной аптеке:</div>
                                                                            <div class="basket-item-property-custom-value" data-column-property-code="STORE_AVAIL" data-entity="basket-item-property-column-value">
                                                                                0
                                                                            </div>
                                                                        </div>


                                                                    </div>
                                                                    
                                                                    <div class="basket-item-block-amount" data-entity="basket-item-quantity-block">
                                                                        <span class="basket-item-amount-btn-minus" data-entity="basket-item-quantity-minus"></span>
                                                                        <div class="basket-item-amount-filed-block">
                                                                            <input type="text" class="basket-item-amount-filed" value="2" data-value="2" data-entity="basket-item-quantity-field" id="basket-item-quantity-726">
                                                                        </div>
                                                                        <span class="basket-item-amount-btn-plus" data-entity="basket-item-quantity-plus"></span>
                                                                        <div class="basket-item-amount-field-description">
                                                                            шт
                                                                        </div>
                                                                    </div>

                                                                    
                                                                    <div class="basket-item-block-price">

                                                                        <div class="basket-item-price-current">
                                                                            <span class="basket-item-price-current-text" id="basket-item-price-722">
                                                                                985 руб./
                                                                            </span>
                                                                            <span class="basket-item-price-current-text" id="basket-item-sum-price-722">
                                                                                17&nbsp;640 руб.
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="basket-item-block-actions">
                                                                <span class="basket-item-actions-remove" data-entity="basket-item-delete"></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="basket-items-list-item-container" id="basket-item-726" data-entity="basket-item" data-id="726">
                                                        <td class="basket-items-list-item-descriptions">
                                                            <div class="basket-items-list-item-descriptions-inner" id="basket-item-height-aligner-726">
                                                                <div class="basket-item-block-image">
                                                                    <a href="/catalog/vitaminy-mineraly-obshchetoniziruyushchie-preparaty/vitaminy/vitaminy-dlya-detey-i-podrostkov/51107/" class="basket-item-image-link">

                                                                        <img class="basket-item-image" alt="Веторон Иммуно д/дет.таб.жев.№30 /бета-каротин/ БАД" src="/bitrix/templates/aspro_optimus/components/bitrix/sale.basket.basket/basket/images/no_photo.png">


                                                                    </a>
                                                                </div>
                                                                <div class="basket-item-block-info">
                                                                    <h2 class="basket-item-info-name">
                                                                        <a href="/catalog/vitaminy-mineraly-obshchetoniziruyushchie-preparaty/vitaminy/vitaminy-dlya-detey-i-podrostkov/51107/" class="basket-item-info-name-link">

                                                                            <span data-entity="basket-item-name">Веторон Иммуно д/дет.таб.жев.№30 /бета-каротин/ БАД</span>

                                                                        </a>
                                                                    </h2>
                                                                    
                                                                    <div class="basket-item-block-amount" data-entity="basket-item-quantity-block">
                                                                        <span class="basket-item-amount-btn-minus" data-entity="basket-item-quantity-minus"></span>
                                                                        <div class="basket-item-amount-filed-block">
                                                                            <input type="text" class="basket-item-amount-filed" value="2" data-value="2" data-entity="basket-item-quantity-field" id="basket-item-quantity-726">
                                                                        </div>
                                                                        <span class="basket-item-amount-btn-plus" data-entity="basket-item-quantity-plus"></span>
                                                                        <div class="basket-item-amount-field-description">
                                                                            шт
                                                                        </div>
                                                                    </div>

                                                                    
                                                                    <div class="basket-item-block-price">

                                                                        <div class="basket-item-price-current">
                                                                            <span class="basket-item-price-current-text" id="basket-item-price-722">
                                                                                985 руб./
                                                                            </span>
                                                                            <span class="basket-item-price-current-text" id="basket-item-sum-price-722">
                                                                                17&nbsp;640 руб.
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="basket-item-block-actions">
                                                                <span class="basket-item-actions-remove" data-entity="basket-item-delete"></span>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

					<div class="checkout-bottom">
						<a href="/" class="checkout-bottom-btn mod-gray">Вернуться в каталог</a>
					</div>
				</div>
			</div>
			<aside class="cart-aside">
				<div class="cart-aside-content js-aside">
					<div class="cart-aside-top">
						<div class="checkout-aside-text">Товаров в заказе: 25 шт.</div>
						<div class="checkout-aside-text">Сумма: 6 259 руб.</div>
					</div>
					<div class="cart-aside-bottom">
						<div class="checkout-aside-profit">Ваша выгода: 956 руб.</div>
						<div class="checkout-aside-price">Итого к оплате:  5 056 руб.</div>
						<div class="checkout-aside-comment">*Цена с учетом скидки от вашей карты Снегири</div>
						<div class="checkout-aside-btn">
                            <a href="/" class="checkout-aside-btn__button">Оформить заказ</a>
                        </div>

					</div>

				</div>
			</aside>
		</section>
	</form>
</div>
