* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  width: 100%; }

.site {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(../assets/img/bg.png);
  background-repeat: initial;
  width: 100%;
  min-height: 100vh; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  flex-shrink: 0;
  background-size: contain;
  background-position: 50% 50%;
  background-image: url(../assets/img/header-decor.png);
  background-repeat: repeat;
  height: 41px;
  width: 100%; }

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1068px;
  padding: 84px 34px 126px;
  margin: 0 auto; }
  @media screen and (max-width: 767px) {
    .main {
      padding: 90px 16px; } }
  .main-logo {
    margin-right: 7px; }
    @media screen and (max-width: 767px) {
      .main-logo {
        margin-right: 0;
        margin-bottom: 10px; } }
    .main-logo img {
      display: block;
      width: 113px;
      height: 66px; }
    .main-logo-text {
      font-family: "CyrillicOld";
      font-size: 42px;
      color: #e30413;
      line-height: 1;
      font-weight: normal; }
  .main-attention {
    font-size: 40px;
    font-family: "Gilroy";
    font-weight: bold;
    color: #323232;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    margin-bottom: 30px;
    max-width: 100%; }
    @media screen and (max-width: 767px) {
      .main-attention {
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 20px; } }
  .main-text {
    font-size: 22px;
    font-family: "Ubuntu", sans-serif;
    color: #323232;
    text-transform: uppercase;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    max-width: 100%; }
    @media screen and (max-width: 767px) {
      .main-text {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px; } }
    .main-text .mod-cyan {
      color: #039db5; }
  .main-author {
    font-size: 26px;
    font-family: "Ubuntu", sans-serif;
    color: #323232;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
    margin-bottom: 22px; }
    @media screen and (max-width: 767px) {
      .main-author {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 20px; } }
  .main-contacts {
    display: flex;
    align-items: center;
    margin-bottom: 20px; }
    @media screen and (max-width: 767px) {
      .main-contacts {
        flex-direction: column;
        align-items: flex-start; } }
  .main-phone {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    color: #009cb4;
    line-height: 1;
    text-decoration: none;
    margin-right: 12px; }
    @media screen and (max-width: 767px) {
      .main-phone {
        font-size: 16px;
        line-height: 20px; } }
    .main-phone svg {
      width: 20px;
      height: 20px;
      fill: #00a1b4;
      margin-right: 9px; }
  .main-schedule {
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    color: #383838;
    line-height: 1;
    font-weight: 300;
    font-style: italic; }
    @media screen and (max-width: 767px) {
      .main-schedule {
        font-size: 16px;
        line-height: 20px;
        padding-left: 26px; } }
  .main-social {
    display: flex; }
    .main-social__item:not(:last-child) {
      margin-right: 15px; }
    .main-social__item a {
      width: 31px;
      height: 31px;
      display: block;
      background: url(../bitrix/templates/aspro_optimus/images/svg/social.svg) -2px -2px no-repeat;
      transition: opacity ease .5s; }
      .main-social__item a:hover {
        opacity: .8; }
      .main-social__item a.inst {
        background-position: -122px -122px; }

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 58px;
  width: 100%;
  max-width: 100%; }
  @media screen and (max-width: 767px) {
    .head {
      flex-direction: column;
      margin-bottom: 44px; } }
