<div class="vita-block">
	<section class="lk-snegiri">
		<div class="lk-snegiri-wrap">
			<div class="lk-snegiri__img">
			
			</div>
			<div class="lk-snegiri-info">
				<p class="lk-snegiri-input__text">Введите номер вашей карты Снегири</p>
				<div class="lk-snegiri-row">
					<div class="lk-snegiri-input">
						<input type="text" placeholder="">
						<a href="/" class="lk-snegiri-input__btn">Сохранить изменения</a>
					</div>
				</div>
				<p class="lk-snegiri-info__title">Карта «Снегири»</p>
				<p class="lk-snegiri-info__text">это возможность участвовать в Программах лояльности партнеров и получать больше скидок;</p>
				<ul class="lk-snegiri-list">
					<li class="lk-snegiri-list__item">участвовать в акциях для владельцев карт «Снегири»</li>
					<li class="lk-snegiri-list__item">накапливать бонусы</li>
					<li class="lk-snegiri-list__item">оплачивать покупки бонусами</li>
					<li class="lk-snegiri-list__item">получать Персональные предложения! (скидки или бонусы)</li>
					<li class="lk-snegiri-list__item">получать Персональные! скидки на любимые Вами товары</li>
					<li class="lk-snegiri-list__item">контролировать свои покупки</li>
				</ul>
			</div>
		</div>
	</section>
</div>