.lk{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -10px;
    &-card{
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        flex-direction: column;
        margin: 0 10px 22px;
        width: calc(33.33% - 20px);
        &-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #faf9fc;
            border: 1px solid #f3f3f3;
            padding: 32px 12px;
            height: 100%;
            transition: all .2s ease;
            &:hover{
                background: #00a1b4;
                svg{
                    fill: #fff;
                }
                .lk-card__text{
                    color: #fff;
                }
            }

        }
        &__icon{
            height: 50px;
            margin-bottom: 23px;
        }
        &__text{
            font-size: 17px;
            font-family: "HelveticaNeueCyr";
            color: #383838;
            line-height: 1;
            text-align: center;
            font-weight: 500;
            transition: all .2s ease;
        }

    }
}

.icon-heart{
    width: 56px;
    height: 47px;
    fill: #0ba0b2;
    transition: all .2s ease;
}