.lk{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -10px;
    &-card{
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        flex-direction: column;
        margin: 0 10px 22px;
        width: calc(33.33% - 20px);
        @media screen and (max-width: 720px){
            flex: 1 1 auto;
            width: calc(50% - 20px);
        }
        &-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #faf9fc;
            border: 1px solid #f3f3f3;
            padding: 32px 12px;
            height: 100%;
            transition: all .2s ease;
            @media screen and (max-width: 720px){
                padding: 17px 12px;
            }
            &:hover{
                background: #00a1b4;
                svg{
                    fill: #fff;
                }
                .lk-card__text{
                    color: #fff;
                }
            }

        }
        &__icon{
            height: 50px;
            margin-bottom: 23px;
            @media screen and (max-width: 720px){
                height: 25px;
                margin-bottom: 10px;
            }
        }
        &__text{
            font-size: 17px;
            font-family: "HelveticaNeueCyr";
            color: #383838;
            line-height: 1;
            text-align: center;
            font-weight: 500;
            transition: all .2s ease;
            @media screen and (max-width: 720px){
                font-size: 12px;
            }
        }

    }
}

.icon-heart{
    width: 56px;
    height: 47px;
    fill: #0ba0b2;
    transition: all .2s ease;
    @media screen and (max-width: 720px){
        width: 29px;
        height: 25px;
    }
}
.icon-profile{
    width: 50px;
    height: 50px;
    fill: #0ba0b2;
    transition: all .2s ease;
    @media screen and (max-width: 720px){
        width: 25px;
        height: 25px;
    }
}
.icon-list{
    width: 50px;
    height: 50px;
    fill: #0ba0b2;
    transition: all .2s ease;
    @media screen and (max-width: 720px){
        width: 25px;
        height: 25px;
    }
}
.icon-card{
    width: 50px;
    height: 41px;
    fill: #0ba0b2;
    transition: all .2s ease;
    @media screen and (max-width: 720px){
        width: 25px;
        height: 20px;
    }
}
.icon-logout{
    width: 50px;
    height: 50px;
    fill: #0ba0b2;
    transition: all .2s ease;
    @media screen and (max-width: 720px){
        width: 25px;
        height: 25px;
    }
}