<div class="lk">
    <div class="lk-card">
        <a href="/" class="lk-card-wrapper">
            <div class="lk-card__icon" style="background-image: url('assets/img/icons_mask.svg');">
            
            </div>
            <div class="lk-card__text">
            
            </div>
        </a>
    </div>
</div>