<div class="catalog-section-list">
    <div class="catalog-section-wrap js-catalog-section">
        <div class="catalog-section-item">
            <a class="catalog-section-item-wrap" href="/">
                <span class="catalog-section-item__text">
                    аксессуары
                </span>
                <span class="catalog-section-item__amount">
                    105
                </span>
            </a>
        </div>
        <div class="catalog-section-item">
            <a class="catalog-section-item-wrap" href="/">
                <span class="catalog-section-item__text">
                    гигиена и уход за полостью рта 
                </span>
                <span class="catalog-section-item__amount">
                    207
                </span>
            </a>
        </div>
        <div class="catalog-section-item">
            <a class="catalog-section-item-wrap" href="/">
                <span class="catalog-section-item__text">
                    пластыри направленого действия
                </span>
                <span class="catalog-section-item__amount">
                    20
                </span>
            </a>
        </div>
        <div class="catalog-section-item">
            <a class="catalog-section-item-wrap" href="/">
                <span class="catalog-section-item__text">
                    моделирование тела
                </span>
                <span class="catalog-section-item__amount">
                    2
                </span>
            </a>
        </div>
        <div class="catalog-section-item">
            <a class="catalog-section-item-wrap" href="/">
                <span class="catalog-section-item__text">
                    наборы косметические в подарочной упаковке
                </span>
                <span class="catalog-section-item__amount">
                    677
                </span>
            </a>
        </div>
        <div class="catalog-section-item">
            <a class="catalog-section-item-wrap" href="/">
                <span class="catalog-section-item__text">
                    для ароматерапии
                </span>
                <span class="catalog-section-item__amount">
                    88
                </span>
            </a>
        </div>
        <div class="catalog-section-item">
            <a class="catalog-section-item-wrap" href="/">
                <span class="catalog-section-item__text">
                    для бритья
                </span>
                <span class="catalog-section-item__amount">
                    456
                </span>
            </a>
        </div>
        <div class="catalog-section-item">
            <a class="catalog-section-item-wrap" href="/">
                <span class="catalog-section-item__text">
                    для принятия ванн, душа, бани
                </span>
                <span class="catalog-section-item__amount">
                    86
                </span>
            </a>
        </div>
        <div class="catalog-section-item">
            <a class="catalog-section-item-wrap" href="/">
                <span class="catalog-section-item__text">
                    уход за волосами
                </span>
                <span class="catalog-section-item__amount">
                    45
                </span>
            </a>
        </div>
        <div class="catalog-section-item">
            <a class="catalog-section-item-wrap" href="/">
                <span class="catalog-section-item__text">
                    уход за кожей лица
                </span>
                <span class="catalog-section-item__amount">
                    1534
                </span>
            </a>
        </div>
    </div>
	
	<div class="catalog-section-more">
        <a class="catalog-section-item-wrap js-show-more" href="/">
            <span class="catalog-section-item__text closed">
                ещё 27 категорий
            </span>
            <span class="catalog-section-item__text opened">
                скрыть категории
            </span>
            <i class="arr icons_fa"></i>
        </a>
    </div>
</div>
