@import '../components/**/*.scss';

.top-banner{
    position: relative;
    width: 100%;
    max-height: 0;
    padding-top: 35.15%;
    background-color: #f9f9f9;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../assets/img/banner.png);
    background-repeat: no-repeat;
    margin: 0 auto 14px;
}

.tizers_block{
    .item{
        text-align: center;
        margin-bottom: 12px;
        .title{
            width: auto;
            font-size: 16px;
            font-family: "Gilroy";
            color: #e6007d;
            font-weight: bold;
            margin: 0;
            &.mod-blue{
                color: #009cb4;
            }
        }
    }
}

.wrap_tizer {
    .wrap_outer {
        background: #0cadc0;
        .inner_text {
            font-family: "HelveticaNeueCyr";
            font-size: 14px;
            color: #fff;
            font-style: normal;
            background: #0cadc0;
        }
        .outer_text{
            background: #0cadc0;

        }
    } 
    .wrapper_inner_tizer{
        padding: 0 20px 0 20px;
    }
}

.colored #header .catalog_menu ul.menu>li{
    background: #0cadc0;
}

h1{
    font-family: "Gilroy";
    font-weight: bold;

}

.header{
    &-row{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        @media screen and (max-width: 920px){
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &-left{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        @media screen and (max-width: 920px){
            width: 100%;
            justify-content: space-between;
            margin-bottom: 8px;
        }
        @media screen and (max-width: 540px){
            align-items: flex-start;
        }
        &-info{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            @media screen and (max-width: 920px){
                width: 70%;
                justify-content: space-between;
            }
            @media screen and (max-width: 540px){
                width: auto;
                flex-direction: column;
                align-items: flex-start;
            }

        }
    }
    &-right{
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-left: auto;
        @media screen and (max-width: 1140px){
            flex-direction: column;
        }
        @media screen and (max-width: 920px){
            flex-direction: row;
        }
        @media screen and (max-width: 540px){
            width: 100%;
            justify-content: space-between;
        }

    }
    &-logo{
        position: relative;
        top: -60px;
        margin-right: 20px;
        margin-bottom: -80px;
        @media screen and (max-width: 920px){
            top: 0;
            margin-bottom: -10px;
            margin: 4px 12px 0 0;
        }
        @media screen and (max-width: 540px){
            margin-right: 0;
        }
        img{
            display: block;
            width: 192px;
            height: 113px;
            @media screen and (max-width: 920px){
                width: 156px;
                height: 92px;
            }
            @media screen and (max-width: 540px){
                width: 110px;
                height: 65px;
            }
        }
    }
    &-slogan{
        margin-right: 32px;
        @media screen and (max-width: 920px){
            margin-right: 12px;
        }
        @media screen and (max-width: 540px){
            margin-right: 0;
        }
        &.mod-desktop{
            display: block;
            @media screen and (max-width: 920px){
                display: none;
            }
        }
        &.mod-mobile{
            display: none;
            @media screen and (max-width: 920px){
                display: block;
            }
            
        }
        &__text{
            font-family: "Gilroy";
            font-size: 18px;
            line-height: 25px;
            color: #e6007d;
            font-weight: bold;
            &:not(:first-child){
                padding-left: 8px;
            }
            &.mod-cyr{
                font-family: "CyrillicOld";
                font-size: 56px;
                color: #e30413;
                line-height: 1;
                font-weight: normal;
              
            }
            
        }
    }
    &-phone{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 auto;
        @media screen and (max-width: 920px){
            align-items: flex-end;
        }
        @media screen and (max-width: 540px){
            padding-left: 8px;
        }
        &__number{
            display: block;
            font-family: "Gilroy";
            font-size: 18px;
            line-height: 25px;
            color: #323232;
            font-weight: bold;
        }
    }
    &-call{
        margin-left: auto;
        vertical-align: middle;
        @media screen and (max-width: 540px){
            margin-left: 0;
        }
        &__text{
            font-size: 14px;
            font-family: "HelveticaNeueCyr";
            color: #383838;
            font-weight: normal;
            text-decoration: underline;
            line-height: 23px;
            margin-left: 7px;
            cursor: pointer;
            &:hover{
                text-decoration: none;
                
            }
        }
        .fa-phone{
            font-size: 16px;
            color: #383838;
            line-height: 19px;
            vertical-align: middle;
        }
    }
    &-auth{
        margin-left: 43px;
        @media screen and (max-width: 540px){
            margin-left: 12px;
        }
        &__text{
            font-size: 14px;
            font-family: "HelveticaNeueCyr";
            color: #383838;
            font-weight: normal;
            text-decoration: underline;
            line-height: 23px;
            margin-left: 7px;
            cursor: pointer;
            &:hover{
                text-decoration: none;
                
            }
            
        }
        .fa-user{
            font-size: 14px;
            color: #383838;
            line-height: 19px;
            padding-top: 4px;
        }
    }
    &-decor{
        background-size: contain;
        background-position: 50% 50%;
        background-image: url(../assets/img/header-decor.png);
        background-repeat: repeat;
        height: 41px;
        width: 100%;
        @media screen and (max-width: 920px){
            display: none;
        }
    }
}

.auth-steps{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0 46px;
    @media screen and (max-width: 720px){
        flex-direction: column;
        margin: 0;
    }
    &-item{
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 720px){
            margin-bottom: 24px;
        }
        &:nth-child(2n){
            margin-left: 20px;
            @media screen and (max-width: 720px){
                margin-left: 0;
            }
        }
        &__img{
            margin-right: 26px;
            margin-top: 5px;
        }
        &__text{
            font-size: 16px;
            font-family: "HelveticaNeueCyr";
            color: #383838;
            line-height: 26px;

        }
    }
}

.auth-tabs{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 18px;
    z-index: 1;
    @media screen and (max-width: 720px){
        margin-bottom: -20px
    }
    &-line{
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 1px;
        background: #e5e5e5;
        top: 50%;
    }
    &-item{
        display: inline-block;
        flex: 0 0 auto;
        font-size: 14px;
        font-family: "HelveticaNeueCyr";
        line-height: 1;
        padding: 12px 30px;
        border: 1px solid #e5e5e5;
        background: #faf9fc;
        color: #383838;
        max-width: 215px;
        text-align: center;
        transition: all .3s ease;
        &:not(:first-child){
            margin-left: 26px;
        }
        &.active{
            background: #00a1b4;
            color: #fff;
            border: 1px solid #00a1b4;
        }
    }
}

.mod-bg-white{
    background: #fff;
}

.auth-content{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 1 auto;
    &-row{
        display: flex;
        flex-direction: row;
        width: 637px;
        margin: 0 auto 20px;
        @media screen and (max-width: 720px){
            position: absolute;
            top: 45px;
            left: 0;
            width: 100%;
            max-width: none;
            z-index: 1;
            padding: 0 15px;
            box-sizing: border-box;
            flex-direction: column;
        }
    }
    &-search{
        position: relative;
        margin: 0 auto;
        width: 100%;
        input[type=text]{
            background-color: #faf9fc;
            padding: 11px 34px 11px 14px;
            font-size: 14px;
            font-family: "HelveticaNeueCyr";
            color: #383838;
            border: 1ps solid #eaebec;
            border-radius: 8px;
            width: 100%;
        }
        .arrow{
            position: absolute;
            top: 10px;
            right: 14px;
            transform: rotate(90deg);
            font: 18px "Consolas", monospace;
            pointer-events: none;
        }
    }
    &-map{
        flex: 1 1 auto;
        min-height: 540px;
        height: 100%;
    }
    &-select{
        position: relative;
        width: 100%;
        max-width: 190px;
        margin-right: 22px;
        @media screen and (max-width: 720px){
            margin: 0 0 12px;
            max-width: none;
        }
        &.mod-width-auto{
            margin-right: 0;
            max-width: none;
        }
        select{
            position: relative;
            border: 1px solid #E2E2E2;
            border-radius: 8px;
            box-sizing: border-box;
            font-family: "HelveticaNeueCyr";
            color: #383838;
            font-size: 14px;
            margin: 0;
            padding: 0;
            padding: 12px 12px 12px;
            outline: none;
            font-weight: normal;
            width: 100%;
            background-color: #faf9fc;
            -webkit-appearance:none;
            -moz-appearance:none;
            appearance:none;
            cursor: pointer;
            &::-ms-expand {
                display: none;
            }
            @media screen and (-webkit-min-device-pixel-ratio:0) {
                padding-right: 18px;
            }
        }
        .arrow {
            position: absolute;
            top: 10px;
            right: 14px;
            transform: rotate(90deg);
            font: 18px "Consolas", monospace;
            pointer-events: none;
        }
    }
}
.auth-tab-content{
    position: relative;
    flex-direction: column;
    flex: 1 1 auto;
    display: none;
    &.active{
        display: flex;
    }
}

.footer-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    .links-row{
        display: flex;
        flex-direction: row;
        .item_block{
            margin-right: 14px;
        }
    }
}
#footer .footer_bottom_inner .footer-row .copyright{
    padding: 0;
}

#footer .footer_bottom_inner.mod-mini{
    padding: 25px 0 14px;
}

.content-flex{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .wrapper_inner{
        width: 100%;
    }
}

.card-map{
    display: flex;
    width: 100%;
    width: 440px;
    @media screen and (max-width: 720px){
        width: 238px;
    }
    &-img{
        width: 130px;
        height: 130px;
        flex: 0 0 auto;
        background: none 50% 50% no-repeat;
        background-size: cover;
        margin-right: 14px;
        @media screen and (max-width: 720px){
            display: none;
        }
    }
    &-info{

    }
    &-address{
        font-family: "HelveticaNeueCyr";
        color: #383838;
        font-size: 14px;
        line-height: 21px;

    }
    &-phone{
        font-family: "Gilroy";
        color: #383838;
        font-weight: bold;
        font-size: 14px;
        line-height: 34px;
    }
    &-time{
        font-family: "HelveticaNeueCyr";
        color: #383838;
        font-size: 14px;
        line-height: 21px;

    }
    &-btn{
        display: inline-block;
        flex: 0 0 auto;
        font-size: 14px;
        font-family: "HelveticaNeueCyr";
        line-height: 1;
        background: #00a1b4;
        border: 1px solid #00a1b4;
        color: #fff;
        padding: 8px 18px 10px;
        border-radius: 4px;
        margin-top: 10px;
        &:hover{
            background: #3ea6b6;
            color: #fff;
        }
    }
}