<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
	<head>
		<title>Аптека Вита</title>
		<meta name="viewport" content="initial-scale=1.0, width=device-width"/>
		<meta name="HandheldFriendly" content="true"/>
		<meta name="yes" content="yes"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
		<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="keywords" content="интернет-магазин, заказать, купить"/>
		<meta name="description" content="Оптимальный интернет-магазин"/>

		<link href="styles_old/core.min.css" type="text/css" rel="stylesheet"/>
		<link href="styles_old/ui.font.opensans.min.css" type="text/css" rel="stylesheet"/>
		<link href="styles_old/main.popup.bundle.min.css" type="text/css" rel="stylesheet"/>
		<link href="styles_old/popup.min.css" type="text/css" rel="stylesheet"/>
		<link href="styles_old/bootstrap.min.css" type="text/css" rel="stylesheet"/>
		<link href="styles_old/page-cart.css" type="text/css" rel="stylesheet"/>

		<link href="styles_old/template.css" type="text/css" data-template-style="true" rel="stylesheet"/>

		<link href="fonts/gilroy/gilroy.css" type="text/css" data-template-style="true" rel="stylesheet"/>
		<link href="fonts/helvetica_neue/stylesheet.css" type="text/css" data-template-style="true" rel="stylesheet"/>
		<link href="fonts/cyrillic_old/stylesheet.css" type="text/css" data-template-style="true" rel="stylesheet"/>
		<link href="styles/index.css" type="text/css" data-template-style="true" rel="stylesheet"/>

		<script type="text/javascript">
			if (!window.BX) 
            window.BX = {};

            if (!window.BX.message) 
            window.BX.message = function (mess) {
            if (typeof mess == 'object') 
            for (var i in mess) 
            BX.message[i] = mess[i];


            return true;
            };
            ;
		</script>
		<script type="text/javascript">
			(window.BX || top.BX).message({
            'JS_CORE_LOADING': 'Загрузка...',
            'JS_CORE_NO_DATA': '- Нет данных -',
            'JS_CORE_WINDOW_CLOSE': 'Закрыть',
            'JS_CORE_WINDOW_EXPAND': 'Развернуть',
            'JS_CORE_WINDOW_NARROW': 'Свернуть в окно',
            'JS_CORE_WINDOW_SAVE': 'Сохранить',
            'JS_CORE_WINDOW_CANCEL': 'Отменить',
            'JS_CORE_WINDOW_CONTINUE': 'Продолжить',
            'JS_CORE_H': 'ч',
            'JS_CORE_M': 'м',
            'JS_CORE_S': 'с',
            'JSADM_AI_HIDE_EXTRA': 'Скрыть лишние',
            'JSADM_AI_ALL_NOTIF': 'Показать все',
            'JSADM_AUTH_REQ': 'Требуется авторизация!',
            'JS_CORE_WINDOW_AUTH': 'Войти',
            'JS_CORE_IMAGE_FULL': 'Полный размер'
            });
		</script>

		<script type="text/javascript" src="scripts_old/core.min.js"></script>

		<script>
			BX.setJSList([
            '/bitrix/js/main/core/core_ajax.js',
            '/bitrix/js/main/core/core_promise.js',
            '/bitrix/js/main/polyfill/promise/js/promise.js',
            '/bitrix/js/main/loadext/loadext.js',
            '/bitrix/js/main/loadext/extension.js',
            '/bitrix/js/main/polyfill/promise/js/promise.js',
            '/bitrix/js/main/polyfill/find/js/find.js',
            '/bitrix/js/main/polyfill/includes/js/includes.js',
            '/bitrix/js/main/polyfill/matches/js/matches.js',
            '/bitrix/js/ui/polyfill/closest/js/closest.js',
            '/bitrix/js/main/polyfill/fill/main.polyfill.fill.js',
            '/bitrix/js/main/polyfill/find/js/find.js',
            '/bitrix/js/main/polyfill/matches/js/matches.js',
            '/bitrix/js/main/polyfill/core/dist/polyfill.bundle.js',
            '/bitrix/js/main/polyfill/core/dist/polyfill.bundle.js',
            '/bitrix/js/main/lazyload/dist/lazyload.bundle.js',
            '/bitrix/js/main/polyfill/core/dist/polyfill.bundle.js',
            '/bitrix/js/main/parambag/dist/parambag.bundle.js'
            ]);
            BX.setCSSList(['/bitrix/js/main/lazyload/dist/lazyload.bundle.css', '/bitrix/js/main/parambag/dist/parambag.bundle.css']);
                    </script>
                    <script type="text/javascript">
                        (window.BX || top.BX).message({
            'LANGUAGE_ID': 'ru',
            'FORMAT_DATE': 'DD.MM.YYYY',
            'FORMAT_DATETIME': 'DD.MM.YYYY HH:MI:SS',
            'COOKIE_PREFIX': 'BITRIX_SM',
            'SERVER_TZ_OFFSET': '10800',
            'SITE_ID': 's1',
            'SITE_DIR': '/',
            'USER_ID': '',
            'SERVER_TIME': '1595846421',
            'USER_TZ_OFFSET': '0',
            'USER_TZ_AUTO': 'Y',
            'bitrix_sessid': '5f1c95856a20aeb267a2e0ebb51316e2'
            });
		</script>


		<script type="text/javascript" src="scripts_old/kernel_main_v1.js"></script>
		<script type="text/javascript" src="scripts_old/kernel_main_polyfill_customevent_v1.js"></script>
		<script type="text/javascript" src="scripts_old/dexie.bitrix.bundle.min.js"></script>
		<script type="text/javascript" src="scripts_old/core_ls.min.js"></script>
		<script type="text/javascript" src="scripts_old/core_frame_cache.min.js"></script>
		<script type="text/javascript" src="scripts_old/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="scripts_old/ajax.min.js"></script>
		<script type="text/javascript" src="scripts_old/main.popup.bundle.min.js"></script>
		<script type="text/javascript" src="scripts_old/core_currency.min.js"></script>
        <script type="text/javascript" src="scripts_old/page-basket.js"></script>
		<script type="text/javascript" src="scripts/vendor/masonry.pkgd.min.js"></script>


		<script type="text/javascript">
			BX.setJSList([
            '/bitrix/js/main/core/core_fx.js',
            '/bitrix/js/main/session.js',
            '/bitrix/js/main/core/core_window.js',
            '/bitrix/js/main/date/main.date.js',
            '/bitrix/js/main/core/core_date.js',
            '/bitrix/js/main/utils.js',
            '/bitrix/js/main/polyfill/customevent/main.polyfill.customevent.js',
            '/bitrix/templates/aspro_optimus/js/jquery.actual.min.js',
            '/bitrix/templates/aspro_optimus/js/jqModal.js',
            '/bitrix/templates/aspro_optimus/js/jquery.fancybox.js',
            '/bitrix/templates/aspro_optimus/js/jquery.history.js',
            '/bitrix/templates/aspro_optimus/js/jquery.flexslider.js',
            '/bitrix/templates/aspro_optimus/js/jquery.validate.min.js',
            '/bitrix/templates/aspro_optimus/js/jquery.inputmask.bundle.min.js',
            '/bitrix/templates/aspro_optimus/js/jquery.easing.1.3.js',
            '/bitrix/templates/aspro_optimus/js/equalize.min.js',
            '/bitrix/templates/aspro_optimus/js/jquery.alphanumeric.js',
            '/bitrix/templates/aspro_optimus/js/jquery.cookie.js',
            '/bitrix/templates/aspro_optimus/js/jquery.plugin.min.js',
            '/bitrix/templates/aspro_optimus/js/jquery.countdown.min.js',
            '/bitrix/templates/aspro_optimus/js/jquery.countdown-ru.js',
            '/bitrix/templates/aspro_optimus/js/jquery.ikSelect.js',
            '/bitrix/templates/aspro_optimus/js/sly.js',
            '/bitrix/templates/aspro_optimus/js/equalize_ext.js',
            '/bitrix/templates/aspro_optimus/js/jquery.mousewheel-3.0.6.min.js',
            '/bitrix/templates/aspro_optimus/js/jquery.mCustomScrollbar.min.js',
            '/bitrix/templates/aspro_optimus/js/jquery.dotdotdot.js',
            '/bitrix/templates/aspro_optimus/js/velocity.js',
            '/bitrix/templates/aspro_optimus/js/velocity.ui.js',
            '/bitrix/templates/aspro_optimus/js/main.js',
            '/bitrix/components/bitrix/search.title/script.js',
            '/bitrix/templates/aspro_optimus/js/custom.js'
            ]);
		</script>
		<script type="text/javascript">
			BX.setCSSList([
            '/bitrix/templates/aspro_optimus/css/jquery.fancybox.css',
            '/bitrix/templates/aspro_optimus/css/styles.css',
            '/bitrix/templates/aspro_optimus/css/animation/animation_ext.css',
            '/bitrix/templates/aspro_optimus/css/jquery.mCustomScrollbar.min.css',
            '/bitrix/templates/aspro_optimus/ajax/ajax.css',
            '/bitrix/templates/aspro_optimus/styles.css',
            '/bitrix/templates/aspro_optimus/template_styles.css',
            '/bitrix/templates/aspro_optimus/themes/custom_s1/theme.css',
            '/bitrix/templates/aspro_optimus/bg_color/custom_s1/bgcolors.css',
            '/bitrix/templates/aspro_optimus/css/media.css',
            '/bitrix/templates/aspro_optimus/css/fonts/font-awesome/css/font-awesome.min.css',
            '/bitrix/templates/aspro_optimus/css/print.css',
            '/bitrix/templates/aspro_optimus/css/custom.css'
            ]);
        </script>
		{# <script type="text/javascript">
			(function () {
            "use strict";

            var counter = function () {
            var cookie = (function (name) {
            var parts = ("; " + document.cookie).split("; " + name + "=");
            if (parts.length == 2) {
            try {
            return JSON.parse(decodeURIComponent(parts.pop().split(";").shift()));
            } catch (e) {}
            }
            })("BITRIX_CONVERSION_CONTEXT_s1");

            if (cookie && cookie.EXPIRE >= BX.message("SERVER_TIME")) 
            return;


            var request = new XMLHttpRequest();
            request.open("POST", "/bitrix/tools/conversion/ajax_counter.php", true);
            request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            request.send("SITE_ID=" + encodeURIComponent("s1") + "&sessid=" + encodeURIComponent(BX.bitrix_sessid()) + "&HTTP_REFERER=" + encodeURIComponent(document.referrer));
            };

            if (window.frameRequestStart === true) 
            BX.addCustomEvent("onFrameDataReceived", counter);
            else 
            BX.ready(counter);

            })();
		</script> #}
		<script>
			BX.message({
            'PHONE': 'Телефон',
            'SOCIAL': 'Социальные сети',
            'DESCRIPTION': 'Описание магазина',
            'ITEMS': 'Товары',
            'LOGO': 'Логотип',
            'REGISTER_INCLUDE_AREA': 'Текст о регистрации',
            'AUTH_INCLUDE_AREA': 'Текст об авторизации',
            'FRONT_IMG': 'Изображение компании',
            'EMPTY_CART': 'пуста',
            'CATALOG_VIEW_MORE': '... Показать все',
            'CATALOG_VIEW_LESS': '... Свернуть',
            'JS_REQUIRED': 'Заполните это поле!',
            'JS_FORMAT': 'Неверный формат!',
            'JS_FILE_EXT': 'Недопустимое расширение файла!',
            'JS_PASSWORD_COPY': 'Пароли не совпадают!',
            'JS_PASSWORD_LENGTH': 'Минимум 6 символов!',
            'JS_ERROR': 'Неверно заполнено поле!',
            'JS_FILE_SIZE': 'Максимальный размер 5мб!',
            'JS_FILE_BUTTON_NAME': 'Выберите файл',
            'JS_FILE_DEFAULT': 'Файл не найден',
            'JS_DATE': 'Некорректная дата!',
            'JS_RECAPTCHA_ERROR': 'Пройдите проверку',
            'JS_REQUIRED_LICENSES': 'Согласитесь с условиями!',
            'FANCY_CLOSE': 'Закрыть',
            'FANCY_NEXT': 'Следующий',
            'FANCY_PREV': 'Предыдущий',
            'TOP_AUTH_REGISTER': 'Регистрация',
            'CALLBACK': 'Заказать звонок',
            'UNTIL_AKC': 'До конца акции',
            'TITLE_QUANTITY_BLOCK': 'Остаток',
            'TITLE_QUANTITY': 'штук',
            'TOTAL_SUMM_ITEM': 'Общая стоимость ',
            'RECAPTCHA_TEXT': 'Подтвердите, что вы не робот',
            'SUBSCRIBE_SUCCESS': 'Вы успешно подписались',
            'COUNTDOWN_SEC': 'сек.',
            'COUNTDOWN_MIN': 'мин.',
            'COUNTDOWN_HOUR': 'час.',
            'COUNTDOWN_DAY0': 'дней',
            'COUNTDOWN_DAY1': 'день',
            'COUNTDOWN_DAY2': 'дня',
            'COUNTDOWN_WEAK0': 'Недель',
            'COUNTDOWN_WEAK1': 'Неделя',
            'COUNTDOWN_WEAK2': 'Недели',
            'COUNTDOWN_MONTH0': 'Месяцев',
            'COUNTDOWN_MONTH1': 'Месяц',
            'COUNTDOWN_MONTH2': 'Месяца',
            'COUNTDOWN_YEAR0': 'Лет',
            'COUNTDOWN_YEAR1': 'Год',
            'COUNTDOWN_YEAR2': 'Года',
            'CATALOG_PARTIAL_BASKET_PROPERTIES_ERROR': 'Заполнены не все свойства у добавляемого товара',
            'CATALOG_EMPTY_BASKET_PROPERTIES_ERROR': 'Выберите свойства товара, добавляемые в корзину в параметрах компонента',
            'CATALOG_ELEMENT_NOT_FOUND': 'Элемент не найден',
            'ERROR_ADD2BASKET': 'Ошибка добавления товара в корзину',
            'CATALOG_SUCCESSFUL_ADD_TO_BASKET': 'Успешное добавление товара в корзину',
            'ERROR_BASKET_TITLE': 'Ошибка корзины',
            'ERROR_BASKET_PROP_TITLE': 'Выберите свойства, добавляемые в корзину',
            'ERROR_BASKET_BUTTON': 'Выбрать',
            'BASKET_TOP': 'Корзина в шапке',
            'ERROR_ADD_DELAY_ITEM': 'Ошибка отложенной корзины',
            'VIEWED_TITLE': 'Ранее вы смотрели',
            'VIEWED_BEFORE': 'Ранее вы смотрели',
            'BEST_TITLE': 'Лучшие предложения',
            'CT_BST_SEARCH_BUTTON': 'Поиск',
            'CT_BST_SEARCH2_BUTTON': 'Найти',
            'BASKET_PRINT_BUTTON': 'Распечатать',
            'BASKET_CLEAR_ALL_BUTTON': 'Очистить',
            'BASKET_QUICK_ORDER_BUTTON': 'Быстрый заказ',
            'BASKET_CONTINUE_BUTTON': 'Продолжить покупки',
            'BASKET_ORDER_BUTTON': 'Оформить заказ',
            'SHARE_BUTTON': 'Поделиться',
            'BASKET_CHANGE_TITLE': 'Ваш заказ',
            'BASKET_CHANGE_LINK': 'Изменить',
            'FROM': 'от',
            'TITLE_BLOCK_VIEWED_NAME': 'Ранее вы смотрели',
            'T_BASKET': 'Корзина заказа',
            'FILTER_EXPAND_VALUES': 'Показать все',
            'FILTER_HIDE_VALUES': 'Свернуть',
            'FULL_ORDER': 'Полный заказ',
            'ITEM_ECONOMY': 'Экономия',
            'JS_FORMAT_ORDER': 'имеет неверный формат'
            })
		</script>
		<script>
			$(document).ready(function () {
            $('body').append("<span class='bg_image_site opacity' style='background-image:url(assets/img/bg.png);'></span>");
            })
		</script>

		<meta property="og:title" content="Сайт по умолчанию"/>
		<meta property="og:type" content="website"/>
		<meta property="og:image" content="http://vita.leeft.ru:80/upload/aspro.optimus/f01/f01c061552f7418a8bcfce914e073e33.png"/>
		<link rel="image_src" href="http://vita.leeft.ru:80/upload/aspro.optimus/f01/f01c061552f7418a8bcfce914e073e33.png"/>
		<meta property="og:url" content="http://vita.leeft.ru:80/"/>
		<meta property="og:description" content="Оптимальный интернет-магазин"/>

		<script type="text/javascript" src="scripts_old/template_1bf93ed8bb4dbd88bdee9ffeb67e01b3_v1.js"></script>
		<script type="text/javascript">
			var _ba = _ba || [];
            _ba.push(["aid", "10999ccbd3c3943a492e1304aeeb8161"]);
            _ba.push(["host", "vita.leeft.ru"]);
            (function () {
            var ba = document.createElement("script");
            ba.type = "text/javascript";
            ba.async = true;
            ba.src = (document.location.protocol == "https:" ? "https://" : "http://") + "bitrix.info/ba.js";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(ba, s);
            })();
		</script>
		
		<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript">
		</script>
		<script type="text/javascript" src="scripts/vendor/baron.js"></script>
		<script type="text/javascript" src="scripts/bundle.js"></script>

		<!--[if gte IE 9]>
		        <style type="text/css">.basket_button, .button30, .icon {
		            filter: none;
		        }</style><![endif]-->
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	</head>
	<body class='' id="main">
		<div id="panel"></div>
		<script type="text/javascript">
			BX.message({'MIN_ORDER_PRICE_TEXT': '<b>Минимальная сумма заказа #PRICE#<\/b><br/>Пожалуйста, добавьте еще товаров в корзину', 'LICENSES_TEXT': 'Я согласен на <a href=\"/include/licenses_detail.php\" target=\"_blank\">обработку персональных данных<\/a>'});

            var arOptimusOptions = ({
            "SITE_DIR": "/",
            "SITE_ID": "s1",
            "FORM": (
            {
            "ASK_FORM_ID": "ASK",
            "SERVICES_FORM_ID": "SERVICES",
            "FEEDBACK_FORM_ID": "FEEDBACK",
            "CALLBACK_FORM_ID": "CALLBACK",
            "RESUME_FORM_ID": "RESUME",
            "TOORDER_FORM_ID": "TOORDER",
            "CHEAPER_FORM_ID": "CHEAPER"
            }
            ),
            "PAGES": (
            {
            "FRONT_PAGE": "1",
            "BASKET_PAGE": "",
            "ORDER_PAGE": "",
            "PERSONAL_PAGE": "",
            "CATALOG_PAGE": "",
            "CATALOG_PAGE_URL": "/catalog/"
            }
            ),
            "PRICES": (
            {"MIN_PRICE": "0"}
            ),
            "THEME": (
            {
            "THEME_SWITCHER": "n",
            "COLOR_THEME": "custom",
            "CUSTOM_COLOR_THEME": "0cadc0",
            "LOGO_IMAGE": "/upload/aspro.optimus/f01/f01c061552f7418a8bcfce914e073e33.png",
            "FAVICON_IMAGE": "/include/favicon.ico?1589805549",
            "APPLE_TOUCH_ICON_IMAGE": "/include/apple-touch-icon.png",
            "BANNER_WIDTH": "",
            "BANNER_ANIMATIONTYPE": "SLIDE_HORIZONTAL",
            "BANNER_SLIDESSHOWSPEED": "5000",
            "BANNER_ANIMATIONSPEED": "600",
            "HEAD": (
            {"VALUE": "", "MENU": "", "MENU_COLOR": "", "HEAD_COLOR": ""}
            ),
            "BASKET": "fly",
            "STORES": "",
            "STORES_SOURCE": "stores",
            "TYPE_SKU": "type_2",
            "TYPE_VIEW_FILTER": "horizontal",
            "SHOW_BASKET_ONADDTOCART": "Y",
            "SHOW_BASKET_PRINT": "Y",
            "SHOW_ONECLICKBUY_ON_BASKET_PAGE": "N",
            "PHONE_MASK": "+7 (999) 999-99-99",
            "VALIDATE_PHONE_MASK": "^[+][7] [(][0-9]{3}[)] [0-9]{3}[-][0-9]{2}[-][0-9]{2}$",
            "SCROLLTOTOP_TYPE": "ROUND_COLOR",
            "SCROLLTOTOP_POSITION": "PADDING",
            "MENU_POSITION": "line",
            "MENU_TYPE_VIEW": "hover",
            "SHOW_LICENCE": "Y",
            "LICENCE_CHECKED": "N",
            "DISCOUNT_PRICE": "",
            "DETAIL_PICTURE_MODE": "POPUP",
            "SHOW_TOTAL_SUMM": "N",
            "CHANGE_TITLE_ITEM": "N",
            "ONE_CLICK_BUY_CAPTCHA": "N",
            "EMPTY_PRICE_TEXT": ""
            }
            ),
            "COUNTERS": (
            {
            "YANDEX_COUNTER": "0",
            "YANDEX_ECOMERCE": "N",
            "USE_YA_COUNTER": "N",
            "YA_COUNTER_ID": "",
            "USE_FORMS_GOALS": "COMMON",
            "USE_BASKET_GOALS": "Y",
            "USE_1CLICK_GOALS": "Y",
            "USE_FASTORDER_GOALS": "Y",
            "USE_FULLORDER_GOALS": "Y",
            "USE_DEBUG_GOALS": "N",
            "GOOGLE_COUNTER": "0",
            "GOOGLE_ECOMERCE": "N",
            "TYPE": {
            "ONE_CLICK": "Покупка в 1 клик",
            "QUICK_ORDER": "Быстрый заказ"
            },
            "GOOGLE_EVENTS": {
            "ADD2BASKET": "addToCart",
            "REMOVE_BASKET": "removeFromCart",
            "CHECKOUT_ORDER": "checkout",
            "PURCHASE": "gtm.dom"
            }
            }
            ),
            "JS_ITEM_CLICK": (
            {
            "precision": 6,
            "precisionFactor": Math.pow(10, 6)
            }
            )
            });

            $(document).ready(function () {
            $.extend($.validator.messages, {
            required: BX.message('JS_REQUIRED'),
            email: BX.message('JS_FORMAT'),
            equalTo: BX.message('JS_PASSWORD_COPY'),
            minlength: BX.message('JS_PASSWORD_LENGTH'),
            remote: BX.message('JS_ERROR')
            });

            $.validator.addMethod('regexp', function (value, element, regexp) {
            var re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
            }, BX.message('JS_FORMAT'));

            $.validator.addMethod('filesize', function (value, element, param) {
            return this.optional(element) || (element.files[0].size <= param)
            }, BX.message('JS_FILE_SIZE'));

            $.validator.addMethod('date', function (value, element, param) {
            var status = false;
            if (! value || value.length <= 0) {
            status = false;
            } else {
            // html5 date allways yyyy-mm-dd
            var re = new RegExp('^([0-9]{4})(.)([0-9]{2})(.)([0-9]{2})$');
            var matches = re.exec(value);
            if (matches) {
            var composedDate = new Date(matches[1], (matches[3] - 1), matches[5]);
            status = ((composedDate.getMonth() == (matches[3] - 1)) && (composedDate.getDate() == matches[5]) && (composedDate.getFullYear() == matches[1]));
            } else {
            // firefox
            var re = new RegExp('^([0-9]{2})(.)([0-9]{2})(.)([0-9]{4})$');
            var matches = re.exec(value);
            if (matches) {
            var composedDate = new Date(matches[5], (matches[3] - 1), matches[1]);
            status = ((composedDate.getMonth() == (matches[3] - 1)) && (composedDate.getDate() == matches[1]) && (composedDate.getFullYear() == matches[5]));
            }
            }
            }
            return status;
            }, BX.message('JS_DATE'));

            $.validator.addMethod('extension', function (value, element, param) {
            param = typeof param === 'string' ? param.replace(/,/g, '|') : 'png|jpe?g|gif';
            return this.optional(element) || value.match(new RegExp('.(' + param + ')$', 'i'));
            }, BX.message('JS_FILE_EXT'));

            $.validator.addMethod('captcha', function (value, element, params) {
            return $.validator.methods.remote.call(this, value, element, {
            url: arOptimusOptions['SITE_DIR'] + 'ajax/check-captcha.php',
            type: 'post',
            data: {
            captcha_word: value,
            captcha_sid: function () {
            return $(element).closest('form').find('input[name="captcha_sid"]').val();
            }
            }
            });
            }, BX.message('JS_ERROR'));

            $.validator.addMethod('recaptcha', function (value, element, param) {
            var id = $(element).closest('form').find('.g-recaptcha').attr('data-widgetid');
            if (typeof id !== 'undefined') {
            return grecaptcha.getResponse(id) != '';
            } else {
            return true;
            }
            }, BX.message('JS_RECAPTCHA_ERROR'));

            $.validator.addClassRules({
            'phone': {
            regexp: arOptimusOptions['THEME']['VALIDATE_PHONE_MASK']
            },
            'confirm_password': {
            equalTo: 'input[name="REGISTER\[PASSWORD\]"]',
            minlength: 6
            },
            'password': {
            minlength: 6
            },
            'inputfile': {
            extension: arOptimusOptions['THEME']['VALIDATE_FILE_EXT'],
            filesize: 5000000
            },
            'captcha': {
            captcha: ''
            },
            'recaptcha': {
            recaptcha: ''
            }
            });

            if (arOptimusOptions['THEME']['PHONE_MASK']) {
            $('input.phone').inputmask('mask', {'mask': arOptimusOptions['THEME']['PHONE_MASK']
            });
            }

            jqmEd('feedback', arOptimusOptions['FORM']['FEEDBACK_FORM_ID']);
            jqmEd('ask', arOptimusOptions['FORM']['ASK_FORM_ID'], '.ask_btn');
            jqmEd('services', arOptimusOptions['FORM']['SERVICES_FORM_ID'], '.services_btn', '', '.services_btn');
            if ($('.resume_send').length) {
            $('.resume_send').live('click', function (e) {
            $("body").append("<span class='resume_send_wr' style='display:none;'></span>");
            jqmEd('resume', arOptimusOptions['FORM']['RESUME_FORM_ID'], '.resume_send_wr', '', this);
            $("body .resume_send_wr").click();
            $("body .resume_send_wr").remove();
            })
            }
            jqmEd('callback', arOptimusOptions['FORM']['CALLBACK_FORM_ID'], '.callback_btn');
            // jqmEd('cheaper', arOptimusOptions['FORM']['CHEAPER_FORM_ID'], '.cheaper');

            });
		</script>
		<div class="wrapper front_page colored banner_auto">
			<div class="header_wrap js-header-wrap">
			
				{% include '../components/header/header.twig' %}

			</div>
			
			<div class="wraps" id="content" style="min-height: 571px;">
				<div class="wrapper_inner  wide_page">
					<div class="middle">
						<div class="container">
							<div class="breadcrumbs" id="navigation" itemscope="" itemtype="http://schema.org/BreadcrumbList">
								<div class="bx-breadcrumb-item" id="bx_breadcrumb_0" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
									<a href="/" title="Главная" itemprop="item">
										<span itemprop="name">Главная</span><meta itemprop="position" content="1"></a>
								</div>
								<span class="separator">-</span>
								<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
									<span itemprop="item">
										<span itemprop="name">Корзина</span><meta itemprop="position" content="2"></span>
								</span>
							</div>
							<!--title_content-->
							<h1 id="pagetitle">Корзина</h1>
							<!--end-title_content-->

                            <!--print_content-->
                            <span class="basket_sort"><span class="basket_print button grey_br transparent">Распечатать</span></span>
							<!--end-print_content-->

							{% include '../components/cart/cart.twig' %}
                            <script>
                                BX.Currency.setCurrencies([{'CURRENCY':'BYN','FORMAT':{'FORMAT_STRING':'# руб.','DEC_POINT':'.','THOUSANDS_SEP':'&nbsp;','DECIMALS':2,'THOUSANDS_VARIANT':'B','HIDE_ZERO':'Y'}},{'CURRENCY':'EUR','FORMAT':{'FORMAT_STRING':'# &euro;','DEC_POINT':'.','THOUSANDS_SEP':'&nbsp;','DECIMALS':2,'THOUSANDS_VARIANT':'B','HIDE_ZERO':'Y'}},{'CURRENCY':'RUB','FORMAT':{'FORMAT_STRING':'# руб.','DEC_POINT':'.','THOUSANDS_SEP':'&nbsp;','DECIMALS':2,'THOUSANDS_VARIANT':'B','HIDE_ZERO':'Y'}},{'CURRENCY':'UAH','FORMAT':{'FORMAT_STRING':'# грн.','DEC_POINT':'.','THOUSANDS_SEP':'&nbsp;','DECIMALS':2,'THOUSANDS_VARIANT':'B','HIDE_ZERO':'Y'}},{'CURRENCY':'USD','FORMAT':{'FORMAT_STRING':'$#','DEC_POINT':'.','THOUSANDS_SEP':',','DECIMALS':2,'THOUSANDS_VARIANT':'C','HIDE_ZERO':'Y'}}]);
                            </script>
                            <script>
                                BX.message({'SBB_DELETE':'Удалить','SBB_FILTER_EMPTY_RESULT':'По данному запросу товаров не найдено','SBB_BASKET_ITEM_WARNING':'В вашей корзине <a href=\"javascript:void(0)\" data-entity=\"basket-items-warning-count\"><\/a> требует внимания.','SBB_BASKET_FILTER':'Фильтр','SBB_BASKET_ITEMS_WARNING':'Товары c ошибкой','SBB_NOT_AVAILABLE_ITEM':'недоступен','SBB_NOT_AVAILABLE_ITEM_2':'недоступно','SBB_NOT_AVAILABLE_ITEMS':'недоступно','SBB_DELAYED_ITEM':'отложен','SBB_DELAYED_ITEM_2':'отложено','SBB_DELAYED_ITEMS':'отложено','SBB_SIMILAR_ITEM':'похожий','SBB_SIMILAR_ITEM_2':'похожих','SBB_SIMILAR_ITEMS':'похожих','SBB_BASKET_ITEM_NOT_AVAILABLE':'В данный момент этот товар не доступен','SBB_BASKET_ITEM_DELAYED':'Товар отложен','SBB_BASKET_ITEM_REMOVE_DELAYED':'Добавить к заказу?','SBB_BASKET_ITEM_SIMILAR_P1':'Этот товар','SBB_BASKET_ITEM_SIMILAR_P2':'уже есть в корзине в количестве','SBB_BASKET_ITEM_SIMILAR_P3':'Объединить товары в одну позицию c количеством','SBB_BASKET_ITEM_PRICE_FOR':'цена за','SBB_BASKET_ITEM_ECONOMY':'Экономия','SBB_BASKET_ITEM_DELETED':'был удален из корзины','SBB_BASKET_ITEM_RESTORE':'Восстановить','SBB_COUPON_ENTER':'Введите код купона для скидки','SBB_COUPON':'купон','SBB_TOTAL':'Итого','SBB_WEIGHT':'Общий вес','SBB_VAT':'Сумма НДС','SBB_ORDER':'Оформить заказ','SBB_BASKET_ITEM_MAX_COUNT_EXCEEDED':'Перейдите в <a href=#PATH#>корзину<\/a> для редактирования','SBB_WARNING_ITEM':'c ошибками','SBB_IN_BASKET':'Товары','SBB_GOOD_CAP':'Товар','SBB_GOOD':'товар','SBB_GOOD_2':'товара','SBB_GOODS':'товаров','SBB_EMPTY_BASKET_TITLE':'Ваша корзина пуста','SBB_EMPTY_BASKET_HINT':'#A1#Нажмите здесь#A2#, чтобы продолжить покупки','SBB_GIFTS_BLOCK_TITLE':'Выберите один из подарков'});
                                BX.Sale.BasketComponent.init({
                                    result: {'GRID':{'HEADERS':[{'id':'NAME','name':''},{'id':'PREVIEW_PICTURE','name':''},{'id':'DISCOUNT','name':'Скидка'},{'id':'DELETE','name':''},{'id':'DELAY','name':''},{'id':'PRICE','name':''},{'id':'SUM','name':''},{'id':'QUANTITY','name':''}],'ROWS':{'722':{'ID':'722','~ID':'722','LID':'s1','~LID':'s1','MODULE':'catalog','~MODULE':'catalog','PRODUCT_ID':'51107','~PRODUCT_ID':'51107','QUANTITY':59,'~QUANTITY':'59.0000','WEIGHT':0,'~WEIGHT':'0.00','DELAY':'N','~DELAY':'N','CAN_BUY':'Y','~CAN_BUY':'Y','PRICE':298.99,'~PRICE':298.99,'CUSTOM_PRICE':'N','~CUSTOM_PRICE':'N','BASE_PRICE':298.99,'~BASE_PRICE':298.99,'PRODUCT_PRICE_ID':'50994','~PRODUCT_PRICE_ID':'50994','PRICE_TYPE_ID':'1','~PRICE_TYPE_ID':'1','CURRENCY':'RUB','~CURRENCY':'RUB','BARCODE_MULTI':'N','~BARCODE_MULTI':'N','RESERVED':'N','~RESERVED':'N','RESERVE_QUANTITY':'','~RESERVE_QUANTITY':'','NAME':'Веторон Иммуно д/дет.таб.жев.№30 /бета-каротин/ БАД','~NAME':'Веторон Иммуно д/дет.таб.жев.№30 /бета-каротин/ БАД','CATALOG_XML_ID':'','~CATALOG_XML_ID':'','VAT_RATE':'0.2000','~VAT_RATE':'0.2000','NOTES':'Розничная цена','~NOTES':'Розничная цена','DISCOUNT_PRICE':0,'~DISCOUNT_PRICE':0,'PRODUCT_PROVIDER_CLASS':'\\Bitrix\\Catalog\\Product\\CatalogProvider','~PRODUCT_PROVIDER_CLASS':'\\Bitrix\\Catalog\\Product\\CatalogProvider','CALLBACK_FUNC':'','~CALLBACK_FUNC':'','ORDER_CALLBACK_FUNC':'','~ORDER_CALLBACK_FUNC':'','PAY_CALLBACK_FUNC':'','~PAY_CALLBACK_FUNC':'','CANCEL_CALLBACK_FUNC':'','~CANCEL_CALLBACK_FUNC':'','DIMENSIONS':'a:3:{s:5:&quot;WIDTH&quot;;N;s:6:&quot;HEIGHT&quot;;N;s:6:&quot;LENGTH&quot;;N;}','~DIMENSIONS':'a:3:{s:5:\"WIDTH\";N;s:6:\"HEIGHT\";N;s:6:\"LENGTH\";N;}','TYPE':'','~TYPE':'','SET_PARENT_ID':'','~SET_PARENT_ID':'','DETAIL_PAGE_URL':'/catalog/vitaminy-mineraly-obshchetoniziruyushchie-preparaty/vitaminy/vitaminy-dlya-detey-i-podrostkov/51107/','~DETAIL_PAGE_URL':'/catalog/vitaminy-mineraly-obshchetoniziruyushchie-preparaty/vitaminy/vitaminy-dlya-detey-i-podrostkov/51107/','FUSER_ID':'288','~FUSER_ID':'288','MEASURE_CODE':'796','~MEASURE_CODE':'796','MEASURE_NAME':'шт','~MEASURE_NAME':'шт','ORDER_ID':'','~ORDER_ID':'','DATE_INSERT':'11.11.2020 16:42:19','~DATE_INSERT':'11.11.2020 16:42:19','DATE_UPDATE':'11.11.2020 17:30:26','~DATE_UPDATE':'11.11.2020 17:30:26','PRODUCT_XML_ID':'155596','~PRODUCT_XML_ID':'155596','SUBSCRIBE':'N','~SUBSCRIBE':'N','RECOMMENDATION':'','~RECOMMENDATION':'','VAT_INCLUDED':'Y','~VAT_INCLUDED':'Y','SORT':'100','~SORT':'100','DATE_REFRESH':'','~DATE_REFRESH':'','DISCOUNT_NAME':'','~DISCOUNT_NAME':'','DISCOUNT_VALUE':'','~DISCOUNT_VALUE':'','DISCOUNT_COUPON':'','~DISCOUNT_COUPON':'','XML_ID':'558988d4-794f-4483-90b5-13544b92b72b','~XML_ID':'558988d4-794f-4483-90b5-13544b92b72b','MARKING_CODE_GROUP':'','~MARKING_CODE_GROUP':'','PROPS':[],'PROPS_ALL':{'PRODUCT.XML_ID':{'CODE':'PRODUCT.XML_ID','ID':'790','VALUE':'155596','SORT':'100','NAME':'Product XML_ID'}},'WEIGHT_FORMATED':'0 кг','PRICE_FORMATED':'298.99 руб.','FULL_PRICE':298.99,'FULL_PRICE_FORMATED':'298.99 руб.','DISCOUNT_PRICE_FORMATED':'0 руб.','SUM_VALUE':17640.41,'SUM':'17&nbsp;640.41 руб.','SUM_FULL_PRICE':17640.41,'SUM_FULL_PRICE_FORMATED':'17&nbsp;640.41 руб.','SUM_DISCOUNT_PRICE':0,'SUM_DISCOUNT_PRICE_FORMATED':'0 руб.','VAT_VALUE':49.831666666667,'PRICE_VAT_VALUE':49.831666666667,'DISCOUNT_PRICE_PERCENT':0,'DISCOUNT_PRICE_PERCENT_FORMATED':'0%','HASH':'f17afb20275342206e92a7cc50ce45a0','MEASURE_TEXT':'шт','MEASURE':796,'AVAILABLE_QUANTITY':'5','CHECK_MAX_QUANTITY':'N','PREVIEW_PICTURE_SRC':'','DETAIL_PICTURE_SRC':''},'726':{'ID':'726','~ID':'726','LID':'s1','~LID':'s1','MODULE':'catalog','~MODULE':'catalog','PRODUCT_ID':'51692','~PRODUCT_ID':'51692','QUANTITY':2,'~QUANTITY':'2.0000','WEIGHT':0,'~WEIGHT':'0.00','DELAY':'N','~DELAY':'N','CAN_BUY':'Y','~CAN_BUY':'Y','PRICE':497.87,'~PRICE':497.87,'CUSTOM_PRICE':'N','~CUSTOM_PRICE':'N','BASE_PRICE':497.87,'~BASE_PRICE':497.87,'PRODUCT_PRICE_ID':'51579','~PRODUCT_PRICE_ID':'51579','PRICE_TYPE_ID':'1','~PRICE_TYPE_ID':'1','CURRENCY':'RUB','~CURRENCY':'RUB','BARCODE_MULTI':'N','~BARCODE_MULTI':'N','RESERVED':'N','~RESERVED':'N','RESERVE_QUANTITY':'','~RESERVE_QUANTITY':'','NAME':'Магне В6 таб.п/о №60','~NAME':'Магне В6 таб.п/о №60','CATALOG_XML_ID':'','~CATALOG_XML_ID':'','VAT_RATE':'0.2000','~VAT_RATE':'0.2000','NOTES':'Розничная цена','~NOTES':'Розничная цена','DISCOUNT_PRICE':0,'~DISCOUNT_PRICE':0,'PRODUCT_PROVIDER_CLASS':'\\Bitrix\\Catalog\\Product\\CatalogProvider','~PRODUCT_PROVIDER_CLASS':'\\Bitrix\\Catalog\\Product\\CatalogProvider','CALLBACK_FUNC':'','~CALLBACK_FUNC':'','ORDER_CALLBACK_FUNC':'','~ORDER_CALLBACK_FUNC':'','PAY_CALLBACK_FUNC':'','~PAY_CALLBACK_FUNC':'','CANCEL_CALLBACK_FUNC':'','~CANCEL_CALLBACK_FUNC':'','DIMENSIONS':'a:3:{s:5:&quot;WIDTH&quot;;N;s:6:&quot;HEIGHT&quot;;N;s:6:&quot;LENGTH&quot;;N;}','~DIMENSIONS':'a:3:{s:5:\"WIDTH\";N;s:6:\"HEIGHT\";N;s:6:\"LENGTH\";N;}','TYPE':'','~TYPE':'','SET_PARENT_ID':'','~SET_PARENT_ID':'','DETAIL_PAGE_URL':'/catalog/vitaminy-mineraly-obshchetoniziruyushchie-preparaty/mineraly/preparaty-magniya/51692/','~DETAIL_PAGE_URL':'/catalog/vitaminy-mineraly-obshchetoniziruyushchie-preparaty/mineraly/preparaty-magniya/51692/','FUSER_ID':'288','~FUSER_ID':'288','MEASURE_CODE':'796','~MEASURE_CODE':'796','MEASURE_NAME':'шт','~MEASURE_NAME':'шт','ORDER_ID':'','~ORDER_ID':'','DATE_INSERT':'11.11.2020 17:30:24','~DATE_INSERT':'11.11.2020 17:30:24','DATE_UPDATE':'11.11.2020 17:30:26','~DATE_UPDATE':'11.11.2020 17:30:26','PRODUCT_XML_ID':'139171','~PRODUCT_XML_ID':'139171','SUBSCRIBE':'N','~SUBSCRIBE':'N','RECOMMENDATION':'','~RECOMMENDATION':'','VAT_INCLUDED':'Y','~VAT_INCLUDED':'Y','SORT':'200','~SORT':'200','DATE_REFRESH':'','~DATE_REFRESH':'','DISCOUNT_NAME':'','~DISCOUNT_NAME':'','DISCOUNT_VALUE':'','~DISCOUNT_VALUE':'','DISCOUNT_COUPON':'','~DISCOUNT_COUPON':'','XML_ID':'6f146e76-4462-41a1-9052-061cb671ae67','~XML_ID':'6f146e76-4462-41a1-9052-061cb671ae67','MARKING_CODE_GROUP':'','~MARKING_CODE_GROUP':'','PROPS':[],'PROPS_ALL':{'PRODUCT.XML_ID':{'CODE':'PRODUCT.XML_ID','ID':'794','VALUE':'139171','SORT':'100','NAME':'Product XML_ID'}},'WEIGHT_FORMATED':'0 кг','PRICE_FORMATED':'497.87 руб.','FULL_PRICE':497.87,'FULL_PRICE_FORMATED':'497.87 руб.','DISCOUNT_PRICE_FORMATED':'0 руб.','SUM_VALUE':995.74,'SUM':'995.74 руб.','SUM_FULL_PRICE':995.74,'SUM_FULL_PRICE_FORMATED':'995.74 руб.','SUM_DISCOUNT_PRICE':0,'SUM_DISCOUNT_PRICE_FORMATED':'0 руб.','VAT_VALUE':82.978333333333,'PRICE_VAT_VALUE':82.978333333333,'DISCOUNT_PRICE_PERCENT':0,'DISCOUNT_PRICE_PERCENT_FORMATED':'0%','HASH':'7d299b23ca32fd0f14c1c0256894ead7','MEASURE_TEXT':'шт','MEASURE':796,'AVAILABLE_QUANTITY':'5','CHECK_MAX_QUANTITY':'N','PREVIEW_PICTURE_SRC':'','DETAIL_PICTURE_SRC':''}}},'FULL_DISCOUNT_LIST':[],'APPLIED_DISCOUNT_LIST':[],'CURRENCY':'RUB','allSum':18636.15,'allSum_FORMATED':'18&nbsp;636.15 руб.','allWeight':0,'allWeight_FORMATED':'0 кг','PRICE_WITHOUT_DISCOUNT':'18&nbsp;636.15 руб.','DISCOUNT_PRICE_ALL':0,'DISCOUNT_PRICE_ALL_FORMATED':'0 руб.','DISCOUNT_PRICE_FORMATED':'0 руб.','allVATSum':3106.03,'allVATSum_FORMATED':'3&nbsp;106.03 руб.','allSum_wVAT_FORMATED':'15&nbsp;530.12 руб.','COUPON':'','COUPON_LIST':[],'EMPTY_BASKET':false,'WARNING_MESSAGE':[],'WARNING_MESSAGE_WITH_CODE':{'722':['Извините, заказанное вами количество товара недоступно. <br> Установите доступное для заказа количество.'],'726':['Извините, заказанное вами количество товара недоступно. <br> Установите доступное для заказа количество.']},'ERROR_MESSAGE':'','BASKET_ITEMS_COUNT':2,'ORDERABLE_BASKET_ITEMS_COUNT':2,'NOT_AVAILABLE_BASKET_ITEMS_COUNT':0,'DELAYED_BASKET_ITEMS_COUNT':0,'BASKET_ITEM_MAX_COUNT_EXCEEDED':false,'EVENT_ONCHANGE_ON_START':'N','CURRENCIES':[{'CURRENCY':'BYN','FORMAT':{'FORMAT_STRING':'# руб.','DEC_POINT':'.','THOUSANDS_SEP':'&nbsp;','DECIMALS':2,'THOUSANDS_VARIANT':'B','HIDE_ZERO':'Y'}},{'CURRENCY':'EUR','FORMAT':{'FORMAT_STRING':'# &euro;','DEC_POINT':'.','THOUSANDS_SEP':'&nbsp;','DECIMALS':2,'THOUSANDS_VARIANT':'B','HIDE_ZERO':'Y'}},{'CURRENCY':'RUB','FORMAT':{'FORMAT_STRING':'# руб.','DEC_POINT':'.','THOUSANDS_SEP':'&nbsp;','DECIMALS':2,'THOUSANDS_VARIANT':'B','HIDE_ZERO':'Y'}},{'CURRENCY':'UAH','FORMAT':{'FORMAT_STRING':'# грн.','DEC_POINT':'.','THOUSANDS_SEP':'&nbsp;','DECIMALS':2,'THOUSANDS_VARIANT':'B','HIDE_ZERO':'Y'}},{'CURRENCY':'USD','FORMAT':{'FORMAT_STRING':'$#','DEC_POINT':'.','THOUSANDS_SEP':',','DECIMALS':2,'THOUSANDS_VARIANT':'C','HIDE_ZERO':'Y'}}],'BASKET_ITEM_RENDER_DATA':[{'ID':'722','PRODUCT_ID':'51107','NAME':'Веторон Иммуно д/дет.таб.жев.№30 /бета-каротин/ БАД','QUANTITY':59,'PROPS':[],'PROPS_ALL':{'PRODUCT.XML_ID':{'CODE':'PRODUCT.XML_ID','ID':'790','VALUE':'155596','SORT':'100','NAME':'Product XML_ID'}},'HASH':'f17afb20275342206e92a7cc50ce45a0','SORT':'100','DETAIL_PAGE_URL':'/catalog/vitaminy-mineraly-obshchetoniziruyushchie-preparaty/vitaminy/vitaminy-dlya-detey-i-podrostkov/51107/','CURRENCY':'RUB','DISCOUNT_PRICE_PERCENT':0,'DISCOUNT_PRICE_PERCENT_FORMATED':'0%','SHOW_DISCOUNT_PRICE':false,'PRICE':298.99,'PRICE_FORMATED':'298.99 руб.','FULL_PRICE':298.99,'FULL_PRICE_FORMATED':'298.99 руб.','DISCOUNT_PRICE':0,'DISCOUNT_PRICE_FORMATED':'0 руб.','SUM_PRICE':17640.41,'SUM_PRICE_FORMATED':'17&nbsp;640.41 руб.','SUM_FULL_PRICE':17640.41,'SUM_FULL_PRICE_FORMATED':'17&nbsp;640.41 руб.','SUM_DISCOUNT_PRICE':0,'SUM_DISCOUNT_PRICE_FORMATED':'0 руб.','MEASURE_RATIO':1,'MEASURE_TEXT':'шт','AVAILABLE_QUANTITY':'5','CHECK_MAX_QUANTITY':'N','MODULE':'catalog','PRODUCT_PROVIDER_CLASS':'\\Bitrix\\Catalog\\Product\\CatalogProvider','NOT_AVAILABLE':false,'DELAYED':false,'SKU_BLOCK_LIST':[],'COLUMN_LIST':[],'SHOW_LABEL':false,'LABEL_VALUES':[],'BRAND':'','SHOW_PRICE_FOR':true,'STORE_AVAIL':0},{'ID':'726','PRODUCT_ID':'51692','NAME':'Магне В6 таб.п/о №60','QUANTITY':2,'PROPS':[],'PROPS_ALL':{'PRODUCT.XML_ID':{'CODE':'PRODUCT.XML_ID','ID':'794','VALUE':'139171','SORT':'100','NAME':'Product XML_ID'}},'HASH':'7d299b23ca32fd0f14c1c0256894ead7','SORT':'200','DETAIL_PAGE_URL':'/catalog/vitaminy-mineraly-obshchetoniziruyushchie-preparaty/mineraly/preparaty-magniya/51692/','CURRENCY':'RUB','DISCOUNT_PRICE_PERCENT':0,'DISCOUNT_PRICE_PERCENT_FORMATED':'0%','SHOW_DISCOUNT_PRICE':false,'PRICE':497.87,'PRICE_FORMATED':'497.87 руб.','FULL_PRICE':497.87,'FULL_PRICE_FORMATED':'497.87 руб.','DISCOUNT_PRICE':0,'DISCOUNT_PRICE_FORMATED':'0 руб.','SUM_PRICE':995.74,'SUM_PRICE_FORMATED':'995.74 руб.','SUM_FULL_PRICE':995.74,'SUM_FULL_PRICE_FORMATED':'995.74 руб.','SUM_DISCOUNT_PRICE':0,'SUM_DISCOUNT_PRICE_FORMATED':'0 руб.','MEASURE_RATIO':1,'MEASURE_TEXT':'шт','AVAILABLE_QUANTITY':'5','CHECK_MAX_QUANTITY':'N','MODULE':'catalog','PRODUCT_PROVIDER_CLASS':'\\Bitrix\\Catalog\\Product\\CatalogProvider','NOT_AVAILABLE':false,'DELAYED':false,'SKU_BLOCK_LIST':[],'COLUMN_LIST':[],'SHOW_LABEL':false,'LABEL_VALUES':[],'BRAND':'','SHOW_PRICE_FOR':true,'STORE_AVAIL':0}],'NOT_AVAIL':true,'TOTAL_RENDER_DATA':{'DISABLE_CHECKOUT':false,'PRICE':18636.15,'PRICE_FORMATED':'18&nbsp;636.15 руб.','PRICE_WITHOUT_DISCOUNT_FORMATED':'18&nbsp;636.15 руб.','CURRENCY':'RUB','SHOW_VAT':true,'VAT_SUM_FORMATED':'3&nbsp;106.03 руб.','SUM_WITHOUT_VAT_FORMATED':'15&nbsp;530.12 руб.'},'ITEMS':{'AnDelCanBuy':[{'ID':'722','~ID':'722','LID':'s1','~LID':'s1','MODULE':'catalog','~MODULE':'catalog','PRODUCT_ID':'51107','~PRODUCT_ID':'51107','QUANTITY':59,'~QUANTITY':'59.0000','WEIGHT':0,'~WEIGHT':'0.00','DELAY':'N','~DELAY':'N','CAN_BUY':'Y','~CAN_BUY':'Y','PRICE':298.99,'~PRICE':298.99,'CUSTOM_PRICE':'N','~CUSTOM_PRICE':'N','BASE_PRICE':298.99,'~BASE_PRICE':298.99,'PRODUCT_PRICE_ID':'50994','~PRODUCT_PRICE_ID':'50994','PRICE_TYPE_ID':'1','~PRICE_TYPE_ID':'1','CURRENCY':'RUB','~CURRENCY':'RUB','BARCODE_MULTI':'N','~BARCODE_MULTI':'N','RESERVED':'N','~RESERVED':'N','RESERVE_QUANTITY':'','~RESERVE_QUANTITY':'','NAME':'Веторон Иммуно д/дет.таб.жев.№30 /бета-каротин/ БАД','~NAME':'Веторон Иммуно д/дет.таб.жев.№30 /бета-каротин/ БАД','CATALOG_XML_ID':'','~CATALOG_XML_ID':'','VAT_RATE':'0.2000','~VAT_RATE':'0.2000','NOTES':'Розничная цена','~NOTES':'Розничная цена','DISCOUNT_PRICE':0,'~DISCOUNT_PRICE':0,'PRODUCT_PROVIDER_CLASS':'\\Bitrix\\Catalog\\Product\\CatalogProvider','~PRODUCT_PROVIDER_CLASS':'\\Bitrix\\Catalog\\Product\\CatalogProvider','CALLBACK_FUNC':'','~CALLBACK_FUNC':'','ORDER_CALLBACK_FUNC':'','~ORDER_CALLBACK_FUNC':'','PAY_CALLBACK_FUNC':'','~PAY_CALLBACK_FUNC':'','CANCEL_CALLBACK_FUNC':'','~CANCEL_CALLBACK_FUNC':'','DIMENSIONS':'a:3:{s:5:&quot;WIDTH&quot;;N;s:6:&quot;HEIGHT&quot;;N;s:6:&quot;LENGTH&quot;;N;}','~DIMENSIONS':'a:3:{s:5:\"WIDTH\";N;s:6:\"HEIGHT\";N;s:6:\"LENGTH\";N;}','TYPE':'','~TYPE':'','SET_PARENT_ID':'','~SET_PARENT_ID':'','DETAIL_PAGE_URL':'/catalog/vitaminy-mineraly-obshchetoniziruyushchie-preparaty/vitaminy/vitaminy-dlya-detey-i-podrostkov/51107/','~DETAIL_PAGE_URL':'/catalog/vitaminy-mineraly-obshchetoniziruyushchie-preparaty/vitaminy/vitaminy-dlya-detey-i-podrostkov/51107/','FUSER_ID':'288','~FUSER_ID':'288','MEASURE_CODE':'796','~MEASURE_CODE':'796','MEASURE_NAME':'шт','~MEASURE_NAME':'шт','ORDER_ID':'','~ORDER_ID':'','DATE_INSERT':'11.11.2020 16:42:19','~DATE_INSERT':'11.11.2020 16:42:19','DATE_UPDATE':'11.11.2020 17:30:26','~DATE_UPDATE':'11.11.2020 17:30:26','PRODUCT_XML_ID':'155596','~PRODUCT_XML_ID':'155596','SUBSCRIBE':'N','~SUBSCRIBE':'N','RECOMMENDATION':'','~RECOMMENDATION':'','VAT_INCLUDED':'Y','~VAT_INCLUDED':'Y','SORT':'100','~SORT':'100','DATE_REFRESH':'','~DATE_REFRESH':'','DISCOUNT_NAME':'','~DISCOUNT_NAME':'','DISCOUNT_VALUE':'','~DISCOUNT_VALUE':'','DISCOUNT_COUPON':'','~DISCOUNT_COUPON':'','XML_ID':'558988d4-794f-4483-90b5-13544b92b72b','~XML_ID':'558988d4-794f-4483-90b5-13544b92b72b','MARKING_CODE_GROUP':'','~MARKING_CODE_GROUP':'','PROPS':[],'PROPS_ALL':{'PRODUCT.XML_ID':{'CODE':'PRODUCT.XML_ID','ID':'790','VALUE':'155596','SORT':'100','NAME':'Product XML_ID'}},'WEIGHT_FORMATED':'0 кг','PRICE_FORMATED':'298.99 руб.','FULL_PRICE':298.99,'FULL_PRICE_FORMATED':'298.99 руб.','DISCOUNT_PRICE_FORMATED':'0 руб.','SUM_VALUE':17640.41,'SUM':'17&nbsp;640.41 руб.','SUM_FULL_PRICE':17640.41,'SUM_FULL_PRICE_FORMATED':'17&nbsp;640.41 руб.','SUM_DISCOUNT_PRICE':0,'SUM_DISCOUNT_PRICE_FORMATED':'0 руб.','VAT_VALUE':49.831666666667,'PRICE_VAT_VALUE':49.831666666667,'DISCOUNT_PRICE_PERCENT':0,'DISCOUNT_PRICE_PERCENT_FORMATED':'0%','HASH':'f17afb20275342206e92a7cc50ce45a0','MEASURE_TEXT':'шт','MEASURE':796,'AVAILABLE_QUANTITY':'5','CHECK_MAX_QUANTITY':'N','PREVIEW_PICTURE_SRC':'','DETAIL_PICTURE_SRC':''},{'ID':'726','~ID':'726','LID':'s1','~LID':'s1','MODULE':'catalog','~MODULE':'catalog','PRODUCT_ID':'51692','~PRODUCT_ID':'51692','QUANTITY':2,'~QUANTITY':'2.0000','WEIGHT':0,'~WEIGHT':'0.00','DELAY':'N','~DELAY':'N','CAN_BUY':'Y','~CAN_BUY':'Y','PRICE':497.87,'~PRICE':497.87,'CUSTOM_PRICE':'N','~CUSTOM_PRICE':'N','BASE_PRICE':497.87,'~BASE_PRICE':497.87,'PRODUCT_PRICE_ID':'51579','~PRODUCT_PRICE_ID':'51579','PRICE_TYPE_ID':'1','~PRICE_TYPE_ID':'1','CURRENCY':'RUB','~CURRENCY':'RUB','BARCODE_MULTI':'N','~BARCODE_MULTI':'N','RESERVED':'N','~RESERVED':'N','RESERVE_QUANTITY':'','~RESERVE_QUANTITY':'','NAME':'Магне В6 таб.п/о №60','~NAME':'Магне В6 таб.п/о №60','CATALOG_XML_ID':'','~CATALOG_XML_ID':'','VAT_RATE':'0.2000','~VAT_RATE':'0.2000','NOTES':'Розничная цена','~NOTES':'Розничная цена','DISCOUNT_PRICE':0,'~DISCOUNT_PRICE':0,'PRODUCT_PROVIDER_CLASS':'\\Bitrix\\Catalog\\Product\\CatalogProvider','~PRODUCT_PROVIDER_CLASS':'\\Bitrix\\Catalog\\Product\\CatalogProvider','CALLBACK_FUNC':'','~CALLBACK_FUNC':'','ORDER_CALLBACK_FUNC':'','~ORDER_CALLBACK_FUNC':'','PAY_CALLBACK_FUNC':'','~PAY_CALLBACK_FUNC':'','CANCEL_CALLBACK_FUNC':'','~CANCEL_CALLBACK_FUNC':'','DIMENSIONS':'a:3:{s:5:&quot;WIDTH&quot;;N;s:6:&quot;HEIGHT&quot;;N;s:6:&quot;LENGTH&quot;;N;}','~DIMENSIONS':'a:3:{s:5:\"WIDTH\";N;s:6:\"HEIGHT\";N;s:6:\"LENGTH\";N;}','TYPE':'','~TYPE':'','SET_PARENT_ID':'','~SET_PARENT_ID':'','DETAIL_PAGE_URL':'/catalog/vitaminy-mineraly-obshchetoniziruyushchie-preparaty/mineraly/preparaty-magniya/51692/','~DETAIL_PAGE_URL':'/catalog/vitaminy-mineraly-obshchetoniziruyushchie-preparaty/mineraly/preparaty-magniya/51692/','FUSER_ID':'288','~FUSER_ID':'288','MEASURE_CODE':'796','~MEASURE_CODE':'796','MEASURE_NAME':'шт','~MEASURE_NAME':'шт','ORDER_ID':'','~ORDER_ID':'','DATE_INSERT':'11.11.2020 17:30:24','~DATE_INSERT':'11.11.2020 17:30:24','DATE_UPDATE':'11.11.2020 17:30:26','~DATE_UPDATE':'11.11.2020 17:30:26','PRODUCT_XML_ID':'139171','~PRODUCT_XML_ID':'139171','SUBSCRIBE':'N','~SUBSCRIBE':'N','RECOMMENDATION':'','~RECOMMENDATION':'','VAT_INCLUDED':'Y','~VAT_INCLUDED':'Y','SORT':'200','~SORT':'200','DATE_REFRESH':'','~DATE_REFRESH':'','DISCOUNT_NAME':'','~DISCOUNT_NAME':'','DISCOUNT_VALUE':'','~DISCOUNT_VALUE':'','DISCOUNT_COUPON':'','~DISCOUNT_COUPON':'','XML_ID':'6f146e76-4462-41a1-9052-061cb671ae67','~XML_ID':'6f146e76-4462-41a1-9052-061cb671ae67','MARKING_CODE_GROUP':'','~MARKING_CODE_GROUP':'','PROPS':[],'PROPS_ALL':{'PRODUCT.XML_ID':{'CODE':'PRODUCT.XML_ID','ID':'794','VALUE':'139171','SORT':'100','NAME':'Product XML_ID'}},'WEIGHT_FORMATED':'0 кг','PRICE_FORMATED':'497.87 руб.','FULL_PRICE':497.87,'FULL_PRICE_FORMATED':'497.87 руб.','DISCOUNT_PRICE_FORMATED':'0 руб.','SUM_VALUE':995.74,'SUM':'995.74 руб.','SUM_FULL_PRICE':995.74,'SUM_FULL_PRICE_FORMATED':'995.74 руб.','SUM_DISCOUNT_PRICE':0,'SUM_DISCOUNT_PRICE_FORMATED':'0 руб.','VAT_VALUE':82.978333333333,'PRICE_VAT_VALUE':82.978333333333,'DISCOUNT_PRICE_PERCENT':0,'DISCOUNT_PRICE_PERCENT_FORMATED':'0%','HASH':'7d299b23ca32fd0f14c1c0256894ead7','MEASURE_TEXT':'шт','MEASURE':796,'AVAILABLE_QUANTITY':'5','CHECK_MAX_QUANTITY':'N','PREVIEW_PICTURE_SRC':'','DETAIL_PICTURE_SRC':''}],'DelDelCanBuy':[],'nAnCanBuy':[],'ProdSubscribe':[]},'ShowReady':'Y','ShowDelay':'N','ShowSubscribe':'N','ShowNotAvail':'N'},
                                    params: {'TEMPLATE_THEME':'blue','COLUMNS_LIST':['NAME','PREVIEW_PICTURE','DISCOUNT','DELETE','DELAY','PRICE','SUM','QUANTITY'],'OFFERS_PROPS':['SIZES','COLOR_REF'],'PATH_TO_ORDER':'/order/','HIDE_COUPON':'Y','PRICE_VAT_SHOW_VALUE':'Y','COUNT_DISCOUNT_4_ALL_QUANTITY':'N','USE_PREPAYMENT':'N','SET_TITLE':'N','AJAX_MODE_CUSTOM':'Y','SHOW_MEASURE':'Y','PICTURE_WIDTH':'100','PICTURE_HEIGHT':'100','SHOW_FULL_ORDER_BUTTON':'Y','SHOW_FAST_ORDER_BUTTON':'Y','COMPONENT_TEMPLATE':'basket','QUANTITY_FLOAT':'N','ACTION_VARIABLE':'action','AUTO_CALCULATION':'Y','COMPOSITE_FRAME_MODE':'A','COMPOSITE_FRAME_TYPE':'AUTO','USE_GIFTS':'N','GIFTS_PLACE':'BOTTOM','GIFTS_BLOCK_TITLE':'Выберите один из подарков','GIFTS_HIDE_BLOCK_TITLE':'N','GIFTS_TEXT_LABEL_GIFT':'Подарок','GIFTS_PRODUCT_QUANTITY_VARIABLE':'undefined','GIFTS_PRODUCT_PROPS_VARIABLE':'prop','GIFTS_SHOW_OLD_PRICE':'Y','GIFTS_SHOW_DISCOUNT_PERCENT':'Y','GIFTS_SHOW_NAME':'Y','GIFTS_SHOW_IMAGE':'Y','GIFTS_MESS_BTN_BUY':'Выбрать','GIFTS_MESS_BTN_DETAIL':'Подробнее','GIFTS_PAGE_ELEMENT_COUNT':'10','GIFTS_CONVERT_CURRENCY':'N','GIFTS_HIDE_NOT_AVAILABLE':'N','DEFERRED_REFRESH':'N','USE_DYNAMIC_SCROLL':'Y','SHOW_FILTER':'Y','SHOW_RESTORE':'Y','COLUMNS_LIST_EXT':['NAME','PREVIEW_PICTURE','DISCOUNT','DELETE','DELAY','PRICE','SUM','QUANTITY'],'COLUMNS_LIST_MOBILE':['PREVIEW_PICTURE','DISCOUNT','DELETE','DELAY','SUM'],'TOTAL_BLOCK_DISPLAY':['top'],'DISPLAY_MODE':'extended','PRICE_DISPLAY_MODE':'Y','SHOW_DISCOUNT_PERCENT':'Y','DISCOUNT_PERCENT_POSITION':'bottom-right','PRODUCT_BLOCKS_ORDER':['props','sku','columns'],'USE_PRICE_ANIMATION':'Y','LABEL_PROP':[],'CORRECT_RATIO':'Y','COMPATIBLE_MODE':'Y','EMPTY_BASKET_HINT_PATH':'/','BASKET_IMAGES_SCALING':'adaptive','USE_ENHANCED_ECOMMERCE':'N','CACHE_TYPE':'A','AJAX_PATH':'/bitrix/components/bitrix/sale.basket.basket/ajax.php','PATH_TO_BASKET':'/personal/cart/','WEIGHT_KOEF':'1000','WEIGHT_UNIT':'кг','LABEL_PROP_MOBILE':[],'LABEL_PROP_POSITION':'top-left','BASKET_WITH_ORDER_INTEGRATION':'N','BASKET_MAX_COUNT_TO_SHOW':'5','BASKET_HAS_BEEN_REFRESHED':'N','~COLUMNS_LIST':['NAME','PREVIEW_PICTURE','DISCOUNT','DELETE','DELAY','PRICE','SUM','QUANTITY'],'~OFFERS_PROPS':['SIZES','COLOR_REF'],'~PATH_TO_ORDER':'/order/','~HIDE_COUPON':'Y','~PRICE_VAT_SHOW_VALUE':'Y','~COUNT_DISCOUNT_4_ALL_QUANTITY':'N','~USE_PREPAYMENT':'N','~SET_TITLE':'N','~AJAX_MODE_CUSTOM':'Y','~SHOW_MEASURE':'Y','~PICTURE_WIDTH':'100','~PICTURE_HEIGHT':'100','~SHOW_FULL_ORDER_BUTTON':'Y','~SHOW_FAST_ORDER_BUTTON':'Y','~COMPONENT_TEMPLATE':'basket','~QUANTITY_FLOAT':'N','~ACTION_VARIABLE':'action','~TEMPLATE_THEME':'blue','~AUTO_CALCULATION':'Y','~COMPOSITE_FRAME_MODE':'A','~COMPOSITE_FRAME_TYPE':'AUTO','~USE_GIFTS':'N','~GIFTS_PLACE':'BOTTOM','~GIFTS_BLOCK_TITLE':'Выберите один из подарков','~GIFTS_HIDE_BLOCK_TITLE':'N','~GIFTS_TEXT_LABEL_GIFT':'Подарок','~GIFTS_PRODUCT_QUANTITY_VARIABLE':'undefined','~GIFTS_PRODUCT_PROPS_VARIABLE':'prop','~GIFTS_SHOW_OLD_PRICE':'Y','~GIFTS_SHOW_DISCOUNT_PERCENT':'Y','~GIFTS_SHOW_NAME':'Y','~GIFTS_SHOW_IMAGE':'Y','~GIFTS_MESS_BTN_BUY':'Выбрать','~GIFTS_MESS_BTN_DETAIL':'Подробнее','~GIFTS_PAGE_ELEMENT_COUNT':'10','~GIFTS_CONVERT_CURRENCY':'N','~GIFTS_HIDE_NOT_AVAILABLE':'N','~DEFERRED_REFRESH':'N','~USE_DYNAMIC_SCROLL':'Y','~SHOW_FILTER':'Y','~SHOW_RESTORE':'Y','~COLUMNS_LIST_EXT':['NAME','PREVIEW_PICTURE','DISCOUNT','DELETE','DELAY','PRICE','SUM','QUANTITY'],'~COLUMNS_LIST_MOBILE':['PREVIEW_PICTURE','DISCOUNT','DELETE','DELAY','SUM'],'~TOTAL_BLOCK_DISPLAY':['top'],'~DISPLAY_MODE':'extended','~PRICE_DISPLAY_MODE':'Y','~SHOW_DISCOUNT_PERCENT':'Y','~DISCOUNT_PERCENT_POSITION':'bottom-right','~PRODUCT_BLOCKS_ORDER':'props,sku,columns','~USE_PRICE_ANIMATION':'Y','~LABEL_PROP':[],'~CORRECT_RATIO':'Y','~COMPATIBLE_MODE':'Y','~EMPTY_BASKET_HINT_PATH':'/','~BASKET_IMAGES_SCALING':'adaptive','~USE_ENHANCED_ECOMMERCE':'N','~CACHE_TYPE':'A','~AJAX_PATH':'/bitrix/components/bitrix/sale.basket.basket/ajax.php','~PATH_TO_BASKET':'/personal/cart/','~WEIGHT_KOEF':'1000','~WEIGHT_UNIT':'кг','~LABEL_PROP_MOBILE':[],'~LABEL_PROP_POSITION':'top-left','~BASKET_WITH_ORDER_INTEGRATION':'N','~BASKET_MAX_COUNT_TO_SHOW':'5','~BASKET_HAS_BEEN_REFRESHED':'N','DATA_LAYER_NAME':'dataLayer','BRAND_PROPERTY':''},
                                    template: 'basket.9f9a111c8ed299839f292efeef6e9131327f9ae6214dd2befe6ce513f6a65584',
                                    signedParamsString: 'YToxMzQ6e3M6MTQ6IlRFTVBMQVRFX1RIRU1FIjtzOjQ6ImJsdWUiO3M6MTI6IkNPTFVNTlNfTElTVCI7YTo4OntpOjA7czo0OiJOQU1FIjtpOjE7czoxNToiUFJFVklFV19QSUNUVVJFIjtpOjI7czo4OiJESVNDT1VOVCI7aTozO3M6NjoiREVMRVRFIjtpOjQ7czo1OiJERUxBWSI7aTo1O3M6NToiUFJJQ0UiO2k6NjtzOjM6IlNVTSI7aTo3O3M6ODoiUVVBTlRJVFkiO31zOjEyOiJPRkZFUlNfUFJPUFMiO2E6Mjp7aTowO3M6NToiU0laRVMiO2k6MTtzOjk6IkNPTE9SX1JFRiI7fXM6MTM6IlBBVEhfVE9fT1JERVIiO3M6NzoiL29yZGVyLyI7czoxMToiSElERV9DT1VQT04iO3M6MToiWSI7czoyMDoiUFJJQ0VfVkFUX1NIT1dfVkFMVUUiO3M6MToiWSI7czoyOToiQ09VTlRfRElTQ09VTlRfNF9BTExfUVVBTlRJVFkiO3M6MToiTiI7czoxNDoiVVNFX1BSRVBBWU1FTlQiO3M6MToiTiI7czo5OiJTRVRfVElUTEUiO3M6MToiTiI7czoxNjoiQUpBWF9NT0RFX0NVU1RPTSI7czoxOiJZIjtzOjEyOiJTSE9XX01FQVNVUkUiO3M6MToiWSI7czoxMzoiUElDVFVSRV9XSURUSCI7czozOiIxMDAiO3M6MTQ6IlBJQ1RVUkVfSEVJR0hUIjtzOjM6IjEwMCI7czoyMjoiU0hPV19GVUxMX09SREVSX0JVVFRPTiI7czoxOiJZIjtzOjIyOiJTSE9XX0ZBU1RfT1JERVJfQlVUVE9OIjtzOjE6IlkiO3M6MTg6IkNPTVBPTkVOVF9URU1QTEFURSI7czo2OiJiYXNrZXQiO3M6MTQ6IlFVQU5USVRZX0ZMT0FUIjtzOjE6Ik4iO3M6MTU6IkFDVElPTl9WQVJJQUJMRSI7czo2OiJhY3Rpb24iO3M6MTY6IkFVVE9fQ0FMQ1VMQVRJT04iO3M6MToiWSI7czoyMDoiQ09NUE9TSVRFX0ZSQU1FX01PREUiO3M6MToiQSI7czoyMDoiQ09NUE9TSVRFX0ZSQU1FX1RZUEUiO3M6NDoiQVVUTyI7czo5OiJVU0VfR0lGVFMiO3M6MToiTiI7czoxMToiR0lGVFNfUExBQ0UiO3M6NjoiQk9UVE9NIjtzOjE3OiJHSUZUU19CTE9DS19USVRMRSI7czo0Nzoi0JLRi9Cx0LXRgNC40YLQtSDQvtC00LjQvSDQuNC3INC/0L7QtNCw0YDQutC+0LIiO3M6MjI6IkdJRlRTX0hJREVfQkxPQ0tfVElUTEUiO3M6MToiTiI7czoyMToiR0lGVFNfVEVYVF9MQUJFTF9HSUZUIjtzOjE0OiLQn9C+0LTQsNGA0L7QuiI7czozMToiR0lGVFNfUFJPRFVDVF9RVUFOVElUWV9WQVJJQUJMRSI7czo5OiJ1bmRlZmluZWQiO3M6Mjg6IkdJRlRTX1BST0RVQ1RfUFJPUFNfVkFSSUFCTEUiO3M6NDoicHJvcCI7czoyMDoiR0lGVFNfU0hPV19PTERfUFJJQ0UiO3M6MToiWSI7czoyNzoiR0lGVFNfU0hPV19ESVNDT1VOVF9QRVJDRU5UIjtzOjE6IlkiO3M6MTU6IkdJRlRTX1NIT1dfTkFNRSI7czoxOiJZIjtzOjE2OiJHSUZUU19TSE9XX0lNQUdFIjtzOjE6IlkiO3M6MTg6IkdJRlRTX01FU1NfQlROX0JVWSI7czoxNDoi0JLRi9Cx0YDQsNGC0YwiO3M6MjE6IkdJRlRTX01FU1NfQlROX0RFVEFJTCI7czoxODoi0J/QvtC00YDQvtCx0L3QtdC1IjtzOjI0OiJHSUZUU19QQUdFX0VMRU1FTlRfQ09VTlQiO3M6MjoiMTAiO3M6MjI6IkdJRlRTX0NPTlZFUlRfQ1VSUkVOQ1kiO3M6MToiTiI7czoyNDoiR0lGVFNfSElERV9OT1RfQVZBSUxBQkxFIjtzOjE6Ik4iO3M6MTY6IkRFRkVSUkVEX1JFRlJFU0giO3M6MToiTiI7czoxODoiVVNFX0RZTkFNSUNfU0NST0xMIjtzOjE6IlkiO3M6MTE6IlNIT1dfRklMVEVSIjtzOjE6IlkiO3M6MTI6IlNIT1dfUkVTVE9SRSI7czoxOiJZIjtzOjE2OiJDT0xVTU5TX0xJU1RfRVhUIjthOjg6e2k6MDtzOjQ6Ik5BTUUiO2k6MTtzOjE1OiJQUkVWSUVXX1BJQ1RVUkUiO2k6MjtzOjg6IkRJU0NPVU5UIjtpOjM7czo2OiJERUxFVEUiO2k6NDtzOjU6IkRFTEFZIjtpOjU7czo1OiJQUklDRSI7aTo2O3M6MzoiU1VNIjtpOjc7czo4OiJRVUFOVElUWSI7fXM6MTk6IkNPTFVNTlNfTElTVF9NT0JJTEUiO2E6NTp7aTowO3M6MTU6IlBSRVZJRVdfUElDVFVSRSI7aToxO3M6ODoiRElTQ09VTlQiO2k6MjtzOjY6IkRFTEVURSI7aTozO3M6NToiREVMQVkiO2k6NDtzOjM6IlNVTSI7fXM6MTk6IlRPVEFMX0JMT0NLX0RJU1BMQVkiO2E6MTp7aTowO3M6MzoidG9wIjt9czoxMjoiRElTUExBWV9NT0RFIjtzOjg6ImV4dGVuZGVkIjtzOjE4OiJQUklDRV9ESVNQTEFZX01PREUiO3M6MToiWSI7czoyMToiU0hPV19ESVNDT1VOVF9QRVJDRU5UIjtzOjE6IlkiO3M6MjU6IkRJU0NPVU5UX1BFUkNFTlRfUE9TSVRJT04iO3M6MTI6ImJvdHRvbS1yaWdodCI7czoyMDoiUFJPRFVDVF9CTE9DS1NfT1JERVIiO2E6Mzp7aTowO3M6NToicHJvcHMiO2k6MTtzOjM6InNrdSI7aToyO3M6NzoiY29sdW1ucyI7fXM6MTk6IlVTRV9QUklDRV9BTklNQVRJT04iO3M6MToiWSI7czoxMDoiTEFCRUxfUFJPUCI7YTowOnt9czoxMzoiQ09SUkVDVF9SQVRJTyI7czoxOiJZIjtzOjE1OiJDT01QQVRJQkxFX01PREUiO3M6MToiWSI7czoyMjoiRU1QVFlfQkFTS0VUX0hJTlRfUEFUSCI7czoxOiIvIjtzOjIxOiJCQVNLRVRfSU1BR0VTX1NDQUxJTkciO3M6ODoiYWRhcHRpdmUiO3M6MjI6IlVTRV9FTkhBTkNFRF9FQ09NTUVSQ0UiO3M6MToiTiI7czoxMDoiQ0FDSEVfVFlQRSI7czoxOiJBIjtzOjk6IkFKQVhfUEFUSCI7czo1MzoiL2JpdHJpeC9jb21wb25lbnRzL2JpdHJpeC9zYWxlLmJhc2tldC5iYXNrZXQvYWpheC5waHAiO3M6MTQ6IlBBVEhfVE9fQkFTS0VUIjtzOjE1OiIvcGVyc29uYWwvY2FydC8iO3M6MTE6IldFSUdIVF9LT0VGIjtzOjQ6IjEwMDAiO3M6MTE6IldFSUdIVF9VTklUIjtzOjQ6ItC60LMiO3M6MTc6IkxBQkVMX1BST1BfTU9CSUxFIjthOjA6e31zOjE5OiJMQUJFTF9QUk9QX1BPU0lUSU9OIjtzOjg6InRvcC1sZWZ0IjtzOjI5OiJCQVNLRVRfV0lUSF9PUkRFUl9JTlRFR1JBVElPTiI7czoxOiJOIjtzOjI0OiJCQVNLRVRfTUFYX0NPVU5UX1RPX1NIT1ciO2k6NTtzOjI1OiJCQVNLRVRfSEFTX0JFRU5fUkVGUkVTSEVEIjtzOjE6Ik4iO3M6MTM6In5DT0xVTU5TX0xJU1QiO2E6ODp7aTowO3M6NDoiTkFNRSI7aToxO3M6MTU6IlBSRVZJRVdfUElDVFVSRSI7aToyO3M6ODoiRElTQ09VTlQiO2k6MztzOjY6IkRFTEVURSI7aTo0O3M6NToiREVMQVkiO2k6NTtzOjU6IlBSSUNFIjtpOjY7czozOiJTVU0iO2k6NztzOjg6IlFVQU5USVRZIjt9czoxMzoifk9GRkVSU19QUk9QUyI7YToyOntpOjA7czo1OiJTSVpFUyI7aToxO3M6OToiQ09MT1JfUkVGIjt9czoxNDoiflBBVEhfVE9fT1JERVIiO3M6NzoiL29yZGVyLyI7czoxMjoifkhJREVfQ09VUE9OIjtzOjE6IlkiO3M6MjE6In5QUklDRV9WQVRfU0hPV19WQUxVRSI7czoxOiJZIjtzOjMwOiJ+Q09VTlRfRElTQ09VTlRfNF9BTExfUVVBTlRJVFkiO3M6MToiTiI7czoxNToiflVTRV9QUkVQQVlNRU5UIjtzOjE6Ik4iO3M6MTA6In5TRVRfVElUTEUiO3M6MToiTiI7czoxNzoifkFKQVhfTU9ERV9DVVNUT00iO3M6MToiWSI7czoxMzoiflNIT1dfTUVBU1VSRSI7czoxOiJZIjtzOjE0OiJ+UElDVFVSRV9XSURUSCI7czozOiIxMDAiO3M6MTU6In5QSUNUVVJFX0hFSUdIVCI7czozOiIxMDAiO3M6MjM6In5TSE9XX0ZVTExfT1JERVJfQlVUVE9OIjtzOjE6IlkiO3M6MjM6In5TSE9XX0ZBU1RfT1JERVJfQlVUVE9OIjtzOjE6IlkiO3M6MTk6In5DT01QT05FTlRfVEVNUExBVEUiO3M6NjoiYmFza2V0IjtzOjE1OiJ+UVVBTlRJVFlfRkxPQVQiO3M6MToiTiI7czoxNjoifkFDVElPTl9WQVJJQUJMRSI7czo2OiJhY3Rpb24iO3M6MTU6In5URU1QTEFURV9USEVNRSI7czo0OiJibHVlIjtzOjE3OiJ+QVVUT19DQUxDVUxBVElPTiI7czoxOiJZIjtzOjIxOiJ+Q09NUE9TSVRFX0ZSQU1FX01PREUiO3M6MToiQSI7czoyMToifkNPTVBPU0lURV9GUkFNRV9UWVBFIjtzOjQ6IkFVVE8iO3M6MTA6In5VU0VfR0lGVFMiO3M6MToiTiI7czoxMjoifkdJRlRTX1BMQUNFIjtzOjY6IkJPVFRPTSI7czoxODoifkdJRlRTX0JMT0NLX1RJVExFIjtzOjQ3OiLQktGL0LHQtdGA0LjRgtC1INC+0LTQuNC9INC40Lcg0L/QvtC00LDRgNC60L7QsiI7czoyMzoifkdJRlRTX0hJREVfQkxPQ0tfVElUTEUiO3M6MToiTiI7czoyMjoifkdJRlRTX1RFWFRfTEFCRUxfR0lGVCI7czoxNDoi0J/QvtC00LDRgNC+0LoiO3M6MzI6In5HSUZUU19QUk9EVUNUX1FVQU5USVRZX1ZBUklBQkxFIjtzOjk6InVuZGVmaW5lZCI7czoyOToifkdJRlRTX1BST0RVQ1RfUFJPUFNfVkFSSUFCTEUiO3M6NDoicHJvcCI7czoyMToifkdJRlRTX1NIT1dfT0xEX1BSSUNFIjtzOjE6IlkiO3M6Mjg6In5HSUZUU19TSE9XX0RJU0NPVU5UX1BFUkNFTlQiO3M6MToiWSI7czoxNjoifkdJRlRTX1NIT1dfTkFNRSI7czoxOiJZIjtzOjE3OiJ+R0lGVFNfU0hPV19JTUFHRSI7czoxOiJZIjtzOjE5OiJ+R0lGVFNfTUVTU19CVE5fQlVZIjtzOjE0OiLQktGL0LHRgNCw0YLRjCI7czoyMjoifkdJRlRTX01FU1NfQlROX0RFVEFJTCI7czoxODoi0J/QvtC00YDQvtCx0L3QtdC1IjtzOjI1OiJ+R0lGVFNfUEFHRV9FTEVNRU5UX0NPVU5UIjtzOjI6IjEwIjtzOjIzOiJ+R0lGVFNfQ09OVkVSVF9DVVJSRU5DWSI7czoxOiJOIjtzOjI1OiJ+R0lGVFNfSElERV9OT1RfQVZBSUxBQkxFIjtzOjE6Ik4iO3M6MTc6In5ERUZFUlJFRF9SRUZSRVNIIjtzOjE6Ik4iO3M6MTk6In5VU0VfRFlOQU1JQ19TQ1JPTEwiO3M6MToiWSI7czoxMjoiflNIT1dfRklMVEVSIjtzOjE6IlkiO3M6MTM6In5TSE9XX1JFU1RPUkUiO3M6MToiWSI7czoxNzoifkNPTFVNTlNfTElTVF9FWFQiO2E6ODp7aTowO3M6NDoiTkFNRSI7aToxO3M6MTU6IlBSRVZJRVdfUElDVFVSRSI7aToyO3M6ODoiRElTQ09VTlQiO2k6MztzOjY6IkRFTEVURSI7aTo0O3M6NToiREVMQVkiO2k6NTtzOjU6IlBSSUNFIjtpOjY7czozOiJTVU0iO2k6NztzOjg6IlFVQU5USVRZIjt9czoyMDoifkNPTFVNTlNfTElTVF9NT0JJTEUiO2E6NTp7aTowO3M6MTU6IlBSRVZJRVdfUElDVFVSRSI7aToxO3M6ODoiRElTQ09VTlQiO2k6MjtzOjY6IkRFTEVURSI7aTozO3M6NToiREVMQVkiO2k6NDtzOjM6IlNVTSI7fXM6MjA6In5UT1RBTF9CTE9DS19ESVNQTEFZIjthOjE6e2k6MDtzOjM6InRvcCI7fXM6MTM6In5ESVNQTEFZX01PREUiO3M6ODoiZXh0ZW5kZWQiO3M6MTk6In5QUklDRV9ESVNQTEFZX01PREUiO3M6MToiWSI7czoyMjoiflNIT1dfRElTQ09VTlRfUEVSQ0VOVCI7czoxOiJZIjtzOjI2OiJ+RElTQ09VTlRfUEVSQ0VOVF9QT1NJVElPTiI7czoxMjoiYm90dG9tLXJpZ2h0IjtzOjIxOiJ+UFJPRFVDVF9CTE9DS1NfT1JERVIiO3M6MTc6InByb3BzLHNrdSxjb2x1bW5zIjtzOjIwOiJ+VVNFX1BSSUNFX0FOSU1BVElPTiI7czoxOiJZIjtzOjExOiJ+TEFCRUxfUFJPUCI7YTowOnt9czoxNDoifkNPUlJFQ1RfUkFUSU8iO3M6MToiWSI7czoxNjoifkNPTVBBVElCTEVfTU9ERSI7czoxOiJZIjtzOjIzOiJ+RU1QVFlfQkFTS0VUX0hJTlRfUEFUSCI7czoxOiIvIjtzOjIyOiJ+QkFTS0VUX0lNQUdFU19TQ0FMSU5HIjtzOjg6ImFkYXB0aXZlIjtzOjIzOiJ+VVNFX0VOSEFOQ0VEX0VDT01NRVJDRSI7czoxOiJOIjtzOjExOiJ+Q0FDSEVfVFlQRSI7czoxOiJBIjtzOjEwOiJ+QUpBWF9QQVRIIjtzOjUzOiIvYml0cml4L2NvbXBvbmVudHMvYml0cml4L3NhbGUuYmFza2V0LmJhc2tldC9hamF4LnBocCI7czoxNToiflBBVEhfVE9fQkFTS0VUIjtzOjE1OiIvcGVyc29uYWwvY2FydC8iO3M6MTI6In5XRUlHSFRfS09FRiI7czo0OiIxMDAwIjtzOjEyOiJ+V0VJR0hUX1VOSVQiO3M6NDoi0LrQsyI7czoxODoifkxBQkVMX1BST1BfTU9CSUxFIjthOjA6e31zOjIwOiJ+TEFCRUxfUFJPUF9QT1NJVElPTiI7czo4OiJ0b3AtbGVmdCI7czozMDoifkJBU0tFVF9XSVRIX09SREVSX0lOVEVHUkFUSU9OIjtzOjE6Ik4iO3M6MjU6In5CQVNLRVRfTUFYX0NPVU5UX1RPX1NIT1ciO2k6NTtzOjI2OiJ+QkFTS0VUX0hBU19CRUVOX1JFRlJFU0hFRCI7czoxOiJOIjtzOjE1OiJEQVRBX0xBWUVSX05BTUUiO3M6OToiZGF0YUxheWVyIjtzOjE0OiJCUkFORF9QUk9QRVJUWSI7czowOiIiO30=.f301d1d029323c68e2ab024ebc13cb6c067af36a05997c730f70a84c3eaea07e',
                                    siteId: 's1',
                                    siteTemplateId: 'aspro_optimus',
                                    templateFolder: '/bitrix/templates/aspro_optimus/components/bitrix/sale.basket.basket/basket'
                                });
                            </script>
                            <script type="text/javascript">
                                var basketJSParams = ''
                            </script>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		{% include '../components/footer/footer.twig' %}

		<!--'start_frame_cache_basketitems-block'-->
		<script type="text/javascript">
			function jsPriceFormat(_number) {
            BX.Currency.setCurrencyFormat('RUB', {
            'CURRENCY': 'RUB',
            'LID': 'ru',
            'FORMAT_STRING': '# руб.',
            'FULL_NAME': 'Российский рубль',
            'DEC_POINT': '.',
            'THOUSANDS_SEP': '&nbsp;',
            'DECIMALS': '2',
            'THOUSANDS_VARIANT': 'B',
            'HIDE_ZERO': 'Y',
            'CREATED_BY': '',
            'DATE_CREATE': '2020-05-18 15:29:35',
            'MODIFIED_BY': '1',
            'TIMESTAMP_X': '2020-05-18 15:42:27'
            });
            return BX.Currency.currencyFormat(_number, 'RUB', true);
            }
                    </script>
                    <script type="text/javascript">
                        var arBasketAspro = {
            'BASKET': [],
            'DELAY': [],
            'SUBSCRIBE': [],
            'NOT_AVAILABLE': [],
            'COMPARE': []
            };
            $(document).ready(function () {});
		</script>
		<!--'end_frame_cache_basketitems-block'-->
		<script src="scripts_old/catalog.js"></script>
		<script>
			$(document).ready(function () {
            window.catalog = new CCatalog({'siteId': 's1'});
            })
		</script>
	</body>
</html>
