<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="интернет-магазин, заказать, купить"/>
    <meta name="description" content="Оптимальный интернет-магазин"/>
    <title>Аптека Вита</title>
	<link href="styles/coming-soon.css" type="text/css" data-template-style="true" rel="stylesheet"/>
    <link href="fonts/gilroy/gilroy.css" type="text/css" data-template-style="true" rel="stylesheet">
    <link href="fonts/cyrillic_old/stylesheet.css" type="text/css" data-template-style="true" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="site">
        <header class="header">
        
        </header>
        <div class="main">
            <div class="head">
                <a href="/" class="main-logo">
                    <img src="assets/img/logo.svg" alt="Аптека Вита" title="Аптека Вита">
                </a>
                <div class="main-logo-text">
                    Для Северян!
                </div>
            </div>
            <div class="main-attention">
                Уважаемые клиенты сети аптек Вита Норд,
            </div>
            <div class="main-text">
                Мы готовим запуск интернет аптеки для вашего удобства. <br>
                работа старого сайта <span class="mod-cyan">временно приостановлена.</span> Следите за новостями.
            </div>
            <div class="main-author">
                Ваша сеть аптек - Вита Норд
            </div>
            <div class="main-contacts">
                <a href="tel:88001007272" class="main-phone">
                    <svg viewBox="0 0 513.64 513.64">
                        <g>
                            <g>
                                <path d="M499.66,376.96l-71.68-71.68c-25.6-25.6-69.12-15.359-79.36,17.92c-7.68,23.041-33.28,35.841-56.32,30.72
                                            c-51.2-12.8-120.32-79.36-133.12-133.12c-7.68-23.041,7.68-48.641,30.72-56.32c33.28-10.24,43.52-53.76,17.92-79.36l-71.68-71.68
                                            c-20.48-17.92-51.2-17.92-69.12,0l-48.64,48.64c-48.64,51.2,5.12,186.88,125.44,307.2c120.32,120.32,256,176.641,307.2,125.44
                                            l48.64-48.64C517.581,425.6,517.581,394.88,499.66,376.96z"/>
                            </g>
                        </g>
                    </svg>
                    <span>8 800 100 72 72</span>
                </a>
                <div class="main-schedule">
                     Ежедневно с 9:00 до 17:00
                </div>
            </div>
            <div class="main-social">
                <div class="main-social__item">
                    <a href="https://vk.com/vitanord" target="_blank" title="ВКонтакте" class="vk"></a>
                </div>
                <div class="main-social__item">
                    <a href="https://www.instagram.com/aptekavitanord/" target="_blank" title="Instagram" class="inst"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>