<footer id="footer">
	<div class="footer_inner no_fill">
		<div class="wrapper_inner">
			<div class="footer_bottom_inner">
				<div class="footer-top">
					<div class="rows_block">
						<div class="item_block col-75 menus">
							<div class="submenu_top rows_block">
								<div class="item_block col-3">
									<div class="menu_item">
										<a href="/company/" class="dark_link">Компания</a>
									</div>
								</div>
								<div class="item_block col-3">
									<div class="menu_item">
										<a href="/help/" class="dark_link">Помощь</a>
									</div>
								</div>
								<div class="item_block col-3">
									<div class="menu_item">
										<a href="/info/" class="dark_link">Информация</a>
									</div>
								</div>
							</div>
							<div class="rows_block">
								<div class="item_block col-3">
									<ul class="submenu">
										<li class="menu_item">
											<a href="/company/" class="dark_link">О компании</a>
										</li>
										<li class="menu_item">
											<a href="/company/news/" class="dark_link">Петромост ONLINE</a>
										</li>
										<li class="menu_item">
											<a href="/contacts/stores/" class="dark_link">Партнерам</a>
										</li>
									</ul>
								</div>
								<div class="item_block col-3">
									<ul class="submenu">
										<li class="menu_item">
											<a href="/help/" class="dark_link">Доставка и оплата </a>
										</li>
										<li class="menu_item">
											<a href="/help/payment/" class="dark_link">Пользовательское соглашение</a>
										</li>
									</ul>
								</div>
								<div class="item_block col-3">
									<ul class="submenu">
										<li class="menu_item">
											<a href="/info/articles/" class="dark_link">Статьи</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="item_block col-4 soc">
							<div class="soc_wrapper">
								<div class="phones">
									<div class="phone_block">
										<span class="phone_wrap">
											<span>
												<a href="tel:+78001007272" rel="nofollow">8 800 100 72 72</a>
											</span>
										</span>
										
										<span class="phone_wrap">
											<span class="icons fa fa-phone"></span>
											<span>
												<a href="tel:88182202138" rel="nofollow">20 22 12</a>
												<a href="tel:88182271416" rel="nofollow">27 14 16</a>
											</span>
										</span>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>

				</div>
				<div class="footer-bottom">
					<div class="rows_block">
						<div class="item_block col-75 mod-vert-align">
							<div class="copyright">
								2020 &copy; Vita. Интернет-аптека</div>
							<span class="pay_system_icons"></span>
						</div>
						<div class="item_block col-4 soc">
							<div class="social_wrapper">
								<div class="social">
									<div class="links rows_block soc_icons">
										<div class="item_block">
											<a href="https://vk.com/vitanord" target="_blank" title="ВКонтакте" class="vk"></a>
										</div>
										<div class="item_block">
											<a href="https://www.instagram.com/aptekavitanord/" target="_blank" title="Instagram" class="inst"></a>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="mobile_copy">
				<div class="copyright">
					2020 &copy; Vita. Интернет-аптека</div>
				<span class="pay_system_icons"></span>
			</div>
		</div>
		<div class="footer-decor">
		
		</div>
	</div>
</footer>
