<div class="search-form">
    <div class="search-form-row">
        <label class="search-form__input">
            <input class="inp" type="text" name="search-title" autocomplete="off" placeholder="Название препарата тут">
            <span class="search-form__input-label">Название препарата</span>
        </label>
    </div>
    <div class="search-form-row mod-mb-20">
        <label class="search-form__input">
            <input class="inp" type="text" name="search-name" autocomplete="off" placeholder="Фамилия имя отчество">
            <span class="search-form__input-label">Ваше имя<span class="mod-red">*</span></span>
        </label>
        <label class="search-form__input">
            <input class="inp" type="text" name="search-phone" autocomplete="off" placeholder="+7 (900) 000 - 11 - 00">
            <span class="search-form__input-label">Телефон<span class="mod-red">*</span></span>
        </label>
    </div>
    <div class="checkout-acception">
        <label class="js-accept">
            <input type="checkbox" class="checkbox">
            <span class="checkbox"></span><span>Я согласен на <a href="/">обработку персональных данных</a></span>
        </label>
    </div>
    <div class="search-form-buttons">
        <a href="/" class="search-form-buttons-btn">Отправить</a>
        <a href="/" class="search-form-buttons-btn mod-gray">Закрыть</a>
    </div>
</div>