<header id="header" class="js-header">
	<div class="header-2021">
    	<div class="header-decor"></div>
		<div class="header-2021-top">
			<div class="header-2021-address">
				Аптека: 
				<a class="header-2021-address__link" href="/">Архангельск, ул. Адм. Кузнецова, д. 2</a>
			</div>
			<div class="header-2021-delivery">
				Способ доставки: 
				<a class="header-2021-delivery__link" href="/">Самовывоз</a>
			</div>
			<div class="header-2021-phone">
				<a class="header-2021-phone__link" href="tel:+78001007272">8 800 100 72 72</a>
			</div>
			<div class="header-2021-schedule">
				Ежедневно с 9:00 до 17:00
			</div>
			<div class="header-2021-notification">
				<svg class="icon-notification">
					<use xlink:href="icons/all.svg#icon-notification"></use>
				</svg>
				<div class="header-2021-notification__number">
					1
				</div>
				<div class="header-2021-notification-popup">
					<div class="header-2021-notification-popup__tail">
						
					</div>
					<div class="header-2021-notification-popup__close">
						
					</div>
					<div class="header-2021-notification-popup__text">
						Если вы не нашли нужного вам препарата
						в каталоге интернет аптеки - пожалуйста,
						заполните форму ниже - доставим со склада.
					</div>
					<label class="header-2021-notification-popup-input">
						<div class="header-2021-notification-popup-input__text">Название проекта</div>
						<input class="inp" type="text" name="notification-project" placeholder=" ">
					</label>
					<label class="header-2021-notification-popup-input">
						<div class="header-2021-notification-popup-input__text">Ваше имя <span class="mod-attention">*</span></div>
						<input class="inp" type="text" name="notification-name" placeholder=" ">
					</label>
					<label class="header-2021-notification-popup-input">
						<div class="header-2021-notification-popup-input__text">Телефон <span class="mod-attention">*</span></div>
						<input class="inp" type="text" name="notification-phone" placeholder=" ">
					</label>
					<div class="header-2021-notification-popup-checkbox licence_block filter label_block">
						<input type="checkbox" id="licenses_popup_FEEDBACK" name="licenses_popup" required="" value="Y" aria-required="true">
						<label for="licenses_popup_FEEDBACK">
							Я согласен на <a href="/include/licenses_detail.php" target="_blank">обработку персональных данных</a>
						</label>
					</div>
					<div class="header-2021-notification-popup-buttons">
						<a href="/" class="header-2021-notification-popup__btn mod-blue">Отправить</a>
						<a href="/" class="header-2021-notification-popup__btn">Закрыть</a>
					</div>
				</div>
			</div>
		</div>
		<div class="header-2021-wrap">
		
		</div>
	</div>
	<div class="header-2021-mobile">
	
	</div>
</header>
