<header id="header" class="js-header">
	<div class="header-2021">
    	<div class="header-decor"></div>
		<div class="header-2021-top">
			<div class="header-2021-top-left">
				<div class="header-2021-address">
					Аптека: 
					<a class="header-2021-address__link" href="/">Архангельск, ул. Адм. Кузнецова, д. 2</a>
				</div>
				<div class="header-2021-delivery">
					Способ доставки: 
					<a class="header-2021-delivery__link" href="/">Самовывоз</a>
				</div>
			</div>
			<ul class="header-2021-top-menu">
				<li class="header-2021-top-menu__item">
					<a href="/" class="header-2021-top-menu__link">
						<div class="header-2021-top-menu__icon">
							<svg class="icon-header-help">
								<use xlink:href="icons/all.svg#icon-header-help"></use>
							</svg>
						</div>
						<div class="header-2021-top-menu__text">
							Как заказать
						</div>
					</a>
				</li>
				<li class="header-2021-top-menu__item">
					<a href="/" class="header-2021-top-menu__link">
						<div class="header-2021-top-menu__icon">
							<svg class="icon-header-truck">
								<use xlink:href="icons/all.svg#icon-header-truck"></use>
							</svg>
						</div>
						<div class="header-2021-top-menu__text">
							Доставка и оплата
						</div>
					</a>
				</li>
				<li class="header-2021-top-menu__item">
					<a href="/" class="header-2021-top-menu__link">
						<div class="header-2021-top-menu__icon">
							<svg class="icon-header-pharmacy">
								<use xlink:href="icons/all.svg#icon-header-pharmacy"></use>
							</svg>
						</div>
						<div class="header-2021-top-menu__text">
							Аптеки
						</div>
					</a>
				</li>
				<li class="header-2021-top-menu__item">
					<a href="/" class="header-2021-top-menu__link">
						<div class="header-2021-top-menu__icon">
							<svg class="icon-header-contact">
								<use xlink:href="icons/all.svg#icon-header-contact"></use>
							</svg>
						</div>
						<div class="header-2021-top-menu__text">
							Контакты
						</div>
					</a>
				</li>
				<li class="header-2021-top-menu__item">
					<a href="/" class="header-2021-top-menu__link">
						<div class="header-2021-top-menu__icon">
							<svg class="icon-header-review">
								<use xlink:href="icons/all.svg#icon-header-review"></use>
							</svg>
						</div>
						<div class="header-2021-top-menu__text">
							Оставить отзыв
						</div>
					</a>
				</li>
			</ul>
			<div class="header-2021-top-right">
				<div class="header-2021-phone">
					<a class="header-2021-phone__link" href="tel:+78001007272">8 800 100 72 72</a>
				</div>
				<div class="header-2021-schedule">
					Ежедневно с 9:00 до 17:00
				</div>
			</div>
			<div class="header-2021-notification">
				<svg class="icon-notification">
					<use xlink:href="icons/all.svg#icon-notification"></use>
				</svg>
				<div class="header-2021-notification__number">
					1
				</div>
				<div class="header-2021-notification-popup">
					<div class="header-2021-notification-popup__tail">
						
					</div>
					<div class="header-2021-notification-popup__close">
						
					</div>
					<div class="header-2021-notification-popup__text">
						Если вы не нашли нужного вам препарата
						в каталоге интернет аптеки - пожалуйста,
						заполните форму ниже - доставим со склада.
					</div>
					<label class="header-2021-notification-popup-input">
						<div class="header-2021-notification-popup-input__text">Название проекта</div>
						<input class="inp" type="text" name="notification-project" placeholder=" ">
					</label>
					<label class="header-2021-notification-popup-input">
						<div class="header-2021-notification-popup-input__text">Ваше имя <span class="mod-attention">*</span></div>
						<input class="inp" type="text" name="notification-name" placeholder=" ">
					</label>
					<label class="header-2021-notification-popup-input">
						<div class="header-2021-notification-popup-input__text">Телефон <span class="mod-attention">*</span></div>
						<input class="inp" type="text" name="notification-phone" placeholder=" ">
					</label>
					<div class="header-2021-notification-popup-checkbox licence_block filter label_block">
						<input type="checkbox" id="licenses_popup_FEEDBACK" name="licenses_popup" required="" value="Y" aria-required="true">
						<label for="licenses_popup_FEEDBACK">
							Я согласен на <a href="/include/licenses_detail.php" target="_blank">обработку персональных данных</a>
						</label>
					</div>
					<div class="header-2021-notification-popup-buttons">
						<a href="/" class="header-2021-notification-popup__btn mod-blue">Отправить</a>
						<a href="/" class="header-2021-notification-popup__btn">Закрыть</a>
					</div>
				</div>
			</div>
		</div>
		<div class="header-2021-wrap">
			<div class="header-2021-logo">
				<a href="/">
					<img src="assets/img/logo.svg" alt="Аптека Вита" title="Аптека Вита">
				</a>
			</div>
			<div class="header-2021-slogan">
				<span class="header-2021-slogan__text">Для Северян!</span>
			</div>
			<div class="header-2021-panel">
				<div class="header-2021-panel-item">
					<a href="tel:+78001007272" class="header-2021-panel-item__link">
						<div class="header-2021-panel-item__icon">
							<svg class="icon-header-phone">
								<use xlink:href="icons/all.svg#icon-header-phone"></use>
							</svg>
						</div>
						<div class="header-2021-panel-item-info">
							<div class="header-2021-panel-item__text">
								заказать
							</div>
							<div class="header-2021-panel-item__text">
								звонок
							</div>
						</div>
					</a>
				</div>
				<div class="header-2021-panel-item">
					<a href="/" class="header-2021-panel-item__link">
						<div class="header-2021-panel-item__icon">
							<svg class="icon-header-clock">
								<use xlink:href="icons/all.svg#icon-header-clock"></use>
							</svg>
						</div>
						<div class="header-2021-panel-item-info">
							<div class="header-2021-panel-item__text">
								статус
							</div>
							<div class="header-2021-panel-item__text">
								заказа
							</div>
						</div>
					</a>
				</div>
				<div class="header-2021-panel-item active">
					<a href="/" class="header-2021-panel-item__link">
						<div class="header-2021-panel-item__icon">
							<svg class="icon-header-heart">
								<use xlink:href="icons/all.svg#icon-header-heart"></use>
							</svg>
						</div>
						<div class="header-2021-panel-item-info">
							<div class="header-2021-panel-item__text">
								избранное
							</div>
							<div class="header-2021-panel-item__quantity">
								(5)
							</div>
						</div>
					</a>
				</div>
				<div class="header-2021-panel-item">
					<a href="/" class="header-2021-panel-item__link">
						<div class="header-2021-panel-item__icon">
							<svg class="icon-header-user">
								<use xlink:href="icons/all.svg#icon-header-user"></use>
							</svg>
						</div>
						<div class="header-2021-panel-item-info">
							<div class="header-2021-panel-item__text">
								Фамилия
							</div>
							<div class="header-2021-panel-item__text">
								И.О.
							</div>
						</div>
					</a>
					<div class="header-2021-panel-item-popup">
						<div class="header-2021-panel-item-popup__tail">
							
						</div>
						<div class="header-2021-panel-item-popup-content">
							<a href="/" class="header-2021-panel-item-popup-row">
								<div class="header-2021-panel-item-popup__icon">
									<svg class="icon-header-user">
										<use xlink:href="icons/all.svg#icon-header-user"></use>
									</svg>
									
								</div>
								<div class="header-2021-panel-item-popup__text mod-upper">
									Фамилия И.О.
								</div>
							</a>
							<a href="/" class="header-2021-panel-item-popup-row">
								<div class="header-2021-panel-item-popup__text">
									Личные данные
								</div>
							</a>
							<a href="/" class="header-2021-panel-item-popup-row">
								<div class="header-2021-panel-item-popup__text">
									Избранное
								</div>
							</a>
							<a href="/" class="header-2021-panel-item-popup-row">
								<div class="header-2021-panel-item-popup__text">
									История заказов
								</div>
							</a>
							<a href="/" class="header-2021-panel-item-popup-row">
								<div class="header-2021-panel-item-popup__text">
									Карта снегири
								</div>
							</a>
							<a href="/" class="header-2021-panel-item-popup-row">
								<div class="header-2021-panel-item-popup__icon">
									<svg class="icon-header-logout">
										<use xlink:href="icons/all.svg#icon-header-logout"></use>
									</svg>
									
								</div>
								<div class="header-2021-panel-item-popup__text">
									Выход
								</div>
							</a>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header-2021-bottom">
			<div class="header-2021-search">
				<form action="">
					<input type="text" placeholder="Поиск по названию, производителю или действующему веществу" maxlength="50" autocomplete="off" class="header-2021-search-input" value="">
					<button type="submit" class="header-2021-search-btn">Найти товар</button>
				</form>
				<div class="title-search-result" style="display: none; position: absolute; top: 46px; left: 0px; width: 100%;">
					<table class="title-search-result">
						<tbody>
							<tr id="row_0" class="">
								<td class="picture">
									<img class="item_preview" align="left" src="assets/img/no_photo_small.png" width="38" height="38">
								</td>
								<td class="main">
									<div class="item-text">
										<a href="/catalog/lekarstvennye-preparaty-i-bad/profilaktika-tromboobrazovaniya/64447/">
											<b>Вар</b>фарин Никомед 2,5мг таб.№100</a>
									</div>
									<div class="price cost prices">
										<div class="title-search-price">
											<div class="price">150.51 руб.</div>
										</div>
										<div class="item-stock">
											<span class="icon stock"></span>
											<span class="value">В наличии</span>
										</div>
									</div>
								</td>
								<td class="controls">
									<div class="counter_block">
										<span class="minus">-</span>
										<input type="text" class="text" name="quantity" value="0">
										<span class="plus">+</span>
									</div>
								</td>
							</tr>
							<tr id="row_1" class="">
								<td class="picture">
									<img class="item_preview" align="left" src="assets/img/no_photo_small.png" width="38" height="38">
								</td>
								<td class="main">
									<div class="item-text">
										<a href="/catalog/meditsinskie-izdeliya/predmety-d-massazha-relaksatsii/predmety-dlya-massazha/97615/">Массажер чудо
											<b>вар</b>ежка мод.1</a>
									</div>
									<div class="price cost prices">
										<div class="title-search-price">
											<div class="price">69.98 руб.</div>
										</div>
										<div class="item-stock">
											<span class="icon stock"></span>
											<span class="value">В наличии</span>
										</div>
									</div>
								</td>
								<td class="controls">
									<div class="counter_block">
										<span class="minus">-</span>
										<input type="text" class="text" name="quantity" value="0">
										<span class="plus">+</span>
									</div>
								</td>
							</tr>
							<tr id="row_2" class="">
								<td class="picture">
									<img class="item_preview" align="left" src="assets/img/no_photo_small.png" width="38" height="38">
								</td>
								<td class="main">
									<div class="item-text">
										<a href="/catalog/ortopediya/trikotazh-antivarikoznyy/kolgotki-antivarikoznye/109935/">Колготки а/<b>вар</b>ик.(1кл) р.4/L тел.арт.112 Эргоформа</a>
									</div>
									<div class="price cost prices">
										<div class="title-search-price">
											<div class="price">778.98 руб.</div>
										</div>
										<div class="item-stock">
											<span class="icon stock"></span>
											<span class="value">В наличии</span>
										</div>
									</div>
								</td>
								<td class="controls">
									<div class="counter_block">
										<span class="minus">-</span>
										<input type="text" class="text" name="quantity" value="0">
										<span class="plus">+</span>
									</div>
								</td>
							</tr>
							<tr id="row_3" class="">
								<td class="picture">
									<img class="item_preview" align="left" src="assets/img/no_photo_small.png" width="38" height="38">
								</td>
								<td class="main">
									<div class="item-text">
										<a href="/catalog/ortopediya/trikotazh-antivarikoznyy/kolgotki-antivarikoznye/110039/">Колготки а/<b>вар</b>ик.(2кл) р.5/ХL тел.арт.121 Эргоформа</a>
									</div>
									<div class="price cost prices">
										<div class="title-search-price">
											<div class="price">899.98 руб.</div>
										</div>
										<div class="item-stock">
											<span class="icon stock"></span>
											<span class="value">В наличии</span>
										</div>
									</div>
								</td>
								<td class="controls">
									<div class="counter_block">
										<span class="minus">-</span>
										<input type="text" class="text" name="quantity" value="0">
										<span class="plus">+</span>
									</div>
								</td>
							</tr>
							<tr id="row_4" class="">
								<td class="picture">
									<img class="item_preview" align="left" src="assets/img/no_photo_small.png" width="38" height="38">
								</td>
								<td class="main">
									<div class="item-text">
										<a href="/catalog/ortopediya/trikotazh-antivarikoznyy/kolgotki-antivarikoznye/110148/">Колготки а/<b>вар</b>ик.70den черн.Артемис</a>
									</div>
									<div class="price cost prices">
										<div class="title-search-price">
											<div class="price">237.98 руб.</div>
										</div>
										<div class="item-stock">
											<span class="icon stock"></span>
											<span class="value">В наличии</span>
										</div>
									</div>
								</td>
								<td class="controls">
									<div class="counter_block">
										<span class="minus">-</span>
										<input type="text" class="text" name="quantity" value="0">
										<span class="plus">+</span>
									</div>
								</td>
							</tr>
							<tr id="row_5" class=""></tr>
							<tr id="row_6" class="">
								<td class="title-search-all" colspan="3">
									<a href="/catalog/?q=%D0%B2%D0%B0%D1%80">
										<span class="text">Все результаты</span>
										<span class="icon">
											<i></i>
										</span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="header-2021-cart">
				<a href="/" class="header-2021-cart-btn">
					<svg class="icon-header-basket">
						<use xlink:href="icons/all.svg#icon-header-basket"></use>
					</svg>
					<span class="header-2021-cart-btn__text">0 шт.</span>
					<span class="header-2021-cart-btn__text">0.00 руб.</span>
				</a>
			</div>
		</div>
		<div class="header-2021-menu">
			<ul class="header-2021-menu-list">
				<li class="header-2021-menu-list-item active">
					<a href="/" class="header-2021-menu-list-item__link">лекарственные препараты и бад</a>
					<div class="header-2021-menu-list-item-popup">
						<div class="header-2021-menu-sublist__tail"></div>
						<div class="header-2021-menu-list-item-popup-wrap">
							<ul class="header-2021-menu-sublist">
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Аптечки</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Уход за больными</a>
								</li>
								<li class="header-2021-menu-sublist-item active">
									<a href="/" class="header-2021-menu-sublist-item__link">Протезно-ортопедические изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Шприцы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Перевязочные материалы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Иглы инъекционные</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Резиновые изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Тесты диагностические</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Презервативы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Линзы, уход за контактными линзами</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Гели смазки</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Прочие медицинские изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Маски</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Аппликаторы, иппликаторы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Расходные изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Компрессионное белье</a>
								</li>
								
							</ul>
							<div class="header-2021-menu-product">
								<div class="header-2021-menu-product__title">Товар дня</div>
								<div class="header-2021-menu-product__img" style="background-image: url('assets/img/popup-item.png')"></div>
								<div class="header-2021-menu-product__name">Спазмалгон таб.№20 (В) </div>
								<div class="header-2021-menu-product-rating">
								<div class="rating">
									<div class="iblock-vote small">
										<table class="table-no-border">
											<tbody>
												<tr>
													<td>
														<div class="star-active star-empty" title="1"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="2"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="3"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="4"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="5"></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								</div>
								<div class="header-2021-menu-product__price">985 руб./ 1 970 руб.</div>
								<div class="header-2021-menu-product-cart">
									<a href="/" class="header-2021-menu-product-cart-btn">
										<svg class="icon-header-basket">
											<use xlink:href="icons/all.svg#icon-header-basket"></use>
										</svg>
										<span class="header-2021-menu-product-cart-btn__text">Добавить в корзину</span>
									</a>
								</div>

							</div>
						</div>
					
					</div>
				</li>
				<li class="header-2021-menu-list-item">
					<a href="/" class="header-2021-menu-list-item__link">Красота</a>
					<div class="header-2021-menu-list-item-popup">
						<div class="header-2021-menu-sublist__tail"></div>
						<div class="header-2021-menu-list-item-popup-wrap">
							<ul class="header-2021-menu-sublist">
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Аптечки</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Уход за больными</a>
								</li>
								<li class="header-2021-menu-sublist-item active">
									<a href="/" class="header-2021-menu-sublist-item__link">Протезно-ортопедические изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Шприцы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Перевязочные материалы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Иглы инъекционные</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Резиновые изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Тесты диагностические</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Презервативы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Линзы, уход за контактными линзами</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Гели смазки</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Прочие медицинские изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Маски</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Аппликаторы, иппликаторы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Расходные изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Компрессионное белье</a>
								</li>
								
							</ul>
							{# <div class="header-2021-menu-product">
								<div class="header-2021-menu-product__title">Товар дня</div>
								<div class="header-2021-menu-product__img" style="background-image: url('assets/img/popup-item.png')"></div>
								<div class="header-2021-menu-product__name">Спазмалгон таб.№20 (В) </div>
								<div class="header-2021-menu-product-rating">
								<div class="rating">
									<div class="iblock-vote small">
										<table class="table-no-border">
											<tbody>
												<tr>
													<td>
														<div class="star-active star-empty" title="1"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="2"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="3"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="4"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="5"></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								</div>
								<div class="header-2021-menu-product__price">985 руб./ 1 970 руб.</div>
								<div class="header-2021-menu-product-cart">
									<a href="/" class="header-2021-menu-product-cart-btn">
										<svg class="icon-header-basket">
											<use xlink:href="icons/all.svg#icon-header-basket"></use>
										</svg>
										<span class="header-2021-menu-product-cart-btn__text">Добавить в корзину</span>
									</a>
								</div>

							</div> #}
						</div>
					
					</div>
				</li>
				<li class="header-2021-menu-list-item">
					<a href="/" class="header-2021-menu-list-item__link">Техника и самодиагностика</a>
					<div class="header-2021-menu-list-item-popup">
						<div class="header-2021-menu-sublist__tail"></div>
						<div class="header-2021-menu-list-item-popup-wrap">
							<ul class="header-2021-menu-sublist">
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Аптечки</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Уход за больными</a>
								</li>
								<li class="header-2021-menu-sublist-item active">
									<a href="/" class="header-2021-menu-sublist-item__link">Протезно-ортопедические изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Шприцы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Перевязочные материалы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Иглы инъекционные</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Резиновые изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Тесты диагностические</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Презервативы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Линзы, уход за контактными линзами</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Гели смазки</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Прочие медицинские изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Маски</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Аппликаторы, иппликаторы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Расходные изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Компрессионное белье</a>
								</li>
								
							</ul>
							{# <div class="header-2021-menu-product">
								<div class="header-2021-menu-product__title">Товар дня</div>
								<div class="header-2021-menu-product__img" style="background-image: url('assets/img/popup-item.png')"></div>
								<div class="header-2021-menu-product__name">Спазмалгон таб.№20 (В) </div>
								<div class="header-2021-menu-product-rating">
								<div class="rating">
									<div class="iblock-vote small">
										<table class="table-no-border">
											<tbody>
												<tr>
													<td>
														<div class="star-active star-empty" title="1"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="2"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="3"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="4"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="5"></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								</div>
								<div class="header-2021-menu-product__price">985 руб./ 1 970 руб.</div>
								<div class="header-2021-menu-product-cart">
									<a href="/" class="header-2021-menu-product-cart-btn">
										<svg class="icon-header-basket">
											<use xlink:href="icons/all.svg#icon-header-basket"></use>
										</svg>
										<span class="header-2021-menu-product-cart-btn__text">Добавить в корзину</span>
									</a>
								</div>

							</div> #}
						</div>
					
					</div>
				</li>
				<li class="header-2021-menu-list-item">
					<a href="/" class="header-2021-menu-list-item__link">Гигиена</a>
					<div class="header-2021-menu-list-item-popup">
						<div class="header-2021-menu-sublist__tail"></div>
						<div class="header-2021-menu-list-item-popup-wrap">
							<ul class="header-2021-menu-sublist">
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Аптечки</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Уход за больными</a>
								</li>
								<li class="header-2021-menu-sublist-item active">
									<a href="/" class="header-2021-menu-sublist-item__link">Протезно-ортопедические изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Шприцы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Перевязочные материалы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Иглы инъекционные</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Резиновые изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Тесты диагностические</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Презервативы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Линзы, уход за контактными линзами</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Гели смазки</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Прочие медицинские изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Маски</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Аппликаторы, иппликаторы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Расходные изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Компрессионное белье</a>
								</li>
								
							</ul>
							<div class="header-2021-menu-product">
								<div class="header-2021-menu-product__title">Товар дня</div>
								<div class="header-2021-menu-product__img" style="background-image: url('assets/img/popup-item.png')"></div>
								<div class="header-2021-menu-product__name">Спазмалгон таб.№20 (В) </div>
								<div class="header-2021-menu-product-rating">
								<div class="rating">
									<div class="iblock-vote small">
										<table class="table-no-border">
											<tbody>
												<tr>
													<td>
														<div class="star-active star-empty" title="1"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="2"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="3"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="4"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="5"></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								</div>
								<div class="header-2021-menu-product__price">985 руб./ 1 970 руб.</div>
								<div class="header-2021-menu-product-cart">
									<a href="/" class="header-2021-menu-product-cart-btn">
										<svg class="icon-header-basket">
											<use xlink:href="icons/all.svg#icon-header-basket"></use>
										</svg>
										<span class="header-2021-menu-product-cart-btn__text">Добавить в корзину</span>
									</a>
								</div>

							</div>
						</div>
					
					</div>
				</li>
				<li class="header-2021-menu-list-item">
					<a href="/" class="header-2021-menu-list-item__link">Пищевые продукты</a>
					<div class="header-2021-menu-list-item-popup">
						<div class="header-2021-menu-sublist__tail"></div>
						<div class="header-2021-menu-list-item-popup-wrap">
							<ul class="header-2021-menu-sublist">
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Аптечки</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Уход за больными</a>
								</li>
								<li class="header-2021-menu-sublist-item active">
									<a href="/" class="header-2021-menu-sublist-item__link">Протезно-ортопедические изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Шприцы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Перевязочные материалы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Иглы инъекционные</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Резиновые изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Тесты диагностические</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Презервативы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Линзы, уход за контактными линзами</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Гели смазки</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Прочие медицинские изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Маски</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Аппликаторы, иппликаторы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Расходные изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Компрессионное белье</a>
								</li>
								
							</ul>
							<div class="header-2021-menu-product">
								<div class="header-2021-menu-product__title">Товар дня</div>
								<div class="header-2021-menu-product__img" style="background-image: url('assets/img/popup-item.png')"></div>
								<div class="header-2021-menu-product__name">Спазмалгон таб.№20 (В) </div>
								<div class="header-2021-menu-product-rating">
								<div class="rating">
									<div class="iblock-vote small">
										<table class="table-no-border">
											<tbody>
												<tr>
													<td>
														<div class="star-active star-empty" title="1"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="2"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="3"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="4"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="5"></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								</div>
								<div class="header-2021-menu-product__price">985 руб./ 1 970 руб.</div>
								<div class="header-2021-menu-product-cart">
									<a href="/" class="header-2021-menu-product-cart-btn">
										<svg class="icon-header-basket">
											<use xlink:href="icons/all.svg#icon-header-basket"></use>
										</svg>
										<span class="header-2021-menu-product-cart-btn__text">Добавить в корзину</span>
									</a>
								</div>

							</div>
						</div>
					
					</div>
				</li>
				<li class="header-2021-menu-list-item">
					<a href="/" class="header-2021-menu-list-item__link">Медицинские изделия</a>
					<div class="header-2021-menu-list-item-popup">
						<div class="header-2021-menu-sublist__tail"></div>
						<div class="header-2021-menu-list-item-popup-wrap">
							<ul class="header-2021-menu-sublist">
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Аптечки</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Уход за больными</a>
								</li>
								<li class="header-2021-menu-sublist-item active">
									<a href="/" class="header-2021-menu-sublist-item__link">Протезно-ортопедические изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Шприцы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Перевязочные материалы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Иглы инъекционные</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Резиновые изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Тесты диагностические</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Презервативы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Линзы, уход за контактными линзами</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Гели смазки</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Прочие медицинские изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Маски</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Аппликаторы, иппликаторы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Расходные изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Компрессионное белье</a>
								</li>
								
							</ul>
							<div class="header-2021-menu-product">
								<div class="header-2021-menu-product__title">Товар дня</div>
								<div class="header-2021-menu-product__img" style="background-image: url('assets/img/popup-item.png')"></div>
								<div class="header-2021-menu-product__name">Спазмалгон таб.№20 (В) </div>
								<div class="header-2021-menu-product-rating">
								<div class="rating">
									<div class="iblock-vote small">
										<table class="table-no-border">
											<tbody>
												<tr>
													<td>
														<div class="star-active star-empty" title="1"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="2"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="3"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="4"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="5"></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								</div>
								<div class="header-2021-menu-product__price">985 руб./ 1 970 руб.</div>
								<div class="header-2021-menu-product-cart">
									<a href="/" class="header-2021-menu-product-cart-btn">
										<svg class="icon-header-basket">
											<use xlink:href="icons/all.svg#icon-header-basket"></use>
										</svg>
										<span class="header-2021-menu-product-cart-btn__text">Добавить в корзину</span>
									</a>
								</div>

							</div>
						</div>
					
					</div>
				</li>
				<li class="header-2021-menu-list-item">
					<a href="/" class="header-2021-menu-list-item__link">Планирование семьи </a>
					<div class="header-2021-menu-list-item-popup">
						<div class="header-2021-menu-sublist__tail"></div>
						<div class="header-2021-menu-list-item-popup-wrap">
							<ul class="header-2021-menu-sublist">
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Аптечки</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Уход за больными</a>
								</li>
								<li class="header-2021-menu-sublist-item active">
									<a href="/" class="header-2021-menu-sublist-item__link">Протезно-ортопедические изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Шприцы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Перевязочные материалы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Иглы инъекционные</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Резиновые изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Тесты диагностические</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Презервативы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Линзы, уход за контактными линзами</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Гели смазки</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Прочие медицинские изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Маски</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Аппликаторы, иппликаторы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Расходные изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Компрессионное белье</a>
								</li>
								
							</ul>
							<div class="header-2021-menu-product">
								<div class="header-2021-menu-product__title">Товар дня</div>
								<div class="header-2021-menu-product__img" style="background-image: url('assets/img/popup-item.png')"></div>
								<div class="header-2021-menu-product__name">Спазмалгон таб.№20 (В) </div>
								<div class="header-2021-menu-product-rating">
								<div class="rating">
									<div class="iblock-vote small">
										<table class="table-no-border">
											<tbody>
												<tr>
													<td>
														<div class="star-active star-empty" title="1"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="2"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="3"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="4"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="5"></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								</div>
								<div class="header-2021-menu-product__price">985 руб./ 1 970 руб.</div>
								<div class="header-2021-menu-product-cart">
									<a href="/" class="header-2021-menu-product-cart-btn">
										<svg class="icon-header-basket">
											<use xlink:href="icons/all.svg#icon-header-basket"></use>
										</svg>
										<span class="header-2021-menu-product-cart-btn__text">Добавить в корзину</span>
									</a>
								</div>

							</div>
						</div>
					
					</div>
				</li>
				<li class="header-2021-menu-list-item">
					<a href="/" class="header-2021-menu-list-item__link">Мама и малыш </a>
					<div class="header-2021-menu-list-item-popup">
						<div class="header-2021-menu-sublist__tail"></div>
						<div class="header-2021-menu-list-item-popup-wrap">
							<ul class="header-2021-menu-sublist">
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Аптечки</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Уход за больными</a>
								</li>
								<li class="header-2021-menu-sublist-item active">
									<a href="/" class="header-2021-menu-sublist-item__link">Протезно-ортопедические изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Шприцы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Перевязочные материалы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Иглы инъекционные</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Резиновые изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Тесты диагностические</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Презервативы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Линзы, уход за контактными линзами</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Гели смазки</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Прочие медицинские изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Маски</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Аппликаторы, иппликаторы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Расходные изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Компрессионное белье</a>
								</li>
								
							</ul>
							{# <div class="header-2021-menu-product">
								<div class="header-2021-menu-product__title">Товар дня</div>
								<div class="header-2021-menu-product__img" style="background-image: url('assets/img/popup-item.png')"></div>
								<div class="header-2021-menu-product__name">Спазмалгон таб.№20 (В) </div>
								<div class="header-2021-menu-product-rating">
								<div class="rating">
									<div class="iblock-vote small">
										<table class="table-no-border">
											<tbody>
												<tr>
													<td>
														<div class="star-active star-empty" title="1"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="2"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="3"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="4"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="5"></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								</div>
								<div class="header-2021-menu-product__price">985 руб./ 1 970 руб.</div>
								<div class="header-2021-menu-product-cart">
									<a href="/" class="header-2021-menu-product-cart-btn">
										<svg class="icon-header-basket">
											<use xlink:href="icons/all.svg#icon-header-basket"></use>
										</svg>
										<span class="header-2021-menu-product-cart-btn__text">Добавить в корзину</span>
									</a>
								</div>

							</div> #}
						</div>
					
					</div>
				</li>
				<li class="header-2021-menu-list-item">
					<a href="/" class="header-2021-menu-list-item__link">Ортопедия</a>
					<div class="header-2021-menu-list-item-popup">
						<div class="header-2021-menu-sublist__tail"></div>
						<div class="header-2021-menu-list-item-popup-wrap">
							<ul class="header-2021-menu-sublist">
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Аптечки</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Уход за больными</a>
								</li>
								<li class="header-2021-menu-sublist-item active">
									<a href="/" class="header-2021-menu-sublist-item__link">Протезно-ортопедические изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Шприцы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Перевязочные материалы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Иглы инъекционные</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Резиновые изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Тесты диагностические</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Презервативы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Линзы, уход за контактными линзами</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Иглы инъекционные</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Резиновые изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Тесты диагностические</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Презервативы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Линзы, уход за контактными линзами</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Иглы инъекционные</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Резиновые изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Тесты диагностические</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Презервативы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Линзы, уход за контактными линзами</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Гели смазки</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Прочие медицинские изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Маски</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Аппликаторы, иппликаторы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Расходные изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Компрессионное белье</a>
								</li>
								
							</ul>
							<div class="header-2021-menu-product">
								<div class="header-2021-menu-product__title">Товар дня</div>
								<div class="header-2021-menu-product__img" style="background-image: url('assets/img/popup-item.png')"></div>
								<div class="header-2021-menu-product__name">Спазмалгон таб.№20 (В) </div>
								<div class="header-2021-menu-product-rating">
								<div class="rating">
									<div class="iblock-vote small">
										<table class="table-no-border">
											<tbody>
												<tr>
													<td>
														<div class="star-active star-empty" title="1"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="2"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="3"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="4"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="5"></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								</div>
								<div class="header-2021-menu-product__price">985 руб./ 1 970 руб.</div>
								<div class="header-2021-menu-product-cart">
									<a href="/" class="header-2021-menu-product-cart-btn">
										<svg class="icon-header-basket">
											<use xlink:href="icons/all.svg#icon-header-basket"></use>
										</svg>
										<span class="header-2021-menu-product-cart-btn__text">Добавить в корзину</span>
									</a>
								</div>

							</div>
						</div>
					
					</div>
				</li>
				<li class="header-2021-menu-list-item">
					<a href="/" class="header-2021-menu-list-item__link">Оптика</a>
					<div class="header-2021-menu-list-item-popup">
						<div class="header-2021-menu-sublist__tail"></div>
						<div class="header-2021-menu-list-item-popup-wrap">
							<ul class="header-2021-menu-sublist">
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Аптечки</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Уход за больными</a>
								</li>
								<li class="header-2021-menu-sublist-item active">
									<a href="/" class="header-2021-menu-sublist-item__link">Протезно-ортопедические изделия</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Шприцы</a>
								</li>
								<li class="header-2021-menu-sublist-item">
									<a href="/" class="header-2021-menu-sublist-item__link">Перевязочные материалы</a>
								</li>
								
							</ul>
							<div class="header-2021-menu-product">
								<div class="header-2021-menu-product__title">Товар дня</div>
								<div class="header-2021-menu-product__img" style="background-image: url('assets/img/popup-item.png')"></div>
								<div class="header-2021-menu-product__name">Спазмалгон таб.№20 (В) </div>
								<div class="header-2021-menu-product-rating">
								<div class="rating">
									<div class="iblock-vote small">
										<table class="table-no-border">
											<tbody>
												<tr>
													<td>
														<div class="star-active star-empty" title="1"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="2"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="3"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="4"></div>
													</td>
													<td>
														<div class="star-active star-empty" title="5"></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								</div>
								<div class="header-2021-menu-product__price">985 руб./ 1 970 руб.</div>
								<div class="header-2021-menu-product-cart">
									<a href="/" class="header-2021-menu-product-cart-btn">
										<svg class="icon-header-basket">
											<use xlink:href="icons/all.svg#icon-header-basket"></use>
										</svg>
										<span class="header-2021-menu-product-cart-btn__text">Добавить в корзину</span>
									</a>
								</div>

							</div>
						</div>
					
					</div>
				</li>
				<li class="header-2021-menu-list-item">
					<a href="/" class="header-2021-menu-list-item__link">Сезон</a>
				</li>
				<li class="header-2021-menu-list-item mod-cyan">
					<a href="/" class="header-2021-menu-list-item__link">Акции</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="header-2021-mobile">
		<a href="/" class="header-2021-mobile-top js-mobile-top">
			<div class="header-2021-mobile-top__close js-mobile-top-close">
				
			</div>
			<div class="header-2021-mobile-top__text">
				Проверить статус заказа
			</div>
			
		</a>
		<div class="header-2021-mobile-wrap">
			<div class="header-2021-mobile-logo">
				<a href="/">
					<img src="assets/img/logo.svg" alt="Аптека Вита" title="Аптека Вита">
				</a>
			</div>
			<div class="header-2021-mobile-content">
				<div class="header-2021-mobile-content-top">
					<div class="header-2021-mobile-phone">
						<a class="header-2021-mobile-phone__link" href="tel:+78001007272">8 800 100 72 72</a>
					</div>
					<div class="header-2021-mobile-lk js-mobile-lk">
						<div class="header-2021-mobile-lk__icon">
							<svg class="icon-header-user-mobile">
								<use xlink:href="icons/all.svg#icon-header-user"></use>
							</svg>
							
						</div>
						<div class="header-2021-mobile-lk-popup">
							<div class="header-2021-mobile-lk-popup__tail">
								
							</div>
							<div class="header-2021-mobile-lk-popup-content">
								<a href="/" class="header-2021-mobile-lk-popup-row">
									<div class="header-2021-mobile-lk-popup__icon">
										<svg class="icon-header-user">
											<use xlink:href="icons/all.svg#icon-header-user"></use>
										</svg>
										
									</div>
									<div class="header-2021-mobile-lk-popup__text mod-upper">
										Фамилия И.О.
									</div>
								</a>
								<a href="/" class="header-2021-mobile-lk-popup-row">
									<div class="header-2021-mobile-lk-popup__text">
										Личные данные
									</div>
								</a>
								<a href="/" class="header-2021-mobile-lk-popup-row">
									<div class="header-2021-mobile-lk-popup__text">
										Избранное
									</div>
								</a>
								<a href="/" class="header-2021-mobile-lk-popup-row">
									<div class="header-2021-mobile-lk-popup__text">
										История заказов
									</div>
								</a>
								<a href="/" class="header-2021-mobile-lk-popup-row">
									<div class="header-2021-mobile-lk-popup__text">
										Карта снегири
									</div>
								</a>
								<a href="/" class="header-2021-mobile-lk-popup-row">
									<div class="header-2021-mobile-lk-popup__icon">
										<svg class="icon-header-logout">
											<use xlink:href="icons/all.svg#icon-header-logout"></use>
										</svg>
										
									</div>
									<div class="header-2021-mobile-lk-popup__text">
										Выход
									</div>
								</a>

							</div>
						</div>

					</div>

					
				</div>
				<div class="header-2021-mobile-content-bottom">
					<div class="header-2021-mobile-burger js-header-burger-open">
						<svg class="icon-header-burger">
							<use xlink:href="icons/all.svg#icon-header-burger"></use>
						</svg>
					</div>
					<div class="header-2021-mobile-contact">
							<svg class="icon-header-phone-mobile">
								<use xlink:href="icons/all.svg#icon-header-phone"></use>
							</svg>

					</div>
					{# <a href="/" class="header-2021-mobile-fav active">
						<svg class="icon-header-heart-mobile">
							<use xlink:href="icons/all.svg#icon-header-heart"></use>
						</svg>
						<div class="header-2021-mobile-fav__number">0</div>
					</a> #}

					<a href="/" class="header-2021-mobile-sale">
						<svg class="icon-header-sale">
							<use xlink:href="icons/all.svg#icon-header-sale"></use>
						</svg>
					</a>

					<a href="/" class="header-2021-mobile-cart">
						<svg class="icon-header-basket-mobile">
							<use xlink:href="icons/all.svg#icon-header-basket-mobile"></use>
						</svg>
						<div class="header-2021-mobile-cart__number">0</div>
					</a>
					
				</div>
				
			</div>
			
		</div>
		<div class="header-2021-mobile-menu js-header-burger">
			<div class="header-2021-mobile-menu-bg js-header-burger-close"></div>
			<div class="header-2021-mobile-menu-wrap">
				<div class="header-2021-mobile-menu__close js-header-burger-close"></div>
				<div class="header-2021-mobile-menu-row">
					<a href="/" class="header-2021-mobile-menu__link">Архангельск, ул. Адм. Кузнецова, д. 2 две строки</a>
					<a href="/" class="header-2021-mobile-menu__link">Самовывоз</a>
				</div>
				<div class="header-2021-mobile-menu-row">
					<a href="/" class="header-2021-mobile-menu-catalog">Каталог товаров</a>
				</div>
				<div class="header-2021-mobile-menu-row">
					<a href="/" class="header-2021-mobile-menu-item">
						<div class="header-2021-mobile-menu-item__icon">
							<svg class="icon-header-clock">
								<use xlink:href="icons/all.svg#icon-header-clock"></use>
							</svg>
						</div>
						<div class="header-2021-mobile-menu-item__text mod-status">Проверить статус заказа</div>
					</a>
					<a href="/" class="header-2021-mobile-menu-item">
						<div class="header-2021-mobile-menu-item__text">Как сделать заказ</div>
					</a>
					<a href="/" class="header-2021-mobile-menu-item">
						<div class="header-2021-mobile-menu-item__text">Задать вопрос</div>
					</a>
					<a href="/" class="header-2021-mobile-menu-item">
						<div class="header-2021-mobile-menu-item__text">Помощь</div>
					</a>
					<a href="/" class="header-2021-mobile-menu-item">
						<div class="header-2021-mobile-menu-item__text">Магазины</div>
					</a>
					<a href="/" class="header-2021-mobile-menu-item">
						<div class="header-2021-mobile-menu-item__text">Контакты</div>
					</a>
				</div>
				<div class="header-2021-mobile-menu-row">
					<a href="/" class="header-2021-mobile-menu-item">
						<div class="header-2021-mobile-menu-item__text">Остальные менее важные ссылки</div>
					</a>
					<a href="/" class="header-2021-mobile-menu-item">
						<div class="header-2021-mobile-menu-item__text">Ссылка 1</div>
					</a>
					<a href="/" class="header-2021-mobile-menu-item">
						<div class="header-2021-mobile-menu-item__text">Ссылка 2</div>
					</a>
					<a href="/" class="header-2021-mobile-menu-item">
						<div class="header-2021-mobile-menu-item__text">Ссылка 3</div>
					</a>
				</div>
			</div>
		</div>

	</div>
</header>
