<div class="breadcrumbs breadcrumbs-2021">
    <div class="bx-breadcrumb-item breadcrumbs-2021-back">
        <a href="/" title="Главная" itemprop="item">
            <span itemprop="name">Назад</span><meta itemprop="position" content="1"></a>
    </div>
	<div class="breadcrumbs" id="navigation" itemscope="" itemtype="http://schema.org/BreadcrumbList">
		<div class="bx-breadcrumb-item" id="bx_breadcrumb_0" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
			<a href="/" title="Главная" itemprop="item">
				<span itemprop="name">Главная</span><meta itemprop="position" content="1"></a>
		</div>
		<span class="separator"></span>
		<div class="bx-breadcrumb-item" id="bx_breadcrumb_1" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
			<a href="/catalog/" title="Каталог" itemprop="item">
				<span itemprop="name">Каталог</span><meta itemprop="position" content="2"></a>
		</div>
		<span class="separator"></span>
		<div class="bx-breadcrumb-item drop" id="bx_breadcrumb_2" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
			<a class="number" href="/catalog/lekarstvennye-preparaty-i-bad/" itemprop="item">
				<span itemprop="name">Медицинские изделия</span>
            </a>
			<div class="dropdown_wrapp">
				<div class="dropdown">
					<a href="/catalog/lekarstvennye-preparaty-i-bad/">Лекарственные препараты и БАД</a>
					<a href="/catalog/planirovanie-semi/">Планирование семьи</a>
					<a href="/catalog/mama-i-malysh/">Мама и малыш</a>
					<a href="/catalog/krasota/">Красота</a>
					<a href="/catalog/ortopediya/">Ортопедия</a>
					<a href="/catalog/optika/">Оптика</a>
					<a href="/catalog/sezon/">Сезон</a>
					<a href="/catalog/tekhnika-i-predmety-dlya-zdorovya/">Техника и самодиагностика</a>
					<a href="/catalog/gigiena/">Гигиена</a>
					<a href="/catalog/pishchevye-produkty-i-bady/">Пищевые продукты</a>
					<a href="/catalog/meditsinskie-izdeliya/">Медицинские изделия</a>
				</div>
			</div>
		</div>
		<span class="separator"></span>
		<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
			<span itemprop="item">
				<span itemprop="name">Ингаляторы, Небулайзеры</span><meta itemprop="position" content="7"></span>
		</span>
	</div>
</div>