.order-after{
    position: relative;
    padding-bottom: 228px;
    width: 100%;
    @media screen and (max-width: 940px){
        padding-bottom: 30%;
    }
    &-text{
        font-size: 16px;
        font-family: "HelveticaNeueCyr";
        color: rgb(56, 56, 56);
        line-height: 1.625;
        margin-bottom: 30px;
        &.mod-small{
            font-size: 14px;
            margin-bottom: 30px;
        }
    }
    &__btn{
        display: inline-block;
        flex: 0 0 auto;
        font-size: 14px;
        font-weight: 300;
        font-family: "HelveticaNeueCyr";
        line-height: 1;
        padding: 12px 20px;
        text-align: center;
        font-weight: normal;
        background: #faf9fc;
        color: #383838;
        border: 1px solid #e5e5e5;
        &:hover{
            background: #e5e5e5;
        }
    }
    &__decor{
        position: absolute;
        right: -24px;
        bottom: -50px;
        width: 940px;
        height: 402px;
        background-size: cover;
        background-position: 50% 50%;
        background-image: url(../assets/img/after-decor.png);
        background-repeat: no-repeat;
        z-index: -1;
        @media screen and (max-width: 940px){
            width:100%;
            right: 0;
            height: 0;
            padding-top: 42.766%;
        }
    }
}