<div class="vita-block">
	<section class="order-after">
		<div class="order-after-text">
			Ваш заказ #3453243241 от 415435 принят.<br/>
			В скором времени с вами свяжется оператор для подтверждения заказа.<br/>
			Оплата заказа: Оплата банковской картой
		</div>
		<div class="order-after-text mod-small">
			Товаров в заказе: 25 шт.<br/>
			На сумму: 6 259 руб.
		</div>
		<a href="/" class="order-after__btn">Вернуться в каталог</a>
		<div class="order-after__decor"></div>
	</section>
</div>
