@font-face {
    font-family: 'CyrillicOld';
    src: local('CyrillicOld'), local('Cyrillic Old'), url('CyrillicOld.woff2') format('woff2'), url('CyrillicOld.woff') format('woff'), url('CyrillicOld.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}