.registration {
    display: flex;
    background: #f8f8f8;
    padding: 20px 20px 30px;
    border: 1px solid #f3f3f3;
    @media screen and (max-width: 767px){
        flex-direction: column;
        margin-left: -15px;
        margin-right: -15px;
        padding: 15px 15px 20px;
    }
 
    &-content {
        flex: 1 1 auto;

    }
    &-decor {
        flex: 0 0 auto;
        width: 526px;
        height: 406px;
        background: url('../assets/img/medicine.svg') 50% 50% no-repeat;
        background-size: contain;
        align-self: center;
        margin-left: 30px;
        @media screen and (max-width: 1040px){
            width: 395px;
            height: 305px;
        }
        @media screen and (max-width: 920px){
            width: 263px;
            height: 203px;
        }
        @media screen and (max-width: 767px){
            width: 100%;
            height: 280px;
            margin-left: 0;
            margin-top: 20px;
        }
        @media screen and (max-width: 520px){
            width: 100%;
            height: 153px;
        }
    }
    &__title {
        font-size: 16px;
        font-family: "Gilroy";
        font-weight: 800;
        color: #232833;
        text-transform: uppercase;
        line-height: 1.96;
        margin-bottom: 4px;
        @media screen and (max-width: 767px){
            font-size: 14px;
            text-align: center;
            margin-bottom: 6px;
        }
    }
    &__text {
        font-size: 14px;
        font-weight: 300;
        color: #232833;
        line-height: 1.5;
        margin-bottom: 12px;
        @media screen and (max-width: 767px){
            font-size: 13px;
        }
    }
    ul li::before {
        display: none;
    }
    &-list {
        margin-bottom: 10px;
        &-item {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
            &__title {
                display: flex;
                font-size: 14px;
                font-weight: 500;
                color: #232833;
                line-height: 1.5;
                margin-bottom: 8px;
                &:before {
                    display: inline-block;
                    content: '';
                    width: 28px;
                    height: 1px;
                    line-height: 1px;
                    border-bottom: 1px solid #232833;
                    padding-top: 10px;
                    margin-right: 11px;
                }

            }
            &__text {
                font-size: 14px;
                font-weight: 300;
                color: #232833;
                line-height: 1.5;
                margin-bottom: 14px;
                @media screen and (max-width: 767px){
                    font-size: 13px;
                }

            }
            &-input {
                input {
                    background-color: white;
                    border: 1px solid#eaebec;
                    border-radius: 8px;
                    padding: 7px 13px 8px;
                }
            }
        }
    }
    &__after {
        font-size: 16px;
        font-family: "Gilroy";
        color: #232833;
        line-height: 1.96;
        font-weight: 800;
        margin-bottom: 10px;
    }
    &-buttons {
        display: flex;
        &__btn {
            display: inline-block;
            flex: 0 0 auto;
            font-size: 14px;
            font-family: "HelveticaNeueCyr";
            font-weight: 300;
            line-height: 1;
            background: #e6007d;
            border: 1px solid #e6007d;
            color: #fff;
            padding: 14px 22px 15px;
            transition: all 0.3s ease;
            @media screen and (max-width: 767px){
                margin: 0 auto;
            }
            &:hover {
                background: #cb0a73;
                color: #fff;
            }
        }
    }
    .checkout-acception label {
        font-weight: 300;
        line-height: 20px;
    }
}