<div class="registration">
    <div class="registration-content">
        <div class="registration__title">Уважаемый пользователь,</div>
        <div class="registration__text">Вы впервые зашли на сайт «Аптека-Вита». Для начала работы нам нужна дополнительная информация:</div>
        <ul class="registration-list">
            <li class="registration-list-item">
                <div class="registration-list-item__title">ФИО</div>
                <div class="registration-list-item__text">Чтобы оператор или курьер при доставке знал, как к вам обращаться</div>
                <label class="registration-list-item-input">
                    <input class="inp" type="text" name="reg-name" autocomplete="off" placeholder="Введите ФИО">
                </label>
            </li>
            <li class="registration-list-item">
                <div class="registration-list-item__title">Ваш день рождения</div>
                <div class="registration-list-item__text">Ваша дата рождения, для того, чтобы поздравить и предложить вам дополнительную скидку для праздника</div>
                <label class="registration-list-item-input">
                    <input class="inp" type="text" name="reg-name" autocomplete="off" placeholder="Введите дату вашего рождения">
                </label>
            </li>
            <li class="registration-list-item">
                <div class="registration-list-item__title">Ваш номер карты Снегири</div>
                <div class="registration-list-item__text">Для того, чтобы порадовать вас нашими ценами</div>
                <label class="registration-list-item-input">
                    <input class="inp" type="text" name="reg-name" autocomplete="off" placeholder="Введите номер карты Снегири">
                </label>
            </li>
        </ul>
        <div class="registration__after">
            Спасибо вам, приятных покупок!
        </div>
        <div class="checkout-acception">
            <label class="js-accept">
                <input type="checkbox" class="checkbox">
                <span class="checkbox"></span><span>Я принимаю условия пользовательского соглашения</span>
            </label>
        </div>
        <div class="registration-buttons">
            <a href="/" class="registration-buttons__btn">Сохранить изменения</a>
        </div>
    </div>
    <div class="registration-decor"></div>
</div>